[2021-05-27 07:25] tuoping opened #48 "Automatic Testing on Pull Requests to "develop" Branch"
## Summary

Currently, we have some computation examples in directory `ABACUS.develop/examples` and `ABACUS.develop/tests`, they can potentially serves as Integration Tests when someone adds a pull request to the develop branch. We are also planning to add some Unit Tests.

## Details

Currently, only a subset of ABACUS can be built with standardized build system, which is implemented by @tansongc

[2021-05-27 07:38] tuoping opened #49 "Test parallel efficiency of some larger-scale examples monthly"
## Summary
Test the parallel efficiency of the examples which have larger computation overhead.
This test needs not trigger too frequently. For example, we only do it once a month.
## Related tasks
Confirm and construct a platform for such tests.
## Details
We are bringing in more tests. We expect that the total number of tests are going to be around 200.

[2021-05-28 03:35] tansongchen opened #50 "Systematically Build ABACUS with CMake, Starting with GNU Toolkits"
## Problem Description

ABACUS build relies on the following dependencies:

- C++ compiler
- Fortran compiler
- MPI and MPI C++ compiler
- math libraries: blas, blacs, lapack, scalapack, fftw
- Boost
- ELPA
- libxc
- cereal

Currently, these dependencies can be satisfied in two ways:

1. Using Intel toolkits (including `icpc`, `ifort`, `mpiicpc`, and all math libraries are in MKL), and manually in

[2021-05-31 05:50] tansongchen opened #55 "Build a Docker Image with GNU Toolkits for Both Development Environment and Testing Environment"
# Prerequisites

- #50

# Problem Description

After CMake script is done, we can build a docker image which contains all required dependencies (but don't contain ABACUS itself). This docker image can serve for two purposes:

1. To provide ABACUS developers, especially who are not so familiar with computer science, a clean and reproducible environment to develop new features without wasting time i

[2021-06-17 06:38] #55 closed

[2021-06-17 06:40] tansongchen commented on #55
Solved in #71.

[2021-06-17 06:41] tansongchen commented on #50
Solved in #70, #73, #76 ~ #79. Well done!

[2021-06-17 06:41] #50 closed

[2021-06-17 07:49] tansongchen commented on #48
Solved in #88.

[2021-06-17 07:49] #48 closed

[2021-06-21 02:20] tansongchen opened #90 "Improved Support for Container Usage"
To separate the workflow for pull requests and pushs, see #87 .

[2021-06-22 13:38] mohanchen opened #98 "Reconstructions for the 'base', 'cell', 'neighbor' modules"
**Is your feature request related to a problem? Please describe.**
We would like to split the ABACUS code into small modules, each one of which has a unique function. For example, the 'base' module contains several self-defined types of data (matrix, vector, array, etc.), as well as some math functions. The 'cell' module contains all information related to cells and atoms (positions, velocities, e

[2021-06-27 02:46] xiaolixl opened #103 "Invalid abacus_manual.pdf"
**Describe the bug**
The user manual abacus_manual.pdf file is not valid and cannot be opened.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'ABACUS.develop' folder
2. GO to "documents" folder
2. Click on 'abacus_manual.pdf' or download the pdf by right-clicking -->save link as
4. See error

**Expected behavior**
A pdf file that can be opened and readable.

**Screenshots**
If applica

[2021-06-27 06:31] dyzheng commented on #103
You can try this path to get manual file for ABACUS:
http://abacus.ustc.edu.cn/uploadfile/abacus_manual_v2.1.0.pdf

[2021-07-01 13:19] tansongchen commented on #90
Finished, as shown in #115 #118 .

[2021-07-01 13:19] #90 closed

[2021-07-02 03:05] tansongchen opened #119 "Improved CMake Support"
Developers should be able to configure the project with

[code]

where variable lists either contains

[code]

or

[code]

[2021-07-03 07:34] dyzheng opened #124 "Document development"
Hello everyone, we implement new document of ABACUS in README.md and doc/ on reconstruction branch, please try and leave your suggests about:
1, Not convenient;
2, Lack of some features;
3, Details wrong.

[2021-07-08 10:09] tansongchen opened #151 "Potential Problems Detected by Compiler Warnings"
## Describe the Bug

Intel LLVM compiler (icpx) generates some advanced warnings which may potentially be a bug. Examples include: confusing between `=` and `==`, operator precedence, unwanted conversions, etc.

[icpx.txt](https://github.com/deepmodeling/abacus-develop/files/6783476/icpx.txt)

## To Reproduce
Steps to reproduce the behavior:
1. Clone the source code from `deepks` branch
2. Configu

[2021-07-08 11:36] wenfei-li opened #153 "problem running LCAO calculation with diago_proc>0 and more than 1 MPI thread"
## Describe the Bug
When running LCAO calculation with diago_proc > 0 and more than 1 mpi thread, the run halts after the following in running_scf.log:
[code]

## To Reproduce
Steps to reproduce the behavior:
1. Clone the latest code from reconstruction branch
2. Compile the code with the following flags in Makefile.vars:

[code]

3. Copy the example 02a_Si_diamond_lcao_scf/ and add one line in th

[2021-07-08 14:00] tansongchen commented on #119
Finished.

[2021-07-08 14:00] #119 closed

[2021-07-08 23:08] mohanchen commented on #153
Thanks for reporting the problem! I will look into it within a couple of days.

[2021-07-09 02:57] YuLiu98 opened #155 "Bug of PW stress calculation when npool>1"
## Describe the Bug
When running PW calculation, stress is wrong if npool>1

## To Reproduce
Steps to reproduce the behavior:
1. Clone the latest code from reconstruction branch
2. Compile the code with Intel compiler
3. calculate stress of fcc Al with npool=1
4. calculate stress of fcc Al with npool>1 (such as 8)

## Environment
- OS: ubuntu 16.04
- Compiler: Intel Parallel Studio XE 2017
- Optio

[2021-07-09 03:23] tansongchen opened #156 "Intel OneAPI based Container"
## Describe Current Status and Possible Solution

Recently I made a patch to ELPA 2016.05.004, enabling it to be compiled with Intel OneAPI (icpc, mpiicpc). Therefore we can make a Intel OneAPI based container. The patch is extremely simple: just delete five lines (7055 ~ 7059) at `/ltmain.sh`. I attach the patched archive here.

[elpa-2016.05.004.zip](https://github.com/deepmodeling/abacus-develo

[2021-07-09 03:32] dyzheng commented on #155
The npool setup has not been fully tested in stress code.
This bug will be fixed as soon as possible.

[2021-07-18 07:38] #103 closed

[2021-07-18 07:38] dyzheng commented on #103
solved.

[2021-07-22 09:29] wenfei-li opened #203 "Some issues regarding several input variables"
First of all, we will need some short explanation or (preferably) some documentation on the input variables regarding:
**DFT+U
Hybrid functional
Spectrum
TDDFT**

Secondly, there are a few variables that seems are either not implemented yet or already obsolete:

**mlwf_flag
diago_cg_prec
restart_mode
restart_save
restart_load
input_error
mdoutputpath**

Also, the variable **lmaxmax** sets an upper

[2021-07-23 03:58] wenfei-li commented on #203
latname is implemented, to be tested and documented soon

[2021-07-23 05:41] wenfei-li opened #207 "input checks"
**Is your feature request related to a problem? Please describe.**

The input check is not very comprehensive. Sometimes the user will not be notified of problematic input, and the calculation will proceed to give wrong results.
For example, if there are two types of elements in the system, while in INPUT, ntype is supplied as 1, then the program will proceed after reading information regarding th

[2021-07-23 08:41] mohanchen commented on #207
Excellent! We should definitely fix these issues.

[2021-07-23 09:22] mohanchen commented on #203
Great, I will give some feedbacks asap.

[2021-08-11 04:48] dyzheng opened #265 "force or stress output error : garbage characters"
**Describe the bug**
If test_force and test_stress option off, the screen output and output in running.log are both correct.
But if test_force or test_stress option on, the screen output would be garbage characters while running.log output is still correct.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to any example in path tests/integral/, then set "stress" and "test_stress" as value

[2021-08-11 07:05] dyzheng commented on #265
Error screen output maybe like that:
......
SELF-CONSISTENT :
 -------------------------------------------
 ITER   ETOT(eV)       EDIFF(eV)      DRHO2      CG_ITER    TIME(S)
 CG1    -2.118003e+02  0.000000e+00   1.885e-09  9.797e+00  6.705e-01
 CG2    -2.118001e+02  2.212599e-04   9.424e-10  4.219e+00  1.733e-01
 CG3    -2.118001e+02  -1.307544e-09  4.241e-11  2.141e+00  1.195e-01

 TOTAL-STRESS

[2021-08-11 08:25] dyzheng opened #267 "error for test case 201_NO_KP_DJ_CF_CS_GaAs : scalapack solver error!"
**Describe the bug**
1. example : tests/integral/201_NO_KP_DJ_CF_CS_GaAs
2. error output:

    =   BAD TERMINATION OF ONE OF YOUR APPLICATION PROCESSES
    =   PID 23602 RUNNING AT 4ef21388ba08
    =   EXIT CODE: 4
    =   CLEANING UP REMAINING PROCESSES
    =   YOU CAN IGNORE THE BELOW CLEANUP MESSAGES
    =====================================
    YOUR APPLICATION TERMINATED WITH THE EXIT STRING:

[2021-08-11 08:35] #265 closed, assigned to mohanchen, dyzheng

[2021-08-11 08:40] dyzheng commented on #155
#204

[2021-08-11 08:41] #155 closed

[2021-08-11 09:55] caic99 commented on #267
My reimplement:
Warning: Lapack routine DSTEDC failed, info=       17, Trying DSTEQR!

[2021-08-12 07:41] dyzheng commented on #267
Did that warning caused this error? using genelpa?

[2021-08-12 08:01] wenfei-li opened #273 "Convergence problem with ks_solver = genelpa"
**Describe the bug**
I have recently been working on a Li3Sn system. With ks_solver = genelpa, convergence was achieved for gamma point calculation as well as k point sampling with a 2*2*2 mesh. However, k-point mesh 3*3*3 becomes problematic and convergence was not achieved after 100 SCF iterations.
Convergence was achieved for 3*3*3 after switching to ks_solver = hpseps.

**To Reproduce**
Releva

[2021-08-12 08:28] mohanchen opened #274 "input parameter 'out_wf'"
**Is your feature request related to a problem? Please describe.**
the 'out_wf' parameter controls the output format of wave functions, and we have more than one option.

**Describe the solution you'd like**
Add more options

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Additional context**
Add any other

[2021-08-12 08:33] mohanchen opened #275 "Add autotests for initialization of occupations/velocities in TDDFT"
**Is your feature request related to a problem? Please describe.**
We need autotests to know the inputs of occupations and velocities are correct.

**Describe the solution you'd like**
Yuanbo will provide a few tests to ensure the correctness of TDDFT functions.

[2021-08-12 08:44] mohanchen opened #276 "Add unit tests (UT) for MD module using the LJ potential"
**Is your feature request related to a problem? Please describe.**
We have a stand-alone MD module in ABACUS now, we need unit tests to ensure the MD module is correct.

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've consider

[2021-08-12 08:45] caic99 commented on #267
## Intel MKL ('17) + GCC 8.3.1

### scalapack_gvx
<=2 processes: not converging (related to another issue)
\>2 processes: terminate called after throwing an instance of 'std::runtime_error'
  what():  info=2. /home/caichun/abacus-develop/source/src_pdiag/pdiag_double.cpp line 1171

)

### genelpa
\>2 processes: converged.

### hpseps
Converged.

## Scalapack + GCC 7.5.0

### genelpa
1 process (inv

[2021-08-12 08:45] mohanchen opened #277 "Add unit tests for the base module"
**Is your feature request related to a problem? Please describe.**
We need unit tests for the base module.

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Additional context**
Add any other context or screensho

[2021-08-12 09:12] Qianruipku commented on #274
"out_wf" has three options:
0: no output for wave functions
1: Wave functions are stored in text files
2: Wave functions are stored in binary files which need less storage space.

[2021-08-12 09:12] #274 closed, assigned to Qianruipku

[2021-08-12 14:58] mohanchen opened #281 "reconstruction of PW module in order to make it compatible with GPU"
**Is your feature request related to a problem? Please describe.**
We need to have a clear line for PW that is suitable for both CPU, GPU, or even DCU versions.

**Describe the solution you'd like**
Reconstruction of some PW codes.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Additional context**
Add any

[2021-08-12 15:02] mohanchen opened #282 "We need a clear DeePKS+ABACUS workflow"
**Is your feature request related to a problem? Please describe.**
The DeePKS feature implemented in ABACUS should be correct, should be parallelled, and the workflow and related documents are needed.

**Describe the solution you'd like**
Add more new features in ABACUS-DeePKS, more tests for different systems.

**Describe alternatives you've considered**
A clear and concise description of any alt

[2021-08-16 03:16] Liu-RX opened #288 "temperature bug when using NVT Molecular Dynamics with LCAO"
**Describe the bug**
I ran an MD of a single methane (CH4) in a 10\*10\*10 Angstrom^3 box with NVT ensemble.
The basis is lcao and functional is LDA.
PBE ONCV pseudopotentials are used.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '1_lcao_md'
2. View '1.out'
3. Scroll down to line 75
4. See error

**Expected behavior**
The temperature should not be '-nan'.

[1_lcao_md.zip](https://g

[2021-08-16 07:49] dyzheng commented on #288
Direct run this test would cause this error:
"NLOCAL < GlobalV::DSIZE"
(caused by ELPA in GNU compiler, using hpseps wouldn't cause this error.)

[2021-08-16 07:54] dyzheng commented on #288
As for error mentioned in this issue, it is caused by no atom can move in MD calculation.
It is neccerary to add a warning_quit there to quit program when "nfrozen==ucell.nat"  .
Now, I recommend you to set atom movement label in STRU file.

[2021-08-16 14:47] dyzheng commented on #288
#290 fixed bug that "all frozen atoms should not be allowed to run MD"

[2021-08-17 08:00] #288 closed, assigned to mohanchen

[2021-08-17 08:01] wenfei-li opened #291 "Calculating kinetic energy density with LCAO"
**Is your feature request related to a problem? Please describe.**
In order to implement meta-GGA with LCAO, a subroutine for calculating kinetic energy density with LCAO is required.
The kinetic energy density is defined as:
![image](https://user-images.githubusercontent.com/38569667/129693571-e4a2685c-bad4-4361-b75a-dbed5a2760f7.png)
where f(i) is the occupation number of state i, and the index

[2021-08-17 08:13] dyzheng commented on #207
[#290 ](url)

[2021-08-17 08:25] mohanchen opened #293 "How to define the starting magnetic moments for each atom?"
**Is your feature request related to a problem? Please describe.**
We need to have a CONVENIENT setup for the starting magnetic moments for each atom.

**Describe the solution you'd like**
Maybe an array in the input file to setup the starting magnetic moments.

**Describe alternatives you've considered**
Otherwise, we can specify the magnetic moments in the STRU file.

**Additional context**
We n

[2021-08-17 08:50] #151 closed

[2021-08-18 02:46] lyb9812 commented on #275
#295

[2021-08-18 02:55] lyb9812 commented on #275
#295

[2021-08-18 09:27] DYang90 commented on #293
There are 3 input structures could be considered.
1、symbol='Ni',magmom=2,...<\n>symbol='Ni',magmom=-2,...<\n>symbol='O',magmom=0,...<\n>symbol='O',magmom=0,...
2、symbol='Ni Ni O O', <\n>magmom='2 -2 2*0',<\n>....
3、symbol='Ni1',magmom=2,...<\n>symbol='Ni2',magmom=-2,...<\n>symbol='O',magmom=0,...
The second one might be suitable for manual inputs，because some values of magmom can be abbreviated as

[2021-08-18 09:31] DYang90 commented on #293
**There are 3 input structures could be considered.**
1.
symbol='Ni',magmom=2,...
symbol='Ni',magmom=-2,...
symbol='O',magmom=0,...
symbol='O',magmom=0,...
2.
symbol='Ni Ni O O',
magmom='2 -2 2*0',
....
3.
symbol='Ni1',magmom=2,...
symbol='Ni2',magmom=-2,...
symbol='O',magmom=0,...

**The second one might be suitable for manual inputs，because some values of magmom can be abbreviated as ntype*magmo

[2021-08-18 13:53] dyzheng commented on #267
another error reported for this test case :
* multi core result differ from one core's with hpseps ks_solver in docker environment.
* Only multi K points would have this difference, when gamma_only result is same between one core and multi cores.

[2021-08-18 14:09] dyzheng commented on #267
There would be 3.0e-5 eV error in total energy between one core and 4 core results in newly version using hpseps solver.
In version e1c0d395e178f125d13ee2fc069ee2ac17e232d6 in 2021/05/21, there is no deviation using genelpa solver, and still have error 4.0e-5 eV using hpseps solver.

[2021-08-19 06:12] Qianruipku commented on #281
#127 src_pw can compile pw module solely.
#133
#171 src_pw can be compiled without mpi

[2021-08-19 06:17] ddhhss commented on #281
#297 add hpsi function, add_nonlocal function and fix bugs of FFT.

[2021-08-19 06:17] Qianruipku commented on #281
#133

[2021-08-20 07:37] mohanchen commented on #293
OK, we will try to update the function.

[2021-08-20 07:58] mohanchen commented on #291
In order to obtain the kinetic energy density, 'grid integration' should be done. First, we need to expand \nable psi (here psi is the wave functions of the system) into atomic orbitals, and then we need to obtain the derivative of atomic orbitals with respect to r (which is already tabulated from read-in atomic orbitals), and then add some code lines in Gint_Tools::cal_psir_ylm in order to get de

[2021-08-20 07:59] mohanchen commented on #281
Excellent, qianrui and I will help to reorganize the code structures regarding the GPU code for pw.

[2021-08-20 08:00] mohanchen commented on #277
Chentao will participate in to solving this issue.

[2021-08-20 08:00] mohanchen commented on #276
To be specific, we only need tests to demonstrate that the final energy and forces are correct from the LJ potential.

[2021-08-20 08:03] mohanchen opened #303 "Add unittests for the 'orbital' module"
**Is your feature request related to a problem? Please describe.**
The combination of the 'cell' and 'orbital' modules should have the ability to read in atomic positions and generate overlap matrix S.

**Describe the solution you'd like**
Wenfei will try to implement this new feature.

[2021-08-22 03:09] DYang90 commented on #293
I suggest that the magnetic moments should be specified in the STRU file. In this way, we can edit the magnetic moments in STRU file by some visualizer tools.

[2021-08-23 08:02] ZhouGD2000 commented on #293
I use the second structure suggested by @DYang90, which is also used in VASP,  but also preserve the original way.
The input struture is
[code]
where m1,m2,m3,....following the same order as the atom  type in STRU file, and is defined in INPUT file. There must be NO space before and after *.

Either defining the magnetic moment in this way  or in STRU file is allowed, but not both of them.
NOTICE:

[2021-08-24 18:37] DYang90 commented on #293
Perhaps some forethought for noncollinear magnetic case is necessary.

[2021-08-27 06:58] dyzheng opened #329 "Unittest should not include in default compile setup when using cmake, we must support installing offline."
**Is your feature request related to a problem? Please describe.**
Now, cmake should download googletest from github, the speed of this step depends on status of network.
If one can't connect github.com, it would be bother for him to use cmake now.
Please modify default setup in CmakeLists.txt.

[2021-09-02 05:36] #276 closed, assigned to Qianruipku, YuLiu98

[2021-09-02 07:15] #275 closed, assigned to Qianruipku

[2021-09-02 08:26] #329 closed, assigned to mohanchen, caic99

[2021-09-02 08:38] caic99 commented on #124
@maki49 Would you please add a more detailed usage and example of `doxygen` for us.

[2021-09-02 08:43] caic99 opened #341 "Duplicate code in hamilt.cu"
In the branches regarding `NPOL==1`, the code segments are almost the same.
https://github.com/deepmodeling/abacus-develop/blob/bf6ded3ff4a22ca76872b8f276c68efa662782e0/source/src_pw/hamilt.cu#L97
Possible solution: assign variables in if statement, and put the main part outside of it.

[2021-09-02 09:50] ZhouGD2000 opened #344 "using provided lapack.h instead of ours"
To move declaration of some lapack function out of dftu.cpp, which is not well organized.

[2021-09-05 12:56] ddhhss commented on #341
I chceked the code again, and because the diag function requires both dim and dmx parameters, the two parts of the code are not easy to combine.

[2021-09-06 03:12] #341 closed, assigned to ddhhss

[2021-09-06 06:12] wenfei-li commented on #303
A unit test for module_orbital is provided with PR [#320 ](url), which generates the T(R) and S(R) tables from atomic orbital basis set files
Another unit test for module_orbital, module_cell and module_neighour which generates the overlap (S) and kinetic (T) matrices from STRU, KPT and atomic orbital basis set files is provided in PR #347

[2021-09-06 06:12] #303 closed, assigned to mohanchen, wenfei-li

[2021-09-12 02:55] Qianruipku opened #358 "OpenMP Warning when compiling ABACUS with cmake"
## Describe the Bug
ABACUS can be compiled successfully.
However, there is a "unrecognized OpenMP #pragma" warning when compiling ABACUS with cmake.

## To Reproduce
Steps to reproduce the behavior:
1. cmake -B build -DCMAKE_CXX_COMPILER=icpc -DMPI_CXX_COMPILER=mpiicpc -DCMAKE_INSTALL_PREFIX=~/intelcompile/testabacus -DELPA_DIR=/home/qianrui/intelcompile/impi_elpa -DCEREAL_INCLUDEDIR=/home/qianrui

[2021-09-21 07:28] Qianruipku opened #369 "We can add a linear algorithm for calculating Structure Factor"
## Describe Current Status and Possible Solution

Now, our algorithm for structure factor scales O(N^2). It will affect most the efficiency for large systems.
We can use a interpolation algorithm to calculate Structure Factor.

## Additional Context

Add any other context or screenshots about the enhancement here.

[2021-09-27 13:34] caic99 commented on #358
It seems that the openmp compiler flag is not properly linked in `CMakeLists.txt`. I will look into it.

[2021-09-30 03:22] YuLiu98 opened #378 "Error of the new VNL calculation method"
## Describe the Bug
I test the AlH system by running AIMD with LCAO in reconstruction branch.
In the first MD step, everything is OK, but something goes wrong in the second MD step.
It seems that the function build_Nonlocal_mu_new in src_lcao/LCAO_gen_fixedH.cpp has some problems.

## To Reproduce
Relevant input files are attached, along with the output I got.

## Environment
- OS: Ubuntu18.04
- C

[2021-09-30 09:42] dyzheng commented on #378
Can you recheck this test case using the branch "newelpa"? I runned this branch and didn't find any error.

[2021-10-02 03:00] sunliang98 opened #379 "Electronic scf convergence problem during cell relax"
## Describe the Bug
I run cell-relax in a fcc Al system, containing 21 atoms arranged along fcc[111] direction. With force_thr_ev = 0.000001, electronic convergence  cannot be achieved after 100 scf, while it can be achieved when force_thr_ev=0.01.
Then, I test the cell-relax of fcc Al primitive cell. There is no problem in electronic scf, but the program wouldn't stop even if force = 0, with forc

[2021-10-13 10:20] lyb9812 opened #386 "Bugs for TDDFT"
## Describe the Bug
The forces of AlH system are different for different core numbers after scf calculation in reconstruction branch.

## To Reproduce
Relevant files are in the attachment.  Run scf.sh to calculate  and then run_result_scf.sh to see the result.

## Environment
- OS: CentOS Linux release 7.6.1810
- Compiler: intel2018
- Optional Dependencies: fftw-3.3.8 boost_1_64_0 elpa-2016.05.004

[2021-10-14 04:24] dyzheng commented on #378
#387 wenfei-li has fixed this bug.

[2021-10-14 04:24] #378 closed, assigned to wenfei-li, dyzheng

[2021-10-14 06:47] dyzheng commented on #267
#383 solved error with ELPA, using ELPA2021 is ok for both intel oneAPI and GNU compiler

[2021-10-14 06:51] dyzheng commented on #267
Now, only scalapack solver is error. Set parameter: "ks_solver  scalapack_gvx" and use multi cores calculation, the error will occurs in dyzheng's environment and will not occurs in PeizeLin's environment.

[2021-10-14 07:43] dyzheng commented on #358
#389 caic99 has fixed this problem.

[2021-10-14 08:01] dyzheng opened #390 "A example for grid integral error!"
## Describe the Bug
There is a bug occured when calculating this example
[501_NO_neighboring_GaAs512.zip](https://github.com/deepmodeling/abacus-develop/files/7344144/501_NO_neighboring_GaAs512.zip)
## To Reproduce
Steps to reproduce the behavior:
1. Newelpa branch.
2. Different bug information for gamma_only option on and off, but both these bugs occured during calculating Hamiltonian local part.

[2021-10-14 08:03] dyzheng opened #391 "Numerical error occurs in multi cores calcualtion in LCAO, it is found in Fe2 examples."
## Describe the Bug
In principle, different number of core would lead to same total energy, but in the example abacus-develop/tests/integrate/304_NO_GO_AF , the digital error is too large to ignore.
In my test, total energy for two Fe atoms for antiferromagnetic calculation is:
* 4 core: -6373.574042773125
* 8 core: -6373.574042694958
this error occured in tests:
* gamma_only=1 + nspin=2
* gamma_o

[2021-10-14 09:22] dyzheng opened #392 "PW, Ewald part, 4core and below get stuck, above 4 core return error"
## Describe the Bug

PW, Ewald part, 4core and below get stuck, above 4 core return error
[H_Ewald_pw rgen.zip](https://github.com/deepmodeling/abacus-develop/files/7344766/H_Ewald_pw.rgen.zip)

[2021-10-15 06:13] Liu-RX opened #394 "ABACUS MD output"
## Background
The problems are encountered when I was adding ABACUS MD interface in dpdata (https://github.com/deepmodeling/dpdata).

## Problems
(1) The index number of output cif file containing atomic coordinates does NOT match the ion iteration index written in `running_md.log`.
For example, file `md_pos_1.cif` actually corresponds to atomic coordinates of `ION=   2` iteration, rather than `IO

[2021-10-16 10:01] #369 closed, assigned to Qianruipku

[2021-10-18 09:22] wenfei-li opened #400 "AIMD stops at 75-th MD step"
## Describe the Bug
I've been running some AIMD calculations on CH4, starting from slightly different configurations. All of the calculations stop in the middle of the 75-th MD step with errors.

## To Reproduce
Steps to reproduce the behavior:
1. Code : the latest newelpa branch
2. Compile : on Lebesgue, follow the steps in Dockerfile.intel
3. Running : I used 4 MPI threads to run the job
4. Exam

[2021-10-22 02:37] YuLiu98 opened #405 "close symmetry when exx is used"
## Describe Current Status and Possible Solution

So far, the symmetry option is unsupported when exx is on;
it had better close symmetry automatically if exx is on.

## Additional Context

[2021-10-26 09:31] Liu-RX commented on #394
I think it's also necessary to add a parameter recording number of element species in STRU file.
Right now we have element number stored in INPUT while the structure information is stored in STRU. In this way, we cannot decouple input calculation parameters and structure information into the two files, since the number of elements is stored in INPUT rather than STRU.

[2021-11-07 07:36] Liu-RX opened #440 "ABACUS relaxation error on HPC platform"
## Describe the Bug
A clear and concise description of what the bug is.
I bumped into this error when I was testing abacus 2.2.0 beta relax on Beijixing HPC. The bug can be repeatedly performed on cn-large nodes, but on cn_nl nodes everything works fine. I don't know what happens on cn-large nodes.

## To Reproduce
Steps to reproduce the behavior:
1. Clone the source code from abacus_2.2.0_beta br

[2021-11-08 05:03] dyzheng opened #441 "Update HPSEPS solver"
## Background
There are three matrix solver in ABACUS lcao code: (parameter: ks_solver)
1. scalapack_gvx, seems good now, no extra installation request.
2. genelpa, most efficient, not robust enough for small systems, not convenience for installing.
3. hpseps, only suitable for gamma_only=0, need to update to the latest version.

## Describe the solution you'd like
We plan to keep working with Dr.

[2021-11-08 05:24] dyzheng opened #442 "Grid integral"
## Describe Current Status and Possible Solution

Grid integral module in ABACUS need to be optimized for:
1. it cost so much memory for large systems that more than 32G memory used for GaAs_512_system
2. the parallel method for this module now is just along z axis, it is not very smart.
3. we should unify the interface for this module.

[2021-11-08 05:48] dyzheng commented on #442
Related issue is #390

[2021-11-08 05:49] dyzheng commented on #390
Related issue is #442

[2021-11-08 05:49] #390 closed, assigned to dyzheng

[2021-11-08 06:07] dyzheng opened #443 "Autotest updates"
## Describe Current Status and Possible Solution

We should update our autotest cases for:
1. small molecular cases such as CH4.
2. error cases reported in other issues.

## Additional Context

We also need to add more check items to existed cases, such as eigenvalues or band gaps.

[2021-11-08 06:24] dyzheng opened #444 "PBE single shot from LDA charge density"
## Describe the Bug
Input charge density file from convergent LDA result, and then to PBE scf for only one step, the eigenvalue is lower than the PBE  convergence charge density. This phenomenon occurs both in PW code and LCAO code.

## Environment
Branch develop or ABACUS_2.2.0_beta before 2021/11/08
[pbe_single_shot.zip](https://github.com/deepmodeling/abacus-develop/files/7494700/pbe_single_sho

[2021-11-08 07:17] dyzheng opened #445 "ABACUS IO needs keeping updating!"
## Describe Current Status and Possible Solution

1. Output for LCAO and PW should be unified.
2. All INPUT parameters should output in OUT.suffix/INPUT.
3. Useless output and input should be deleted.
4. Other updates.

Please comment here!

[2021-11-08 08:54] caic99 commented on #440
How do you run the program? More concisely, under which `mpi` environment?

[2021-11-08 09:41] Liu-RX commented on #440
I ran the program with 2019 Intel mpirun, as same as the compilers.

[2021-11-09 06:24] caic99 commented on #440
Did you compile and run the program on the same platform?

[2021-11-09 07:01] Liu-RX commented on #440
Yes. The only difference is that I compiled it on login node and ran the program on computation node. But one kind of nodes works while another kind of nodes does not.

[2021-11-09 07:53] #358 closed, assigned to dyzheng

[2021-11-10 05:29] caic99 commented on #440
And that's the problem: the targeted platform differs from your compiled verion.
Recompile with a designated [architecture flag](https://gcc.gnu.org/onlinedocs/gcc/x86-Options.html) matching that of the computation node, or just compile and run on it.

[2021-11-12 03:03] dyzheng commented on #400
caused by ELPA, use scalapack_gvx is okay for this test.

[2021-11-12 03:03] #400 closed, assigned to dyzheng

[2021-11-12 03:05] dyzheng commented on #273
From tests, all three solver has same result, this case is hard to convergent.

[2021-11-12 03:05] #273 closed, assigned to wenfei-li, dyzheng

[2021-11-12 03:08] dyzheng commented on #267
scalapack_gvx for k is correct now, but still has problem for gamma_only

[2021-11-12 03:08] #267 closed, assigned to mohanchen, dyzheng

[2021-11-12 13:12] yufengwhy opened #449 "Had deepks been merged to abacus?"
## Background
Had deepks been merged to abacus to calculate solid?
Is there any examples for solid?
what are the labels to train deepks? such as the plane wave for CCSD?

[2021-11-13 07:48] dyzheng commented on #449
1. You can use branch deepks to calculate solid.
2. @wenfei-li
3. Now, only numerical atomic orbitals basis support DeePKS calculation.

[2021-11-13 07:53] dyzheng commented on #444
We tested that QE also has this result using same PBE pseudopotential for 1, PBE start from LDA convergence charge density; 2, PBE scf.

[2021-11-13 07:53] #444 closed, assigned to dyzheng

[2021-11-13 07:58] dyzheng commented on #440
Did this problem solved? Can we close this issue?

[2021-11-13 08:09] dyzheng opened #450 "New ELPA solver is not robust enough"
## Describe the Bug
The release version https://elpa.mpcdf.mpg.de/software/tarball-archive/Releases/2021.05.002/elpa-2021.05.002.tar.gz is not robust enough.
We should gather bug cases to find out the reason.

## To Reproduce
We need 1, input files for this case. 2, Wrong matrix H and S.

[2021-11-15 08:35] #440 closed, assigned to dyzheng

[2021-11-19 08:23] pxlxingliang commented on #445
when doing MD, in the screen output, SCF loop has no title.

[2021-11-19 08:25] pxlxingliang opened #464 "Incorrect electron number when setting 'smearing' to be 'fixed' and symmetry to be '1'"
## Describe the Bug
When setting 'smearing' to be 'fixed' and symmetry to be '1',  the electron number by summing the value in all k-points is wrong.
[example.zip](https://github.com/deepmodeling/abacus-develop/files/7568809/example.zip)

[2021-11-22 04:58] dyzheng opened #465 "Ionic relaxation error for magnetic system"
## Describe the Bug
Jin Gan from USTC raised a bug fixed requirement that relaxation calculation is different from version in 2021/08.

## To Reproduce
To test this case, I tested 204_NO_KP_FM case, modified:
1.  calculation from scf to relax
2.  charge_extrap set to "atomic" and "second-order"
3.  nstep set from 1 to 10
4.  move second Si atom for a little.
5.  compare with version in 2021/08/01

[2021-11-22 05:36] dyzheng commented on #465
I tested that atomic second-order method has same wrong results. It caused by atomic_rho calculated wrong in step 3.

[2021-11-22 05:44] dyzheng commented on #465
The only difference of newly version and 0801 version is startmag_type from 1 --> 2, it is caused by when starting magnet is readed from per element, it is also defaultly pass to atom->mag. It leads to same effect as directly set atomic magnet.

[2021-11-22 05:46] dyzheng commented on #465
I still don't know why start from atomic magnet would cause atomic_rho error in step 3. I will modify the default startmag_type to element magnet.

[2021-11-22 06:16] pxlxingliang commented on #445
When doing the relax, the log file will print the STATE ENERGY(eV) AND OCCUPATIONS of all k-points in each ION step, which makes the log file un-readable when k-points are large.
Or we may need an additional file to output the summarization of the key informations like energy, stress, force, time etc.

[2021-11-23 12:56] yufengwhy opened #470 "Add some notes to pw force"
## Describe Current Status and Possible Solution

https://github.com/deepmodeling/abacus-develop/blob/develop/source/src_pw/forces.cpp

Is there any reference material for force with plane wave? Which can match above code.
1. Why force can be summed via ion, local and nonlocal parts?
2. Is it true that " ion=local+nonlocal "? If so, the ion part are repeated calculated?

[2021-11-24 10:34] Qianruipku commented on #470
Reference: Martin, Electronic Structure P182 P256
F=F_ion(or F_ewald)+F_local+F_nonlocal. Local and nonlocal parts derive from the local and nonlocal parts of pseudopotential (See P 255).
F_ion describe the forces between ions, while F_local and F_nonlocal are the forces between electrons and ions.
So ion is not equal to local + nonlocal

[2021-11-24 10:38] Qianruipku commented on #470
![图片](https://user-images.githubusercontent.com/76200646/143223008-4df2a15f-df0f-443f-b573-764a6e20a90d.png)

[2021-11-24 10:39] Qianruipku commented on #470
![图片](https://user-images.githubusercontent.com/76200646/143223075-92e80712-a5c9-47e7-b355-043fed97b5b4.png)

[2021-11-24 14:46] yufengwhy commented on #470
Thanks a lot. Eq. (13.3) gives an explicit form. Is there recommended reference materials for:
1. The [code](https://github.com/deepmodeling/abacus-develop/blob/develop/source/src_pw/forces.cpp) has scc and nlcc terms, representing what?
2. The derivation of Eq. (13.3) ,
2. The derivation of Eq. (13.3) to the c++ [code](https://github.com/deepmodeling/abacus-develop/blob/develop/source/src_pw/forc

[2021-11-25 08:14] Qianruipku commented on #470
NLCC: non-linear core corrections  See P219 and SG Louie, S Froyen, ML Cohen, Physical Review B, 1982
SCC: contributino due to incomplete SCF calculation. See P183 and C. T. Chan, K. P. Bohnen, and K. M. Ho, Phys. Rev. B 47, 4771
Force is only the derivative of energy about atom's positions. I did not see any detailed derivation. Maybe you can refer to the detailed expression of total energy in Ma

[2021-11-26 10:14] hongriTianqi opened #481 "k-point symmetry affects final energy in simple monoclinic lattice in both pw and LCAO base"
## Describe the Bug
k-point symmetry affects final energy in simple monoclinic lattice in both pw and LCAO base

## To Reproduce
Steps to reproduce the behavior:
diff 812_PW_LT_sm_symmetry_0/result.ref 812_PW_LT_sm_symmetry_1/result.ref
diff 826_NO_LT_sm_symmetry_0/result.ref 826_NO_LT_sm_symmetry_1/result.ref
[simple_monoclinic_bug.tar.gz](https://github.com/deepmodeling/abacus-develop/files/7608

[2021-11-26 11:27] dyzheng opened #484 "SCF convergence threshold for PW and LCAO lines are different"
## Describe Current Status and Possible Solution
dr2 set to 1.0e-8, finally energy difference is different between PW and LCAO code.

This should be checked and modified later.

[2021-11-29 01:33] mohanchen commented on #470
@yufengwhy Hi, I think this topic is not an issue, it is a discussion, I would suggest moving this topic to the github "discussions" panel. Thanks a lot.

[2021-11-29 01:33] #470 closed, assigned to dyzheng, Qianruipku

[2021-11-29 01:34] mohanchen commented on #470
If you have more questions about the basic formulas of DFT, please try to use the "discussions" panel.

[2021-11-29 01:36] mohanchen commented on #465
@dyzheng Who will be responsible for adding new autotests? "why start from atomic magnet would cause atomic_rho error " this should be a new issue.

[2021-11-29 01:49] mohanchen opened #486 "It is unable to start magnetization from contributions of each atom"
## Background
Previously, ABACUS (such as version 2.1.0) only supports the starting magnetization from each type of element. In the summer of 2021, Zhou Gengdong had updated this function, after the updates, we thought the magnetization could be starting from the contribution of each atom. However, recently we found this new functionality has some bugs. @dyzheng changed the code back to the origin

[2021-11-29 01:50] #449 closed, assigned to mohanchen, wenfei-li

[2021-11-29 01:53] mohanchen commented on #445
@YuLiu98  Could you take a look at this issue and keep me updated?

[2021-11-29 02:01] #282 closed, assigned to mohanchen, maki49, Liu-RX, YuLiu98

[2021-11-29 02:01] mohanchen commented on #282
Wenfei has implemented most of the above requirements.

[2021-11-29 02:25] mohanchen opened #487 "We need to have more documents for developers and users."
## Describe Current Status and Possible Solution

Currently, we need to teach basic knowledge to new ABACUSers face-to-face, this is inefficient. We need to have some detailed documents for these guys.

## Additional Context

Documents/examples/videos/tutorials obtained from a Hands-on workshop for ABACUS (when will it be ready? 2.2 version? maybe with Lebesgue?)

This should be done approximately

[2021-11-29 02:28] YuLiu98 opened #488 "Scf convergence of HSE hybrid functional is hard for the BBO system."
## Describe Current Status and Possible Solution

Scf convergence of HSE hybrid functional is hard for some systems such as the BBO system.
[BBO_test.zip](https://github.com/deepmodeling/abacus-develop/files/7615070/BBO_test.zip)

It is difficult for users to tune so many parameters, which need to be improved.

## Additional Context

Add any other context or screenshots about the enhancement here.

[2021-11-29 02:31] mohanchen opened #489 "Is ABACUS able to run with DPGEN and generate sufficiently accurate DP potentials?"
## Background
In the near future, ABACUS should be able to run on new machines such as GPUs, then it will be possible to provide computationally less costly data to generate DP potentials. However, we would like to ask a question, is it possible to generate sufficiently accurate DP potentials with numerical atomic orbitals?

## Describe the solution you'd like
We have implemented an interface betw

[2021-11-29 02:38] #124 closed

[2021-11-29 02:38] mohanchen commented on #124
We will have a new issue on this topic.

[2021-11-29 02:39] #156 closed, assigned to caic99

[2021-11-29 02:39] mohanchen commented on #156
We have used the new version of ELPA.

[2021-11-29 07:55] dyzheng commented on #486
Correction, #465 this issue remained a new question that if start magnetization from contributions of each atom, it is correct in first step SCF calculation, but would be error when any atom moves.

[2021-11-29 07:56] dyzheng commented on #465
#467

[2021-11-29 07:56] #465 closed, assigned to dyzheng

[2021-11-29 08:05] dyzheng opened #491 "Scalapack eigenvalue solver would be called twice in one electronic step, this would waste time!"
The scalapack eigenvalue solver in ABACUS (hs_solver = scalapack_gvx) need to specify how many degeneracies does hamiltonian matrix have. If the default number 12 is too small, the function would be called twice.

[2021-11-29 11:50] dyzheng opened #492 "In multi-k calculation, there are too many eigenvalue outputs in OUT.suffix/running_calculation.txt, should we move them to where else?"
In order to simplify the output file in ABACUS, maybe we can do:
1. only output some bands around fermi energy, such as only output 5 bands above E-fermi and 5 bands below E-fermi;
2. only output occupied bands;
3. output all eigenvalues to a new file, such as named "eigenvalue_display.dat".

[2021-11-29 13:10] mohanchen commented on #492
I think maybe we can add a flag, the flag determines whether the eigenvalues are printed only when the self-consistent charge density is obtained. If the users want to print out the eigenvalues for every scf iteration (for example, for debugging), there should also be a choice for the users.

[2021-11-29 13:10] mohanchen commented on #492
@dyzheng

[2021-11-29 13:11] mohanchen commented on #491
We can test a lot of systems (for example, semiconductors, metals and alloys) and choose a best value for the degeneracies (for example, 50?) @dyzheng

[2021-11-29 13:35] hongriTianqi opened #495 "lattice symmetry inconsistency between INPUT and output"
## Describe the Bug
lattice symmetry inconsistency between INPUT and output for bcc, trigonal, bct, fco, bco, bacm in both pw and lcao base

## To Reproduce
One needs to set the "symmetry" tag in INPUT file to 1 to ask abacus do symmetry analysis.
grep BRAVAIS   $EXAMPLE_DIR/OUT.autotest/running_scf.log

In 803 and 817, INPUT-bcc, output-triclinic
In 805 and 819, INPUT-trigonal, output-face center

[2021-11-29 14:08] mohanchen commented on #495
@hongriTianqi @dyzheng We had an independent module that can do symmetry tests, try to reproduce these errors with that module. For that module, we (actually, Xiaohui Liu) had prepared around 100 tests and he mentioned that all the tests have passed, so this issue is a bit strange...

[2021-11-29 15:12] dyzheng commented on #495
I need to check what this problem exactly was. Maybe the autoset lattice vectors is incorrect.

[2021-11-29 15:16] dyzheng commented on #491
Okay, the degeneracies sometimes looks weird. I should find someway to check if the demand number of degeneracies from scalapack is correct.

[2021-11-29 15:20] dyzheng commented on #492
A flag is certainly needed for user to choose, but another case is that user calculated MD or relax and don't need any eigenvalues.
Maybe we should add two flags for them respectively?

[2021-11-29 15:56] dyzheng commented on #495
[symmetry_prec-examples.tar.gz](https://github.com/deepmodeling/abacus-develop/files/7619357/symmetry_prec-examples.tar.gz)
[symmetry_prec-results.xlsx](https://github.com/deepmodeling/abacus-develop/files/7619361/symmetry_prec-results.xlsx)
These 100 tests for symmetry used to be tested, which output symmetry and input symmetry is equally.

[2021-11-29 16:39] lyb9812 opened #496 "wrong result of matrix multiplication using scalapack in tddft module"
## Describe the Bug
When I rewrite the module of tddft , I need to do the matrix multiplication of the wavefunction and U operator, and obtain a wrong result using scalapack.
The operation to call scalapack is the same as the operations of calculating U operator.
The wavefunction is in 2D format as in pdiag module.

[2021-11-30 01:01] mohanchen commented on #496
We need to have unit tests for Scalapack, @dyzheng @pxlxingliang

[2021-11-30 06:23] lyb9812 commented on #496
The problem is solved. The result of the matrix multiplication of wavefunction and U operator need to be stored in another array, not in the original wavefunction.

[2021-11-30 08:18] pxlxingliang opened #497 "Error when doing MD with freezing partial of atoms"
## Describe the Bug
when doing MD with freezing partial of atoms, some values (like NVT Conservation/NVT Kinetic energy) are "-nan"

[mderror.zip](https://github.com/deepmodeling/abacus-develop/files/7624047/mderror.zip)

INPUT:
INPUT_PARAMETERS
#Parameters (General)
suffix          autotest
ntype           1
nbands          8
calculation     md
#Parameters (Accuracy)
ecutwfc         20
niter

[2021-11-30 08:55] dyzheng opened #498 ""conflict about pw distribution" error occured"
## Describe the Bug
error case: Mg120-Al120
[Mg-Al.zip](https://github.com/deepmodeling/abacus-develop/files/7624294/Mg-Al.zip)

## Additional Context
Error output in running_scf.log:
`too many sticks for cpu = 0
 ngrid is = 2400
 In fact , non_zero_grid = 3150
 !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
                         NOTICE
 !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!

[2021-11-30 08:58] dyzheng commented on #498
update: I discussed with @Qianruipku , and have found out how to solve this bug, I will raise a bug fix update later. Qianruipku said this type error would not occur in new planewave code. @mohanchen

[2021-11-30 09:35] dyzheng opened #499 "Parameter needed to control whether or not calculating STRESS in ionic relaxation steps during cell-relax procedure"
## Background
In our method to do cell-relax calculation, we follow steps below:
1: calculate force and check if atomic force is not near zero and any atom can move;
2: if yes, do relax only; goto 1;
3: if no, calculate STRESS and check if STRESS is not near zero and any lattice vector can change;
4: if yes, do cell-relax only and change lattice vector; goto 1;
5: if no,  finish cell-relax procedu

[2021-11-30 09:41] dyzheng commented on #499
Our method of cell-relax is not good enough for some structure, maybe we should consider other method to update atomic position and lattice vector at same time.

[2021-11-30 11:30] dyzheng commented on #445
When the pseudopotential is LDA, and the orbital file is from PBE pseudopotential file, basis_type = lcao would cause fatal error that "abacus: /root/abacusmodeling/abacus-develop/source/module_orbital/ORB_gen_tables.cpp:142: void ORB_gen_tables::snap_psibeta_half(const LCAO_Orbitals &, const InfoNonlocal &, std::vector<std::vector<double, std::allocator<double>>, std::allocator<std::vector<double

[2021-11-30 11:52] #498 closed, assigned to dyzheng

[2021-11-30 12:45] mohanchen commented on #499
1. agree，we should only calculate stress when needed to relax the cell vectors.
2. of course we need this function, also the users should be able to fix any lattice vectors or keep their angles fixed.
3. Yes, we should develop more robust cell-relaxation algorithms.

[2021-11-30 12:46] mohanchen commented on #497
@YuLiu98 could you please check this problem?

[2021-11-30 12:47] #496 closed, assigned to dyzheng

[2021-11-30 12:48] mohanchen commented on #496
Good.

[2021-11-30 12:48] mohanchen commented on #495
OK, xiaohui is looking into this problem.

[2021-11-30 13:29] YuLiu98 commented on #497
Due to the fixed mass center and one fixed atom, the total freedom of the system (2 atoms in total) is **zero**, which is used as denominator in the calculation of temperature, resulting in the presence of the error.

[2021-11-30 17:21] dyzheng opened #502 "There are some variables in INPUT file should be updated."
## Background
In ABACUS, we use INPUT file to choose what we want the program to do.
1. There are some variables don't have output in OUT.suffix/INPUT file, user can use this file to check all inputing variables.
2. There are some variables don't have description in documentation, user can read these notes to know how to set INPUT file.
3. There are some variables don't have right response for wro

[2021-11-30 17:42] dyzheng opened #503 "The autotests is not rich enough, we still can find out some error case not in them."
## Background
$ABACUS_PATH/tests/Integrate is an example of the stability test of the program.
The goal is to run all the code of the program through fast calculation, so as to detect whether there are bugs in the existing code and whether the newly added code will affect the calculation results of the existing code.

## new test case norm
1. Read the "readme.md" file in integrate folder and clari

[2021-12-01 00:45] YuLiu98 commented on #497
There are some alternative solutions:
1) Quit out when the freedom is zero.
2) When no atom is fixed, the mass center is set to be fixed, otherwise the mass center is unfixed.

[2021-12-01 02:24] dyzheng commented on #450
MnBiTe : from Jin Gan . Cell-relax 2 ionic step, 1 electron step.
MnO : from Quxin . 1 ionic step, 1 electron step , multi-k.
Si128 : 1 ionic step, 1 electron step , ok for 1core and 4core, error for 8 core.
Mg120-Al120 : 1 ionic step, 1 electron step , error for all cores

[2021-12-01 06:09] dyzheng commented on #502
1. There are some variables don't have output in OUT.suffix/INPUT file, user can use this file to check all inputing variables.
* seed
* wannier_card
* NNKP
* seed_sto(out of plan)
* emax_sto(out of plan)
* emin_sto(out of plan)
* stotype(out of plan)
* lda_plus_u
* ion_dynamics
* gamma_only_local
* ecutrho
* ncx
* ncy
* ncz
* nx
* ny
* nz
* bx
* by
* bz
* diago_david_ndim
* nb2d
* nbspline
* out_

[2021-12-01 06:52] dyzheng commented on #502
2. There are some variables don't have description in documentation, user can read these notes to know how to set INPUT file.
* symmetry_prec
* wannier_card
* NNKP
* mlwf_flag
* nche_sto(out of plan)
* seed_sto(out of plan)
* emax_sto(out of plan)
* emin_sto(out of plan)
* stotype(out of plan)
* nbands_sto(out of plan)
* opt_epsilon2
* opt_nbands
* lda_plus_u
* ion_dynamics
* gamma_only_local
* ec

[2021-12-01 07:46] dyzheng commented on #502
Noted by @dyzheng : mlwf_flag,"turn MLWF on or off" is not actually used now.
Applied by @mohanchen : "mlwf_flag" can be deleted.

[2021-12-01 08:23] dyzheng commented on #502
Noted by @dyzheng : "lda_plus_u" is conflict with "dft_plus_u" and is not actually used now.
I will delete it.

[2021-12-01 08:27] dyzheng commented on #502
Noted by Jin Gan : "wannier_card" is not used now, it will be deleted later.
But in ABACUS, wannier_card is still working now!!! Who can give any idea what does this variable do? @mohanchen

"NNKP" is name of wannier90 output file and would be used by ABACUS, in INPUT, key word is "nnkpfile".

[2021-12-01 09:06] dyzheng commented on #502
Noted by Lin Peize :
restart_save : store charge density file and H matrix file every scf step for restart, default false.
restart_load : restart from stored density file and H matrix file , default false.
I will add description to documentation.

[2021-12-01 10:13] dyzheng commented on #502
Noted by Qu Xin :
yukawa_potential : this variable is option for yukawa potential, if open , U and J parameters will be automatic computed.
yukawa_lambda: not open for user now, new type of method for plus U would be added in future.
dftu_type : not open for user now, new type of method for plus U would be added in future.
double_counting : not open for user now, new type of method for plus U woul

[2021-12-01 10:29] dyzheng commented on #502
Noted by Li Pengfei for :
spectral_type
spectral_method
kernel_type
eels_method
absorption_method
system_type
eta
domega
nomega
ecut_chi
qstart
q_direction
nq
out_epsilon
out_chi
out_chi0
fermi_level
coulomb_cutoff
kmesh_interpolation
qcar
ocp
ocp_set
supercell_scale(lcao_box)
[epsilon.pdf](https://github.com/deepmodeling/abacus-develop/files/7633230/epsilon.pdf)

[2021-12-01 10:36] dyzheng commented on #502
Noted by @dyzheng :
atom_mag is not used now, delete it.
n_mag_at is not used now, delete it.
#521 finish it。

[2021-12-01 11:40] dyzheng commented on #502
Noted by @dyzheng  :
noncolin : 1 for non-collinear-spin is calculated, 0 for only collinear-spin along z-axis.
lspinorb : 1 for spin-orbit coupling effect, demand for full-relativistic pseudopotential files; 0 for no computing spin-orbit coupling effect, supporting both scalar-relativistic and full-relativistic pseudopotential files.
soc_lambda : user can choose how to modulate SOC effect, range

[2021-12-01 12:11] dyzheng commented on #502
Noted by @dyzheng :
dos_emin_ev : not used now, maybe we can use it to specify minimum energy of DOS file.
dos_emax_ev : not used now, maybe we can use it to specify maximum energy of DOS file.
b_coef : gauss b coefficeinet(default=0.07) for DOS calculation.

[2021-12-01 12:43] dyzheng commented on #502
Noted by @dyzheng :
ncx = nx
ncy = ny
ncz = nz
these variables are still in discussing, no extra modify for them.
![588ec21a20c1c2798c58e58c0f466a1](https://user-images.githubusercontent.com/49852742/144236593-4d5f8c57-88e2-4f9d-b88c-047e61b617f7.png)

[2021-12-01 14:28] mohanchen commented on #394
@YuLiu98 please take a look

[2021-12-01 14:32] mohanchen commented on #492
I think it is an interesting idea, maybe we can try that. @dyzheng

[2021-12-01 14:35] mohanchen commented on #442
We will start building a new module to perform the grid integrals soon!

[2021-12-01 14:45] YuLiu98 commented on #394
The format of output structure files is the same with STRU now in update_MD branch, but only for CMD.

I will conticue the reconstruction of MD to solve the problems.

Besides, I have a problem: Whether the force and stress need to be stored in independent files? @Liu-RX

[2021-12-01 15:38] Liu-RX commented on #394
I think you'd better save the cell, forces and stresses in independent files, like qe does. Maybe you could provide an option in INPUT file for users to choose, whether to use the old output mode or output as independent files.
Another problem I have with the old output mode is that no matter what the coordinates output frequency is, it always writes stresses and forces for each single MD step. Bu

[2021-12-01 15:39] Liu-RX commented on #442
Roger that!

[2021-12-02 06:14] hongriTianqi opened #512 "Please give more explanations"
What'is the meaning of smallg in test examples: abacus/tests/integrate/103_PW_CF_CS_S1_smallg & 103_PW_CF_CS_S2_smallg?

[2021-12-02 06:16] #512 closed, assigned to nobody

[2021-12-02 06:48] dyzheng opened #513 "spin-orbit coupling effect case is too slow in computing nonlocal part"
## Background
Now, nonlocal part in SOC case is calculated very slow, while other case use new method developed by @wenfei-li .
We need to use new method to optimize nonlocal part in SOC calculation.

## Describe the solution you'd like
There is not too mach work to do for include SOC calculation in new nonlocal part code, because the first step: save half (<phi|beta>) is already calculated and th

[2021-12-02 07:36] dyzheng opened #514 "Documentation for features and outputs are needed!"
## Describe Current Status and Possible Solution

There should be an entire document describing the files and formats output by ABACUS
* plane waves base (different npool parallel modes)  or local orbit base (Gamma only and multi-k points, ), including
    * electronic iteration,
    * ion iteration,
    * crystal cell optimization,
    * molecular dynamics,
    * DeePKS,
    * TDDFT,

* We should

[2021-12-02 08:04] hongriTianqi opened #515 "Convergence difficulty in noncollinear magnetic calculation with LCAO basis"
## Describe the Bug
Convergence is difficult to be achieved after 200 iterations in noncollinear magnetic calculation with LCAO basis for fixed smearing method, but not for gaussian smearing method for the system with two Fe atoms (204_NO_NC_magnetic).

ABACUS scf calculation goes wrong directly  in noncollinear magnetic calculation with LCAO basis for gaussian smearing method (warning.log: errors

[2021-12-02 08:05] dyzheng opened #516 "Can ABACUS do some constrained DFT calculation"
## Describe Current Status and Possible Solution

Maybe ABACUS support some interesting option to do calculation for constrained DFT.

Please leave some comments under this Issue.

[2021-12-02 08:21] dyzheng commented on #516
For example, when we studying nitrogen-vacancy center, it requires an additional excitation of an electron conduction band to simulate the excited state, so we added two variables:
* ocp
    * option for choose whether calcualting constrained DFT or not.
* ocp_set
    * The ocp_set is a string to set the number of occupancy, like 1 10 * 1 0 1 representing the 13 band occupancy, 12th band occupancy

[2021-12-02 08:22] hongriTianqi opened #518 "Has symmetry analysis been included in magnetic and/or noncollinear calculations in ABACUS"
## Background
The INPUT file tag symmetry is set to 1 in some tests in magnetic and/or noncollinear calculations in ABACUS under the tests/integrate directory (104_PW_AF_magnetic, 104_PW_FM_magnetic, 104_PW_NC_magnetic, 204_NO_KP_AFM, 204_NO_KP_FM ). One will wonder
whether symmetry analysis has been included in magnetic and/or noncollinear calculations in ABACUS, or not?

[2021-12-02 08:25] dyzheng commented on #516
I found related code about comment above that:

`

    // jiyy add 2020.10.11
    // fix bugs of ocp_set   --  Yuanbo Li 2021/8/17
        if(GlobalV::ocp == 1)
	{
		int count = 0;
		std::string pattern("([0-9]+\\*[0-9.]+|[0-9,.]+)");
		std::vector<std::string> str;
		std::string::size_type pos1, pos2;
		std::string c = " ";
		pos2 = GlobalV::ocp_set.find(c);
		pos1 = 0;
		while(std::string::npos

[2021-12-02 08:43] hongriTianqi opened #520 "Inconsistency between INPUT and output for atom magnetism in ferromagnetic calculation."
## Describe the Bug
The magnetism for Fe atoms are set to 5.0 in STRU file, but are show as 0.0 in output file when initialing calculations.

## To Reproduce
Steps to reproduce the behavior:
1. cat 104_PW_FM_magnetic/STRU
2. cat 104_PW_FM_magnetic/OUT.autotest/running_scf.log

[104_PW_FM_magnetic.tar.gz](https://github.com/deepmodeling/abacus-develop/files/7640378/104_PW_FM_magnetic.tar.gz)

[2021-12-02 08:53] dyzheng commented on #520
Yes, this is a remaining problem.
In ABACUS, initial magnetism can start from two method:

1. magnetism for every element.
2. magnetism for every atom.

These two method related to different code, and method 2 has a higher priority than method 1.
Unfortunately, we found there is a bug in relax calculation with method 2, so we set default value of "mag" as zero in order to use method 1 as default m

[2021-12-02 09:07] lyb9812 commented on #516
It seems that ocp_set is only used in tddft now.

[2021-12-03 02:15] #497 closed, assigned to dyzheng

[2021-12-03 02:35] hongriTianqi opened #522 "Convergence problem using Methfessel Paxton smearing method in atomic basis calculation of Fe metal"
## Describe the Bug
Convergence is not achieved after 100 steps of electron iteration using Methfessel Paxton smearing method in atomic basis calculation of Fe metal. However, the corresponding calculation in plane wave calculation is successful.

## To Reproduce
Steps to reproduce the behavior:
1. cat 105_PW_MP_smearing/OUT.autotest/running.info (plane wave basis, success)
2. cat 205_NO_MP_smeari

[2021-12-03 02:40] dyzheng commented on #503
Merge from #443
## We should update our autotest cases for:

* small molecular cases such as CH4.
* error cases reported in other issues.
## Additional Context
We also need to add more check items to existed cases, such as eigenvalues or band gaps.

[2021-12-03 02:40] dyzheng commented on #443
Merged to #503

[2021-12-03 02:40] #443 closed, assigned to caic99

[2021-12-03 08:49] pxlxingliang opened #525 "Irreducible K points error"
The irreducible K points in the attached example is 63, which is different with 54 produced by VASP/QE
[irekerror.zip](https://github.com/deepmodeling/abacus-develop/files/7647990/irekerror.zip)

In ABACUS, there has the equivalent k points, like  [0.6,0.8,0] and [0.8,0.6,0], found in the output file.

reciprocal vector:
           +0.0966552                  -0                  +0

[2021-12-04 08:08] dyzheng opened #526 "We need elaborate profiling for ABACUS version 2.2.0, please collect as many case as you can!"
## Describe Current Status and Possible Solution

We can seperate the time consumed by the program into several parts collected in the end of screem or OUT.suffix/running_scf.txt outputs.

For example:

|CLASS_NAME---------|NAME---------------|TIME(Sec)-----|CALLS----|AVG------|PER%-------
Gint_k                          vlocal                        46.585             10             4.7

[2021-12-04 14:33] dyzheng commented on #526
units: second
<html xmlns:v="urn:schemas-microsoft-com:vml" xmlns:o="urn:schemas-microsoft-com:office:office" xmlns:x="urn:schemas-microsoft-com:office:excel" xmlns="http://www.w3.org/TR/REC-html40">
<head>

<meta name=Generator content="Microsoft Excel">

<style>

</style>
</head>
<body>

oneapi+8269CY | scalapack对角化 | vlocal格点积分矩阵元 | nonlocal矩阵元 | S矩阵元 | sum_bands | cal_dk_k | cal_rho_k | mix_rh

[2021-12-05 13:25] dyzheng commented on #491
<html xmlns:v="urn:schemas-microsoft-com:vml" xmlns:o="urn:schemas-microsoft-com:office:office" xmlns:x="urn:schemas-microsoft-com:office:excel" xmlns="http://www.w3.org/TR/REC-html40">
<head>

<meta name=Generator content="Microsoft Excel">

<style>

</style>
</head>
<body>

512Si-system | 2step-scf测试 | scalapack实际调用次数 | 平均每次用时
-- | -- | -- | --
  | 8269CY-16c | 2 | 50
  | 8269CY-8c | 3 | 45
  |

[2021-12-05 13:53] #516 closed, assigned to caic99

[2021-12-06 02:21] pxlxingliang opened #527 "Time consuming in OUTPUT is wrong when running with OPENMP"
When running with OPENMP (larger than 1 thread), the clock() function can not give the real time consuming.
Need  to use another suitable function to time the running.

[2021-12-06 05:57] caic99 commented on #526
To optimize bottleneck, I suggest we don't need so much samples. The bottlenecks should be consistent across samples, while the algorithm is static. A few profiling cases are sufficient to guide our optimize direction.

[2021-12-06 08:07] YuLiu98 opened #528 "Memory leak in src_io/write_rho_cube.cpp"
## Describe the Bug
The variable **num_z** newed in src_io/write_rho_cube.cpp (Line 97) is not deleted.

## To Reproduce
Steps to reproduce the behavior:
1. [e.g. clone the source code from ...]
2. [e.g. configure CMake with options ...]
3. [e.g. build ABACUS with ...]
4. [e.g. run ABACUS with ...]

## Environment
- OS: [e.g. CentOS 7.6]
- Compiler: [e.g. Intel LLVM 2021.1]
- Optional Dependencies

[2021-12-06 08:10] dyzheng opened #529 "Li12-system ABACUS compare with VASP in PW base"
## Describe Current Status and Possible Solution

we should use same parameters to test ABACUS in PW base with VASP program.

## Additional Context
Input files in ABACUS are:
[ABACUS_VASP_example.zip](https://github.com/deepmodeling/abacus-develop/files/7659041/ABACUS_VASP_example.zip)
Output files in ABACUS and VASP are:
[result_6wrap_10unwrap.zip](https://github.com/deepmodeling/abacus-develop/f

[2021-12-06 08:21] wenfei-li commented on #528
We will update the code to release the memory properly.

[2021-12-06 08:21] dyzheng commented on #528
This function is not indispensable in printing charge density, maybe we can add a option variable for this function?

[2021-12-06 08:54] hongriTianqi opened #530 "Convergence difficulties met in LCAO scf calculation with Broyden and Kerker charge mixing method"
## Describe the Bug
Convergence difficulties are met in LCAO scf calculation with Broyden and Kerker charge mixing methods, but not in the corresponding PW calculation.

## To Reproduce
Steps to reproduce the behavior:
1. cat 206_NO_BD_chargemixing/OUT.autotest/running_scf.log
2. cat 206_NO_KK_chargemixing/OUT.autotest/running_scf.log
3. cat 106_PW_BD_chargemixing/OUT.autotest/running_scf.log
4. c

[2021-12-06 09:39] dyzheng commented on #529
1. number of k-point：vasp 1008 vs ABACUS 2352；
2. STRESS time：vasp 35s vs ABACUS 2809.89s；
3. force time：vasp 35s vs ABACUS 394.61s；
4. self-consistant times and average time： vasp 47.28s * 15 times  vs ABACUS 557s * 11 times
5. energy cutoff: vasp 1300eV vs ABACUS 200Ry ~ 2600eV

[2021-12-06 09:51] pxlxingliang commented on #526
The format of time in running_scf.log is not scientific and only 2 significant digits are reserved, it is better to make it same with that in OUTPUT.

[2021-12-06 15:27] dyzheng opened #531 "STRESS code in PW base is too slow, we should accelerate it!"
## Background
The lowest part of STRESS calculation in PW base is nonlocal part.
The formular of nonlocal part is derivative of nonlocal energy:
<img width="515" alt="image" src="https://user-images.githubusercontent.com/49852742/144873272-c1596e5c-38c0-4431-8e79-2348d808edab.png">

## Describe the solution you'd like
There are three parts of this term in source file /abacus-develop/source/src_pw/

[2021-12-06 15:49] dyzheng commented on #531
A possible solution is only calculate Tr(sigma), this only need 1/6 time of whole sigma calculating time.

[2021-12-06 16:41] iProzd commented on #529
By the way, about the experiments setting, I ran these experiments on two machines (for wraps and unwraps repectively) with same CPUs, but I found one of the machines (the unwraps) performes much faster than the other one (~3h vs ~9h). It might be the IO efficiency that differed and nevermind. There should be no efficiency difference in two kind of samples. We can ignore the [~9h] performance show

[2021-12-07 02:12] hongriTianqi commented on #530
The STRU file in this example is set by misunderstanding the parameter LATTICE_CONSTANT in STRU file, which is in unit of Bohr in ABACUS.

[2021-12-07 02:15] hongriTianqi commented on #488
The STRU file in this example is set by misunderstanding the parameter LATTICE_CONSTANT in STRU file, which is in unit of Bohr in ABACUS.

[2021-12-07 02:16] #488 closed, assigned to mohanchen, hongriTianqi

[2021-12-07 04:28] hongriTianqi opened #533 "stress_thr default value inconsistency between online file and code"
## Describe the Bug
stress_thr default value is 0.01 in code (input.cpp), but is shown as 10 in online instruction (https://github.com/deepmodeling/abacus-develop/blob/develop/doc/input-main.md).

[2021-12-07 04:54] hongriTianqi opened #534 "Gamma_only calculation and smearing = fixed (default) results in error"
## Describe the Bug
I am testing a calculation on the silicon single crystal system. The default smearing method is fixed in gamma_only calculation, which results in convergence difficulty until the smearing is changed from "fixed" to "gauss".

## To Reproduce
Steps to reproduce the behavior:
1. the attached example shows convergence difficulty after 100 steps.
2. change smearing to "gauss", it go

[2021-12-07 06:58] YuLiu98 commented on #488
When the lattice constant is corrected, HSE scf is converged with original parameters.

[2021-12-07 09:08] pxlxingliang opened #536 "PDOS output error"
The PDOS gives some unreasonable occupation number like 1e-200
[pdos.zip](https://github.com/deepmodeling/abacus-develop/files/7672804/pdos.zip)

This small value should be reasonable, which means an occupation of zero, while the occupation of 10^50 or enven larger is unreasonable in the below example from hongriTianqi.

[2021-12-07 12:56] dyzheng opened #538 "MD thermostat LGV and ADS has error during last MD refactor."
## Describe the Bug
Only initial function for NHC thermostat, LGV and ADS can't use class inner variables.

[2021-12-07 14:39] #538 closed, assigned to dyzheng

[2021-12-08 01:52] dyzheng commented on #536
I can't download your uploading file, maybe you can uploading it again?

[2021-12-08 01:53] dyzheng commented on #536
I recalculated example 207_NO_KP_OD, the output file PDOS seems correct.

[2021-12-08 02:23] dyzheng commented on #518
If the time inversion symmetry is added, possibly QE has, may make the antiferromagnet easily converge.
We now practice that atoms of different magnetic moments are treated by different elements so that symmetry=1 can be opened. But initialization by the atomic magnetic moment can lead to a symmetry search error.

[2021-12-08 02:48] hongriTianqi commented on #536
I repeated this calculation too. The order of magnitudes of PDOS values changes hugely (from 10^50 to 10^100 to 10^200, etc)

[2021-12-08 02:49] hongriTianqi commented on #536
I repeated this calculation too. The order of magnitudes of PDOS values change hugely (from 10^50 to 10^100 to 10^200, etc)

[2021-12-08 03:12] pxlxingliang commented on #536
I check the 207_NO_KP_OD PDOS again, in my server, the maximum occupition is about 10, and minmum occupation is 3.244e-108, repeated calculations give the smae results.
So, it is reasonable.
It seems the big changing only occurs in @hongriTianqi 's server?

[2021-12-08 13:42] hongriTianqi opened #545 "Convergence difficulty in LCAO gamma only calculation when adding electrons in Silicon"
## Describe the Bug
Convergence difficulty met in LCAO gamma only calculation when adding electrons in silicon single crystal calculation.

## To Reproduce
Steps to reproduce the behavior:
1. cat 311_NO_GO_elec_add/OUT.autotest/running_scf.log
2. cat 311_NO_GO_S2_elec_add/OUT.autotest/running_scf.log

[NO_GO_elec_add_err.tar.gz](https://github.com/deepmodeling/abacus-develop/files/7676365/NO_GO_el

[2021-12-08 14:38] dyzheng commented on #531
No, DPGEN need 3*3 matrix

[2021-12-08 15:02] dyzheng commented on #450
This problem seems okay for this update, the remain problem is how to compiling ELPA for oneapi compiler.

[2021-12-08 15:02] #450 closed, assigned to dyzheng

[2021-12-08 15:21] dyzheng commented on #536
I have checked all array in energy_dos.cpp has initial default zero, maybe we should test this problem in @hongriTianqi environment.

[2021-12-08 15:25] #153 closed

[2021-12-08 15:25] #533 closed, assigned to dyzheng

[2021-12-08 15:25] #528 closed, assigned to wenfei-li, dyzheng

[2021-12-08 16:33] pxlxingliang commented on #525
The different irreducible K points  in ABACUS seems not a bug.
I have calculated the energies at the cases of 54 k points (manual set the kpoints produced by VASP), 63 k points and total k points (symmetry = False), the energy in 54 k points is close to the value of total kpoints, while the energy of 63 k-points has 7 meV difference to the nergy in total K-POINTS.
KPOINTS   ENERGY(eV)
400 -17652.7

[2021-12-08 16:33] #525 closed, assigned to dyzheng

[2021-12-08 16:33] pxlxingliang commented on #525
The different irreducible K points  in ABACUS seems not a bug.
I have calculated the energies at the cases of 54 k points (manual set the kpoints produced by VASP), 63 k points and total k points (symmetry = False), the energy in 54 k points is close to the value of total kpoints, while the energy of 63 k-points has 7 meV difference to the nergy in total K-POINTS.
KPOINTS   ENERGY(eV)
400 -17652.7

[2021-12-09 06:48] dyzheng commented on #526
Some timer of function has error, we should keep repairing them.

[2021-12-09 08:17] dyzheng commented on #481
This error come from function "Symmetry_rho::psymm", if I ignore this function, Symmetry=1 result correspond with Symmetry=0 case. this case is special that k point didn't fold.

[2021-12-09 08:28] dyzheng commented on #526
The new target is to elaborate profiling for several cases.

[2021-12-09 16:04] dyzheng commented on #207
Another important input check is the error input in INPUT file should be reported.
Such as charge_extrap parameter, if key word is "second_order", there should be a report for this input key word error for user.

[2021-12-09 16:07] dyzheng commented on #502
merged by Issue #203

First of all, we will need some short explanation or (preferably) some documentation on the input variables regarding:
DFT+U
Hybrid functional
Spectrum
TDDFT

Secondly, there are a few variables that seems are either not implemented yet or already obsolete:

mlwf_flag
diago_cg_prec
restart_mode
restart_save
restart_load
input_error
mdoutputpath

Also, the variable lmaxmax set

[2021-12-09 16:07] dyzheng commented on #203
move this Issue to #502

[2021-12-09 16:07] #203 closed, assigned to mohanchen

[2021-12-09 16:23] dyzheng commented on #487
[1_epsilon.pdf](https://github.com/deepmodeling/abacus-develop/files/7686775/1_epsilon.pdf)
There is linear-responce TDDFT documentation for ABACUS related code, we should add autotest for test it.

[2021-12-10 01:59] dyzheng opened #550 "A possible method to optimize high energy cutoff test case for LCAO base : bx/by/bz"
## Describe Current Status and Possible Solution

For H64O32 system, I tried "ecutwfc = 100 Ry" with different setup for "bx=by=bz=1 or 2 or 4".

I have found out the time costed for grid_integral part (vlocal, sum_rho, force_vlocal_dphi) decreased drastically, while the accuracy for total energy and force changed tiny.

<img width="361" alt="image" src="https://user-images.githubusercontent.com/4

[2021-12-10 03:58] hongriTianqi opened #551 "High symmetry k-point path is printed out without real Brillouin zone distance in band structure calculation (BANDS_1.dat)"
## Background
High symmetry k-point path is printed out without real Brillouin zone distance in band structure calculation (BANDS_1.dat)

## Describe the solution you'd like
One will require real Brillouin zone distance in band structure calculation to show the feature of Brillouin zone.

## Additional context
To see the problem, find BANDS_1.dat under band/OUT.STO directory in the attached exampl

[2021-12-10 04:22] hongriTianqi opened #552 "how to set a specific energy convergence (e.g. 1.e10^-5 eV) in scf calculation of ABACUS?"
## Background
VASP users are used to set EDIFF to point out the energy convergence criterion in their calculation. However, in ABACUS, when you set ethr in the same way, it will cause computational force waste because the key convergence criterion in ABACUS is dr2, not ethr.
ethr, on the contrary, should be set to a large value to faciliate original scf steps in ABACUS.

## Describe the solution y

[2021-12-10 06:37] hongriTianqi opened #553 "elastic constant calculation in ABACUS"
## Background
Elastic constants are important to analyse the mechanical properties of solids. ABACUS can calculate stress in optimization, can elastic constants and Young's modulus be given for an optimized structure in ABACUS?

## Describe the solution you'd like
Add the function of calculating elastic constants in ABACUS.

[2021-12-10 07:51] hongriTianqi commented on #536
I used ABACUS within a Docker container. The compile flag are as follows:

  # compile CXX with /usr/bin/x86_64-linux-gnu-g++-10
  CXX_DEFINES = -DEXX_DM=3 -DEXX_H_COMM=2 -DMETIS -DTEST_EXX_LCAO=0 -DTEST_EXX_RADIAL=1 -DUSE_CEREAL_SERIALIZATION -D__EXX -D__FFTW3 -D__F    P -D__LCAO -D__MPI -D__SELINV
  CXX_INCLUDES = -I/root/abacus-develop/source -isystem /usr/include/x86_64-linux-gnu/mpich
  CXX_F

[2021-12-10 09:07] hongriTianqi opened #555 "The unit of density of states (DOS) and PDOS in ABACUS"
## Background
One cannot find the unit of density of states (DOS) and PDOS in ABACUS at anywhere in the online documents or mannual.

## Describe the solution you'd like
Give a clear indication of the unit of DOS and PDOS

[2021-12-10 09:11] hongriTianqi opened #556 "PDOS calculation with plane wave basis in ABACUS is not supported yet."
## Background
PDOS calculation with plane wave basis in ABACUS is not supported yet.

## Describe the solution you'd like
Add PDOS calculation with plane wave basis calculation.

[2021-12-10 09:18] hongriTianqi opened #557 "How to get absolute energy level of electronic states in ABACUS?"
## Background
The absolute energy level of electronic states is very useful in electrochemistry. The atomic orbital basis should in principle give indications of absolute energy levels of electronic states. Could ABACUS give the absolute energy level of electronic states through atomic basis calculations?

## Describe the solution you'd like
Give more instructions or more explanation on this issue

[2021-12-11 01:49] mohanchen commented on #550
In most cases, 1 may not be a best choice. Typically, 2 or 4 may be a better choice.

[2021-12-11 01:50] mohanchen commented on #551
In principle, this is a feature related to users' experiences. Could you propose some ideas to improve this feature? @hongriTianqi

[2021-12-11 01:53] mohanchen commented on #552
Ethr is only used in pw calculations and is the convergence threshold for the "first electronic iteration", not the threshold for the final converged ground-state energy, please see the input document. "Description: Only used when you use diago_type = cg or diago_type = david. It indicates the threshold for the first electronic iteration, from the second iteration the ethr will be updated automati

[2021-12-11 01:54] mohanchen commented on #553
I think this is a great idea, but you should clarify how many detailed steps we need to implement this new feature.

[2021-12-11 01:55] mohanchen commented on #555
I think this is a very good suggestion, we should definitely do it!

[2021-12-11 01:55] hongriTianqi commented on #551
Adding codes to give the real BZ distance is not difficult.

[2021-12-11 01:56] mohanchen commented on #556
In order to compute the PDOS using the plane-wave basis, we need to project the ground-state wave functions onto atomic orbitals. For example, the pseudo atomic orbitals read from pseudopotential files. We should definitely have it ASAP!

[2021-12-11 01:57] mohanchen commented on #557
I don't understand. If one uses pseudopotential, there is no "absolute energy" exists, what do you mean "absolute energy levels"?

[2021-12-11 01:58] hongriTianqi commented on #552
Of course, this is very clear. However, users are more used to require directly an energy threshold than that of rho.

[2021-12-11 01:59] mohanchen commented on #545
We should have one person to test these cases. First of all, we should be clear about the formula to add or minus xx electrons. Then, we should have documents. Last, we should have a thorough test on both PW and LCAO cases.

[2021-12-11 02:00] mohanchen commented on #536
We should have documents for PDOS using LCAO.

[2021-12-11 02:02] mohanchen commented on #527
Could you reach out to find some solutions? If we only need to change the timer implemented in ABACUS, then this will be a trivial thing to do and may be a good start to read the code structure in ABACUS. @pxlxingliang

[2021-12-11 02:03] hongriTianqi commented on #557
In order to get absolute energy level of electrons, one should firstly define where is energy zero. Sometimes it is defined as all electrons and nuclei are apart from each other indefinitely, sometimes it is defined as vacuum energy. I don't know either.

[2021-12-11 02:04] mohanchen commented on #534
This is not a full report, the convergence problem usually related to whether the system has a large band gap or not, or even a metal. Therefore, at least......., at least you need to specify which system you are testing. Otherwise, one needs to download and open the files attached to see the problem. @hongriTianqi

[2021-12-11 02:05] mohanchen commented on #522
@YuLiu98 Could you take a look at this problem and propose your thoughts?

[2021-12-11 02:08] mohanchen commented on #515
Any calculations related to non-collinear or spin-orbital coupling are not the current focus. This is because we need to FIRST solve the problems (as many as possible) related to ground-state calculations without spin polarized. In other words, we will first focus on spin=1 case, then we move to spin=2 or spin=4 cases.

[2021-12-11 02:09] mohanchen commented on #491
Any progress on this issue? @dyzheng

[2021-12-11 02:17] mohanchen commented on #530
@YuLiu98 Could you take a look at these examples and propose your opinions?

[2021-12-11 03:06] pxlxingliang commented on #527
The clock() function measures the CPU time used by the process, which means the cumulative CPU time of all threads that have ever existed in the process since it was started.
One solution is calling omp__get_wtime() which returns a value equal to the elapsed wall clock time in seconds since some time-in-the-past.
I suggest retaining clock() to time the CPU times, and adding omp__get_wtime() to get

[2021-12-12 16:00] YuLiu98 commented on #522
I have some points to argue:
1) UNIFORM GRID DIM of PW and LCAO is different in this case, why? What is the difference in the grid division method ?
2) replacing mp with gauss smearing, LCAO is also not converged with other parameters unchanged as PW does. Thus, the problem may not be mp smearing.
3) With dense k points grids (12  12  12), larger sigma (0.02), and pulay mixing method (beta=0.3), L

[2021-12-12 16:52] sunml99 opened #560 "How to obtain atomic information such as radius, number, and the number of valence electrons and protons?"
## Describe Current Status and Possible Solution

We are trying to implement the implicit solvation model in ABACUS. Now we need the atomic radius, atomic number, and the number of valence electrons and protons of the atom.
Has the functions of giving the atomic type to get these parameters been implemented in the code of ABACUS? How to call them?

## Additional Context

[2021-12-13 03:22] #531 closed, assigned to mohanchen, dyzheng

[2021-12-13 06:30] #527 closed, assigned to dyzheng, caic99

[2021-12-13 09:44] hongriTianqi opened #562 "Atomic position is not yet considered in symmetry analysis in ABACUS"
## Describe the Bug
MgO is fcc, but when we use ABACUS to search its symmetry automatically, ABACUS gives simple cubic. Therefore, it seems that atomic position is not considered in symmetry analysis in ABACUS

## To Reproduce
Steps to reproduce the behavior:
cat MgO/OUT.MgO/runnning_scf.log

[MgO.tar.gz](https://github.com/deepmodeling/abacus-develop/files/7702678/MgO.tar.gz)

[2021-12-13 10:15] pxlxingliang opened #563 "doing SCF error with setting ks_solver to "dav""
In the attached case, the job is error during doing SCF by dav method.
[davError.zip](https://github.com/deepmodeling/abacus-develop/files/7702902/davError.zip)

![image](https://user-images.githubusercontent.com/91927439/145792920-df129bcd-bc30-4c8d-9c52-9807ad1e66bb.png)

I have run this system by cg method, and it is normal finished.

[2021-12-13 12:36] dyzheng commented on #560
Thanks for your question!
In ABACUS, we can find atomic information come from the function below:
https://github.com/deepmodeling/abacus-develop/blob/098b6177a430283f3feca2eb20f70b46df4e188e/source/module_cell/read_pp.cpp#L56
In this function, information for element is imported from pseudopotential files.
For example:
* atomic radius is "GlobalC::ucell.atoms[it].r[GlobalC::ucell.atoms[it].mesh-1]

[2021-12-14 02:11] hongriTianqi opened #564 "Cannot find optimized structure file after cell relax calculation"
## Background
Although the out_stru has been set to 1, no optimized structure (like STRU_NOW.cif) has been found in output directory OUT.MgO

Please see attached example.
[trigonal_MgO.tar.gz](https://github.com/deepmodeling/abacus-develop/files/7708138/trigonal_MgO.tar.gz)

## Describe the solution you'd like
A clear and concise description of what you want to happen.
Give more instructions on ho

[2021-12-14 03:19] hongriTianqi commented on #495
Dr Xiaohui give the following instructions to solve this problem, editing module_symmetry/symmetry.cpp:
1) do not comment line 707: brav=temp_brav;
2) do not comment an else ... if block between 774-808;
3) comment line 809: brav = pre_brav;

Now the inconsistency problem can be solved. But these lines are not bug because they are import to get correct force symmetry analysis in current version of

[2021-12-14 03:25] hongriTianqi commented on #562
The instructions given by Dr. Xiaohui to solve ISSUE #495 do not solve this issue.

[2021-12-15 06:28] caic99 commented on #526
That's good. Will you provide such cases? @dyzheng

[2021-12-15 09:25] Liu-RX opened #570 "First CG step of every MD step except the first MD step is much slower than other CG steps"
## Describe Current Status and Possible Solution

I was testing a 6-water cluster (prism) in a 10-Angstrom box with plane-wave MD when I encountered this issue. The first CG step of each MD step after the first MD step (which means 2, 3, 4, ... MD steps) is slower than other CG iterations.
The tested geometry is as follows in a 10-Angstrom box:
18
prism (Angstrom)
O 1.48177134 -0.38076297 1.416351

[2021-12-15 11:18] dyzheng commented on #570
I have a related test result that too much time for first scf step using convergence charge density.

ITER    ETOT(eV)            EDIFF(eV)          DRHO2      CG_ITER      TIME(S)
CG1    -9.304415e+03  0.000000e+00   1.555e-09  2.432e+01  1.488e+02
CG2    -9.304409e+03  5.723870e-03    1.801e-09  8.489e+00  2.855e+01

By the way, h_psi time is 0.009s, and NBANDS = 56, nks = 10, times of hpsi per

[2021-12-15 12:43] dyzheng opened #575 "Please fix bug in UnitCell_pseudo::print_stru_file()"
## Describe the Bug
The output velocities of atoms in output STRU file is always zeros, and the key value "vel" is missed.
Please fix this bug.

[2021-12-15 12:45] dyzheng commented on #575
We should use this output STRU for restart ABACUS. such as STRU_MD for molecular dynamics.

[2021-12-15 13:55] dyzheng commented on #575
#504

[2021-12-15 15:53] #575 closed, assigned to YuLiu98

[2021-12-17 09:07] YuLiu98 opened #576 "Segfault in tests 817_NO_LT_bcc"
## Describe the Bug
Segfault in tests 817_NO_LT_bcc happens sometimes.

## To Reproduce
Steps to reproduce the behavior:
1. develop branch
2. run tests 817_NO_LT_bcc

## Environment
- OS: Ubuntu18.04
- Compiler: oneAPI 2021

## Additional Context
Add any other context about the problem here.

[2021-12-20 13:06] Liu-RX opened #577 "start_wfc = file interface has no corresponding implementation"
## Describe Current Status and Possible Solution

wavefunc.cpp has an interface corresponding to `start_wfc file` in `INPUT` file. But there is no implementation for this interface. I wonder what it's for.

[2021-12-22 09:47] pxlxingliang opened #580 "Incorrect energy when bx/by/bz cannot be divided by the dimensions of FFT grid"
In my case, when i do not set bx in INPUT, the UNIFORM GRID DIM is 96 * 96 * 96
while when I set bx to be 5, the UNIFORM GRID DIM will be changed to 100 * 100 * 100, and the energy has a change of about 100 eV, that is from -1807.5069600630899913 eV to -1713.6079872077116306 eV .

If the change of UNIFORM GRID DIM will arouse the big change of energy, ABACUS should stop and give the ERROR when the

[2021-12-22 12:53] dyzheng commented on #550
#580 mentioned a bug for that

[2021-12-23 12:13] dyzheng opened #584 "valgrind debug： 304_NO_GO_AF choked with valgrind while mpirun is alright"
## Describe the Bug
"test/integrate/304_NO_GO_AF" is running well using mpirun,
but would be choked using valgrind.

[2021-12-23 14:11] dyzheng commented on #550
There 4 part of code used grid integral method. "vlocal" and "cal_rho" benefitted from bx/by/bz set, while "force_dphi" and "stress_dphi" didn't.

[2021-12-24 03:14] dyzheng opened #585 "Stress error with symmetry on, only in LCAO code."
## Describe the Bug
In case: 201_NO_KP_DJ_CF_CS_GaAs
Stress in LCAO base for symmetry on is :
<html xmlns:v="urn:schemas-microsoft-com:vml" xmlns:o="urn:schemas-microsoft-com:office:office" xmlns:x="urn:schemas-microsoft-com:office:excel" xmlns="http://www.w3.org/TR/REC-html40">
<head>

<meta name=Generator content="Microsoft Excel">

<style>

</style>
</head>
<body>

-828.171936 | 7166.310456 | 7

[2021-12-24 04:28] caic99 commented on #584
Please provide more detailed information. @dyzheng

[2021-12-24 06:43] #576 closed, assigned to dyzheng

[2021-12-26 09:21] mohanchen commented on #585
Try to clearly describe the issues, there are several typos in the sentences.

[2021-12-27 14:26] mohanchen commented on #570
Is it because the initial wave functions are random?

[2021-12-27 14:59] dyzheng commented on #570
Yes， I tested DOJO pseudopotential which has pseudo atomic wavefunction in pseudopotential files. First cg step is only slightly slower than others.

[2021-12-28 07:56] pxlxingliang opened #587 "Suggest ABACUS could output the version"
Suggest ABACUS could output the used version in the log file
And also run a simple command like : "abacus --version" to catch the version.

[2021-12-29 13:36] dyzheng opened #589 "nbspline=1 would cause "nan" error."
## Describe the Bug
In case /abacus-develop/test/integrate/133_PW_DJ_PK/ ,
Replace file INPUT with
[INPUT.zip](https://github.com/deepmodeling/abacus-develop/files/7789076/INPUT.zip)

or just set "nbspline 1" or "nbspline 0"
you will see "nan" error:
`notconv = 8
 Hamilt::diago', too many bands are not converged!
 CG1    nan            nan            -nan       3.110e+02  1.835e+00`

In my experie

[2021-12-30 02:38] pxlxingliang opened #590 ""BAD TERMINATION" using LCAO in large system"
In this example，where the SCF,FORCE,STRESS are calculated on the Si512 system and the ks_solver is scalapack_gvx, all calculations are normal finished, but in the end abacus throw the message as shown in below:
![image](https://user-images.githubusercontent.com/91927439/147717238-f7252d92-b464-441d-b39a-a5c18c654ed3.png)

the running command is : mpirun -np 8 -env OMP_NUM_THREADS=1 abacus > result

[2021-12-30 02:55] dyzheng opened #591 "memory leak in MD lcao calculation"
## Describe the Bug
In case test/integrate/220_NO_KP_MD_NVE , modify nstep to 1000, the memory raised rapidly every ionic step.

When we tested pw code, it wouldn't happen.
When we tested old non-local pseudopotential calculating method by setting vnl_method=0 in code, the bug wouldn't happen either.

So maybe we can try to solve this memory leak problem.

[2021-12-30 07:48] #591 closed, assigned to dyzheng

[2021-12-31 04:32] ouqi0711 opened #594 "ABACUS pw efficiency is significantly lower than QE"
## Describe Current Status and Possible Solution

A SCF+force test has been carried out on single water molecule gamma only calculation with pw basis in both ABACUS and QE. Same functional (PBE) and ECut (100Ry) are applied in both calculation. Running with 4 cpus, QE takes around 0.12s while ABACUS takes more than 1sec (see attached output). The number of calls on HPsi and FFT in ABACUS is signif

[2021-12-31 09:12] wenfei-li opened #595 "LCAO MD stopping at 9-th step"
## Describe the Bug
When running MD with LCAO and PBE on a condensed phase water system containing 32 water molecules, the jobs always stops at 9-th ionic step, when carrying out diagonalization.
When setting ks_solver = genelpla, the job gets stucked.
When setting ks_solver = scalapack_gvx, the job quits with error message related to matrix not being positive definite.

## To Reproduce
Steps to r

[2022-01-01 08:58] dyzheng commented on #595
@YuLiu98 I found mdtype==1 means ADS thermostat for NVT, and mdtype==2 means NHC thermostat for NVT.
In the old version, mdtype==1 and set NVT_control as default 1 means NHC thermostat for NVT.
Why did you do this modification?

The other problem is ADS thermostat is wrong for parallel version.
Please take care of the random number used in ADS functional!!!

[2022-01-01 09:10] dyzheng commented on #585
Okay, In ABACUS, user can set "symmetry" option in INPUT file to decide whether or not the lattice symmetry should be considered.
We expect to be able to see whether considering the symmetry has no effect on the correctness of some outcomes: energy, ionic forces, stress matrix.

[2022-01-02 02:30] YuLiu98 commented on #595
Parameter NVT_control is useless in the new version, and mdtype is used to choose specific thermostat, which is more convenient.

In the old version, mdtype==1 and set NVT_control as default 1 means NHC thermostat for NVT.
Why did you do this modification?

This issue results from the random number used in ADS thermostat, and I will fix it.

Please take care of the random number used in ADS functi

[2022-01-03 07:27] #595 closed, assigned to YuLiu98

[2022-01-06 08:32] dyzheng opened #606 "Too many OPENBLAS warning printed for GNU compiler!"
## Describe the Bug
In test case: tests/integrate/301_NO_GO_15_CF_CS
There are too many warning message printed as :
"OpenBLAS Warning : Detect OpenMP Loop and this application may hang. Please rebuild the library with USE_OPENMP=1 option."

When using "cmake -B bulid -DUSE_OPENMP=1" for compiling, and gamma_only = 1 this error would happen, but the error would disappear when gamma_only=0 or basis

[2022-01-06 08:34] dyzheng commented on #606
I found that the warning message come from function : UHM.GG.cal_rho(GlobalC::LOC.DM);

[2022-01-06 08:44] dyzheng commented on #606
It is come from "dsymm_()" function.

[2022-01-06 08:49] dyzheng commented on #606
but the function dgemm_() is ok.

[2022-01-06 08:50] caic99 commented on #606
Hi @dyzheng ,
The warning comes from the OpenBLAS library. You should try rebuild OpenBLAS but not ABACUS with that flag.

[2022-01-06 17:38] wenfei-li opened #609 "Unified output formats and files of the MD function needed"
Geometries from MD calculations was provided as .cif file. This is no longer available after the reconstruction of MD module. Instead they are provided as STRU file format.
This is causing troubles since the analysis toolkit I have (which was provided by @dyzheng) only deals with .cif file. As a result, would like to have 1) either a script which converts between the two output formats; 2) or an o

[2022-01-07 08:42] YuLiu98 opened #611 "Bugs in unittests with cmake"
## Describe the Bug
When ABACUS is complied with the option **BUILD_TESTING** ON, if the compile command `cmake --install build` is used in the last,
the executable file `base_matrix3` will be moved to `/build/tests/`.
Run it will report an error:
`error while loading shared libraries: libelpa.so.15: cannot open shared object file: No such file or directory`

## To Reproduce
Steps to reproduce the

[2022-01-09 02:00] Qianruipku opened #613 "Bug in calculating fft grids"
## Describe the Bug
When setting lat0 = 1.889727, lattice vector = [4.968589335, 0, 0, -3.36858781, 3.941700951, 0, -0.617479579, 0.246526389, 4.695735987], wfceut = 50, ABACUS gets grids of 45*48*45 which is larger than that of QE.

[2022-01-10 02:56] pxlxingliang opened #616 "Incorrect using of "inline" function in module_base/complexarray.h"
In module_base/complexarray.h, it has declared an "inline" function "inline void operator=(std::complex <double> c);", but the definition is in "complexarray.cpp", this will cause error when this function is called in other codes.

I suggest modify this function to be a normal function by removing "inline".

[2022-01-10 04:03] caic99 commented on #616
@pxlxingliang Thank you for your issue! Could you provide detailed information on how the 'inline' attribute causes error?

[2022-01-10 04:07] caic99 commented on #611
Hi @YuLiu98 ,
Could you please check if the `abacus` main program is able to execute normally? If not so, the program may related to the path to your `libelpa.so`. What is the path, and have you added it to `LIBRARY_PATH` environment variable?

[2022-01-10 06:20] #585 closed, assigned to dyzheng

[2022-01-10 08:48] YuLiu98 commented on #611
Yes, the `abacus` main program is able to execute normally.

Without the command `cmake --install build`, the `abacus` main program and executable files such as `base_matrix3` can also run normally.

[2022-01-10 08:55] caic99 commented on #611
OK, where did you install your elpa library?

[2022-01-10 09:30] Qianruipku commented on #563
I ran this case with 1/2/4 processors and did not see the error. Would you provide more details?
Mistake "psi_norm > 0" occurs when the program cannot get a new eigen wavefunction that is orthogonal to other wavefunctions.
Possible reason: nband is big while wfcecut is small

[2022-01-10 09:43] caic99 commented on #611
Hi @YuLiu98 ,
Could you run `ldd ./base_matrix3` for me to see if the `libelpa.so` is properly linked?

[2022-01-10 10:15] pxlxingliang commented on #616
In my "complexarray_test.cpp" (attached file
[complexarray_test.cpp.txt](https://github.com/deepmodeling/abacus-develop/files/7838086/complexarray_test.cpp.txt)
), the compilation is failed (command is: g++ complexarray_test.cpp ../complexarray.cpp -lgtest -lpthread -lgtest_main), and the message is as below:
[code]

[2022-01-10 10:19] #613 closed, assigned to Qianruipku

[2022-01-10 12:48] Qianruipku commented on #589
![图片](https://user-images.githubusercontent.com/76200646/148768364-55feacf6-245f-4223-a88d-dbe96dd8c740.png)
n must be larger than 1, or it will have (0)^-1 which causes "nan"
Besides, nbspline must be even.

[2022-01-11 01:38] #589 closed, assigned to mohanchen, dyzheng, Qianruipku

[2022-01-11 02:16] YuLiu98 commented on #611
1) `ldd ./base_matrix3`:
`libelpa.so.15 => not found`

2) `ldd ../abacus`:
`libelpa.so.15 => /home/liuyu/soft/newelpa/lib/libelpa.so.15 (0x00007eff069ea000)`

The main problem is ok, but the unittest executable files can not link the `libelpa.so`.

Without the command `cmake --install build`, everything is ok.

[2022-01-11 02:26] caic99 commented on #611
@YuLiu98 Hmmm, it seems that your elpa library is not installed in a standard place. Have you ever tried extending `/home/liuyu/soft/newelpa/lib` to environment variable `LIBRARY_PATH` and `LD_LIBRARY_PATH`?

[2022-01-11 02:41] YuLiu98 commented on #611
OK, thank you! Now the unittest executable files can link the `libelpa.so` properly.

[2022-01-11 02:44] #611 closed, assigned to caic99

[2022-01-11 03:15] caic99 commented on #616
It seems that the declaration of operator = does not match its definition(the `const` decorator of argument).
https://github.com/deepmodeling/abacus-develop/blob/9aa165087b1049eb668165a9c6e354336374e903/source/module_base/complexarray.h#L35
https://github.com/deepmodeling/abacus-develop/blob/9aa165087b1049eb668165a9c6e354336374e903/source/module_base/complexarray.cpp#L129

[2022-01-11 03:22] caic99 commented on #616
The inlined functions should not be declared and defined in separated files, you can just remove the 'inline' attribute of function. @pxlxingliang Would you fix the bug for us?

[2022-01-11 03:33] pxlxingliang commented on #616
ok, I will submit a PR to fix it.

[2022-01-11 05:19] hongriTianqi commented on #564
The current example sets atom not to move in STRU file (wrongly). But we think an opt file should be output as well.

[2022-01-11 08:19] Qianruipku commented on #594
There are 3 reasons:
1. ABACUS uses 14 nbands while QE uses 6 nbands
2. QE has gamma only while ABACUS does not have for pw basis
3. QE uses "david" diagonalization method which is faster than "cg" while ABACUS has not optimize "david" method yet and it uses "cg" method by default.
Besides, it seems ABACUS need a little more cg steps to get wavefunctions than that of QE. Maybe the cg method in ABA

[2022-01-11 13:14] wenfei-li opened #627 "init_meshball problem"
## Describe the Bug
When running an example with water molecule using develop branch, I encounter the following error message:

ABACUS.mpi: ./src_lcao/grid_meshball.cpp:124: void Grid_MeshBall::init_meshball(): Assertion `count == this->meshball_ncells' failed.

The error occurs for serial as well as parallel running. The example is attached:
[meshball_bug.zip](https://github.com/deepmodeling/abac

[2022-01-12 02:57] pxlxingliang commented on #563
The NBANDS is 58 and wfcecut is 60 Ry.
I re-run this case by lasted abacus, it can be normal finished, I don't know what changed between the version at 13 Dec 2021 and now, but the result is good.

[2022-01-12 07:30] Qianruipku opened #630 "A module for pw to do transformations between real and reciprocal spaces."
## Background
FFT is one of the most popular functions in calculations of the electronic structure. Different from simple fft, we only consider the reciprocal grids in a ball with the radius of GCUT. In other words, the values of reciprocal grids out of the GCUT ball (|G+K|>GCUT) are zeros. A module to treat this special FFT is needed.

## Describe the solution you'd like
A new class which can do

[2022-01-12 07:49] Qianruipku commented on #630
#418 add pw_basis_k class
#420, #430, #432, #435 add fft in pw module
#448 can first be compiled
#463, #476,#480, #483, #485 add mpi and tests, tests are passed.
#490, #494, #500, #505, #507 change some places to reach higher efficiency
#509 use valgrind to test the memory, the test is passed.
#535, #540, #542, #544, #548, #549 further profiling
#554 add single precision calculation for pw module

[2022-01-13 04:35] #616 closed, assigned to mohanchen, dyzheng

[2022-01-14 09:39] dyzheng opened #637 "Bug report for CI test of 311_NO_GO_S2_elec_minus case"
## Describe the Bug
In CI test, we found some errors randomly occured and we don't know why.
This case should be tested by valgrind.
311_NO_GO_S2_elec_minus for PR #636

[2022-01-17 02:37] dyzheng commented on #637
Another error occurs on case 831_NO_GO_LT_bcc in CI test. #636

[2022-01-17 02:57] dyzheng commented on #637
Another error occurs on case 830_NO_GO_LT_fcc in CI test for PR #634

[2022-01-17 03:35] dyzheng commented on #637
Another error occurs on case 345_NO_GO_BS in CI test for PR #634

[2022-01-17 14:39] pxlxingliang opened #643 "Job "Aborted (core dumped)" when using Al.pz-vbc.UPF Pseudopotential"
In this case, ABACUS can not running when the pseudopotential is by using "Al.pz-vbc.UPF", and the error is:
abacus: /home/pxl/abacus-develop/source/src_pw/charge.cpp:253: lambda []()->std::vector<double, std::allocator<double>>::operator()()->std::vector<double, std::allocator<double>>: Assertion `charge!=0.0 || charge==atom->zv' failed.
Aborted (core dumped)

pseudopotential "Al.pz-vbc.UPF" is f

[2022-01-20 01:37] dyzheng opened #648 "File "source/src_pw/tools.h" will not be used in ABACUS development planning."
## Describe Current Status and Possible Solution

In ABACUS code, there are so many files included header "src_pw/tools.h", which contains lots of header files in "source/module_base/".

We plan to remove it, and won't use this file any more.

[2022-01-20 03:02] sunliang98 commented on #643
In read_pp_upf201.cpp, we locate the position of the initial charge (Pseudopot_upf::rho_at) in pseudopotential by finding the key word "<PP_RHOATOM", for example, in "Al_ONCV_PBE-1.0.upf", the header of initial charge is "<PP_RHOATOM type="real"  size=" 602" columns="4">". However, in "Al.pz-vbc.UPF", the header is "<PP_RHOATOM>", so that ABACUS can't find initial charge, and corresponding warning

[2022-01-20 03:12] pxlxingliang commented on #643
May be, we should make ABACUS be compatible with the format like "<PP_RHOATOM>".

[2022-01-20 03:22] YuLiu98 commented on #643
Yes, maybe another method to extract keywords in pseudopotentials is needed.
For example, if the first 11 characters of lines is `<PP_RHOATOM`, the part is judged to have been found, no matter the next character is `>` or space character.

[2022-01-20 03:38] sunliang98 commented on #643
For example, if the first 11 characters of lines is <PP_RHOATOM, the part is judged to have been found, no matter the next character is > or space character.

This may cause new problem, for example, this is a key word `<PP_R`, it will be confused with `PP_RAB` and `PP_RHOATOM` if we just judge the first 5 characters.
Let ABACUS look for both `<PP_RHOATOM>` and `<PP_RHOATOM` may avoid this problem

[2022-01-20 03:49] YuLiu98 commented on #643
OK, you are right, I ignored the problem.

[2022-01-20 04:20] pxlxingliang commented on #637
Another case is 260_NO_15_PK_PU_AF in CI test for PR 612

[2022-01-20 07:58] #648 closed, assigned to nobody

[2022-01-22 12:55] dyzheng opened #654 "Refactor project: getting rid of GlobalC::UFFT"
## Describe Current Status and Possible Solution

Big Object: make H2E module independent.
Key Result 1: make H2E module for pw code independent.
Key Result 2: make H2E module for lcao code independent.

This Issue is for small key result in Key Result 1: Getting rid of GlobalC::UFFT

In ABACUS, class Use_FFT is used for dealing with FFT operations, it contains some functions and a temporary memor

[2022-01-24 07:08] caic99 commented on #344
For lapack c++ interface like `lapacke.h` and `mkl.h`, it is defined with a `LAPACK_` prefix.

[2022-01-24 13:37] mohanchen commented on #643
Has the problem been solved?

[2022-01-24 13:41] mohanchen commented on #386
I guess this problem origins from the implemented algorithm was still incorrect, right? @lyb9812

[2022-01-24 13:43] mohanchen commented on #627
@YuLiu98 Could you reproduce this error? This error is related to the grid integral used in LCAO.

[2022-01-24 16:29] lyb9812 commented on #386
Yes, but the importance of the small difference for tddft need further test after completing the new implementation.

[2022-01-25 01:55] YuLiu98 commented on #627
Everything is OK with the latest develop branch on my workstation.

[2022-01-25 05:40] #277 closed, assigned to denghuilu, caic99

[2022-01-25 08:45] wenfei-li opened #661 "diagonalization of Hamiltoian using lapack"
I noticed that ABACUS provided some interfaces to using LAPACK subroutines for solving the Hamiltonian matrix, but most of these interfaces are not used and/or not working:
1. In Pdiag_Double::diago_double_begin, there is an option KS_SOLVER=="lapack_gv", which calls the dsygv_ subroutine from LAPACK to solve the generalized eigenproblem HC=eSC;
2. In Pdiag_Double::diago_double_begin, there is an

[2022-01-26 01:30] mohanchen commented on #661
The LAPACK interface is used in two situations. (1) In the parallel version of the PW line, each processor calls LAPACK to diagonalize a small H matrix formed by the Bloch wave functions, resulting in a good initial guess of Bloch wave functions for the subsequent iterative diagonalization method, such as CG or Davidson. (2) In the serial version of the LCAO line. I think it would be better to fix

[2022-01-26 01:44] mohanchen commented on #630
@Qianruipku. In your description, I don't know the name of the 'new class', who will provide the solution? you? or, are you asking for help?

[2022-01-26 01:46] mohanchen commented on #627
@caic99 We need a solution to quickly repeat this kind of bug in different environments, could you reach out and provide a solution? If you have more questions, please reply here.

[2022-01-26 01:50] mohanchen commented on #609
@YuLiu98 Please describe your full MD output formats here, and we will discuss the solutions for those users using the old output format. @Liu-RX can also provide comments.

[2022-01-26 01:53] mohanchen commented on #606
Has the problem been solved? @dyzheng @caic99

[2022-01-26 01:54] mohanchen commented on #587
That's an excellent idea! Who will be suitable to add the new feature? @pxlxingliang @caic99

[2022-01-26 01:56] mohanchen commented on #594
Has the issue been solved? @ouqi0711

[2022-01-26 01:57] mohanchen commented on #590
@dyzheng Could you repeat the test and provide some clues?

[2022-01-26 02:01] mohanchen commented on #577
@dyzheng @hongriTianqi Could you answer the question and provide possible solutions/plan here?

[2022-01-26 02:04] mohanchen commented on #564
When you prepare the refactor plan for the input/output files, please make sure to have a section describing the current input/output format problems we met in the ’Github issues' section. @hongriTianqi @dyzheng @pxlxingliang

[2022-01-26 02:10] mohanchen commented on #570
On one hand, I think the problem @Liu-RX met is because the initial guess of wave functions or atomic charge density is not properly extrapolated because the MD steps change the coordinates of atoms. On the other hand, the problem @dyzheng met is not properly described, we don't know it is an scf calculation or a MD calculation. More details should be added.

[2022-01-26 02:13] sunliang98 commented on #643
I have submitted the modified code according to the suggestion of @dyzheng and @caic99 .

[2022-01-26 02:15] #560 closed, assigned to dyzheng

[2022-01-26 02:16] YuLiu98 commented on #609
1) ABACUS must output STRU because it is one input file of ABACUS;
2) cif files even other formats such as POSCAR could be one of output formats,  but I think that converting STRU to other formats (cif, POSCAR and so on) with post-processing tools (such as dpdata ? @Liu-RX) may be a better choice, otherwise we need to provide too many options.
3) MD informations (lattice, positions, forces, virial

[2022-01-26 03:28] maki49 opened #664 "Memory leak in Parallel: any of examples fails when running with `valgrind --trace-children=yes`"
## Describe the Bug
When running ABACUS with `valgrind --trace-children=yes` for any cases, it will report errors and stop before any calculation.
- uninitialised bytes
- uninitialised value
- definately lost

That may indicate that there exists memory leak in parallel program.
If these are fixed, it would be much more convenient to debug in parallel programming.
![image](https://user-images.githu

[2022-01-26 03:32] Liu-RX commented on #609
We have an analysis toolkit available for the latest format. I will send the toolkit to you @wenfei-li . If the output format is the finally settled version, I will adapt it to dpdata in the following days.

[2022-01-26 03:49] Liu-RX commented on #609
Furthermore, although the MD output format is still unsettled, I don’t think we should use the old cif format any longer. The cif format requires coordinate transformation before output, sometimes making the output and input structure in two different coordinates. This will be big trouble in NpT ensemble since the simulation box keeps changing and you will be unable to trace a, b or c vector with

[2022-01-26 07:21] wenfei-li commented on #661
lapack_gv differs from lapack_gvx in the lapack subroutine called for solving matrix diagonalization. In lapack_gv, dsygv_ is called which returns all the eigenvalues of a Hermitian matrix; while in lapack_gvx, dsygvx_ is called which returns selected eigenvalues.

[2022-01-26 07:24] caic99 commented on #661
Hi @wenfei-li ,
I didn't see the difference in your first issue message (dsygv vs. dsygvx). It may be a typo.

[2022-01-26 07:27] caic99 commented on #664
Hi @maki49 ,
Would you follow the guideline of valgrind to add flags to trace detailed message? In your image, "Rerun with --leak-check-full to see details of leaked memory".
Also, try to use address sanitizer for a more accurate result. Compile abacus with `-DENABLE_ASAN=ON` and run the program.

[2022-01-26 07:31] caic99 commented on #664
@maki49 Besides, It's better to quote the output data in text format, rather than attach a screenshot.

[2022-01-26 07:34] caic99 commented on #627
Hi @mohanchen ,
@wenfei-li did not provide her/his environment detail. From the executable name, I guess this error happens with an executable compiled by Makefile. Since there's no guaranteed support for Makefile compilation, it's hard to reproduce the case.
In addition to compilation, the running status also matters, say the number of MPI processes. The bug reporter and @YuLiu98 didn't provide e

[2022-01-26 07:38] caic99 commented on #606
Hi @mohanchen ,
I didn't encounter such problems, and I'm still waiting for response from @dyzheng .

[2022-01-26 07:41] caic99 commented on #587
Hi @mohanchen ,
Since abacus does't support any arguments, printing abacus version information in output log is a better choice for now.
And, how to decide the version number? @dyzheng

[2022-01-26 07:48] caic99 commented on #643
Hi @sunliang98 ,
Are you ready with your PR? If all done, resolve conversations and request a review from @dyzheng .

[2022-01-26 09:28] wenfei-li commented on #661
thanks! i've edited it

[2022-01-26 10:09] maki49 commented on #664
I've compiled with `-DENABLE_ASAN=ON` and rerun `examples/01a_Si_diamond_pw_scf` with `valgrind --leak-check=full --trace-children=yes mpirun -n 4 ../../build/abacus`.
Here is the full output-log.
[valgrind_full_children.log](https://github.com/deepmodeling/abacus-develop/files/7940744/valgrind_full_children.log)

[2022-01-26 12:28] wenfei-li opened #667 "Refactor "ddot"s (too many interfaces)"
There are many realizations of the method "ddot" in the program which supposedly calculates the inner product between two complex arrays:
1. Diago_CG::ddot, which is defined as:
[code]

2. DiagoCG::ddot_real and Hamilt_PW::ddot_real, both uses:
[code]

3. Hamilt_PW::ddot, which uses:
[code]

4. Hamilt_PW::just_ddot, which uses:
[code]

5. ddot in xc_3.cpp, which uses:
[code]

Of all those differen

[2022-01-26 12:57] wenfei-li opened #668 "Davidson diagonalization gives wrong results"
## Describe the Bug
ks_solver == 'dav' does not produce the correct result

## To Reproduce
Steps to reproduce the behavior:
For any of the PW examples in the intergrate test, add "ks_solver dav", the resulting energy will be different from running with default diagonalization (which uses CG method)

[2022-01-26 13:12] caic99 commented on #664
Hi @maki49 ,
Thank you for your report. However, Sanitizer and Valgrind are two tools of same purpose. Please don't use them together, just running without valgrind is OK.

[2022-01-27 06:39] caic99 opened #670 "GlobalC makes UT executable large"
# Current status
When writing UTs, the "spaghetti code" leads to the requirement of nearly every abacus model.
Take `tool_check_test` under module_base as an example. The requirement chain is:
tool_check_test.cpp tool_check_test.cpp  ../tool_check.cpp ../tool_quit.cpp ../global_variable.cpp ../timer.cpp ../global_file.cpp ../memory.cpp
Thus, we have to link `base` into unit test, and it requires `

[2022-01-27 06:52] dyzheng commented on #670
If any source code rely on GlobalV to parameter transfer, now there is no time to discuss the top-level design of GlobalV, but we need to write the unit test first and modify the source code to reduce the dependency.

[2022-01-27 07:20] dyzheng commented on #670
I have tested this file tool_check_test, maybe the solution for this dependency problem is mock for "tool_quit.cpp"

[2022-01-27 07:37] mohanchen commented on #670
I would suggest that we don't need to test for "tool_quit.cpp" at this moment. What do you guys think?

[2022-01-27 07:38] mohanchen commented on #668
@Qianruipku Could you take a look and write down your suggestions here?

[2022-01-27 08:01] dyzheng commented on #670
Yes, I have tried this method, and added mock for WARNING_QUIT() for file tool_check_test.cpp:
`
#include "../tool_quit.h"
void ModuleBase::WARNING_QUIT(const std::string &file,const std::string &description)
{
	std::cout<<"NOTICE"<<std::endl;
}
`
The compiling is correct for dependents: tool_check_test.cpp ../tool_check.cpp .
And the executable file is very small.

[2022-01-27 08:15] dyzheng commented on #670
Maybe the settlement is not the best for our unittest code. But we definitly not dependent whole ABACUS files.

[2022-01-27 08:34] wenfei-li opened #671 "Should we remove all globalV:: from module_base?"
For example, the GlobalV::ofs_running in tool_title.cpp. I noticed that someone actually tried to overload the TITLE function, such that ofstream is passed as an input variable. But the new TITLE function is only used in a limited number of places in the code.
Eliminating GlobalV from module_base would make it easier to build unit tests  since it removes dependence on the file global_variable.cpp

[2022-01-27 08:42] wenfei-li opened #672 "Should we put matrix inversion and diagonalization as methods of the two matrix class?"
Instead of passing the matrix class as an argument to matrix inversion and diagonalization subroutines, such as the following:
[code]
Would it be more natural to make it a method of the matrix class?

[2022-01-27 08:47] wenfei-li opened #673 "An unified interface to "dcopy" needed"
what dcopy does is simple : copies content from an array A into another array B. In ABACUS, this is realized in 3 places:
1. the dcopy_ interface to the BLAS subroutine dcopy_, in blas_connector.h;
2. the dcopy function defined in myfunc.h;
3. the ModuleBase::GlobalFunc:DCOPY function defined in global_function.h
Would it be better if we have a unified interface to do this job?

[2022-01-27 08:48] mohanchen commented on #671
I think it is a good idea to pass ofs_running into TITLE function.

Speaking of removing all "GlobalV::" variables from module_base, I think it is a good idea. However, I suggest the refactor plan be reviewed before anyone would like to do it.

[2022-01-27 08:49] mohanchen commented on #671
In the refactor plan, one can list all of the GlobalV:: variables used in the module_base module.

[2022-01-27 08:54] mohanchen commented on #673
Yes, definitely. The 'dcopy' is a specific subroutine defined in BLAS, so I think it would be better to have another interface defined in module_base. For example, DCOPY in global_functional.h. In this regard, we can either use BLAS or other dcopy subroutines in DCOPY.

[2022-01-27 09:10] wenfei-li opened #674 "myfunc.h and XC functionals"
Some XC functionals are defined multiple times in the code. For example, in myfunc.h (realized in xc_1.cpp) we have
[code]

while in the XC_Functional class (xc_functional.cpp) we have basically the same thing:
[code]
The XC_functional::becke88 is the one actually used in ABACUS. However, some other functionals such as OPTX are only defined in myfunc.h but not xc_functional.h, as a result, we have

[2022-01-27 09:14] wenfei-li commented on #673
Sounds good!

[2022-01-27 09:16] wenfei-li commented on #671
Sure.

[2022-01-27 09:40] mohanchen commented on #672
The subroutine shown above is a temporary solution for calling LAPACK subroutine, and the solution is not a perfect one. It origins from a fact that the data stored in ComplexMatrix owns a different format (row first or column first) as required by the input subroutine of LAPACK. Therefore, we have to transpose the input/output matrices a and b, which is a waste of computational time. In principle

[2022-01-27 09:41] mohanchen commented on #674
Yes, exactly. We should move all necessary functions from myfunc.h to xc_functional.h and remove myfunc.h

[2022-01-27 09:44] mohanchen commented on #667
Yes, it is better to have just one ddot, the same logic applied to dcopy, etc. However, please keep in mind that in the GPU version, the ddot may have different implementations

[2022-01-27 10:02] wenfei-li commented on #627
I cannot reproduce the bug myself ... I'll close the issue.

[2022-01-27 10:02] #627 closed, assigned to dyzheng

[2022-01-27 10:04] caic99 commented on #670
@mohanchen  Agreed.

@dyzheng It's a waste of time "modify the source code to reduce the dependency" at this time. The refactoring project should take this  into consideration. For UTs, I'll find a solution.

[2022-01-27 10:05] wenfei-li commented on #672
I see ... this information would be quite helpful in the future refactoring of module_base.

[2022-01-28 01:14] caic99 commented on #672
Hi @wenfei-li ,
Would you help me finding out similar situations (transposition before & after lapack routine)? It would be very helpful determining matrix layout.

[2022-01-28 01:49] hongriTianqi commented on #670
@caic99 @dyzheng @mohanchen

This is wrong. GlobalV only includes declaration of some 100 parameters, and no other dependence.

[2022-01-28 01:53] hongriTianqi commented on #670
@mohanchen @dyzheng @caic99

disagree. To postpone is not to solve.

[2022-01-28 02:37] #281 closed, assigned to mohanchen, Qianruipku, caic99

[2022-01-28 02:37] mohanchen commented on #281
The PW module has been implemented and tested, the results are sufficiently accurate, at least for the tests provided in the module.

[2022-01-28 02:41] wenfei-li commented on #672
Basically all the wrappers in class LapackConnector uses the transpose function.

[2022-01-28 02:44] wenfei-li commented on #674
Sure, there are some other functions in myfunc.h other than the functionals. I'll first move all the functionals, and later see how to deal with the others.

[2022-01-28 02:46] wenfei-li commented on #667
I see .. I think I can first try sort out the CPU-related methods.

[2022-01-28 02:58] mohanchen commented on #670
Agree, the GlobalV does not depend on others.

[2022-01-28 03:07] mohanchen commented on #670
If we delete #include "../src_parallel/parallel_common.h in tool_quit.cpp, what will happen?

[2022-01-28 06:16] dyzheng commented on #570
Sorry, the problem I met is only about scf, it should be another issue.

[2022-01-28 06:46] #643 closed, assigned to dyzheng

[2022-01-28 10:01] caic99 commented on #670
Nothing happenes. I'll remove it.

[2022-01-28 10:02] caic99 commented on #670
My bad, I mixed up GlobalV with GlobalC. @hongriTianqi @mohanchen

[2022-01-28 10:04] caic99 commented on #670
Hi all,
In my PR #676 , I realized the proposed "possible solution" part.

[2022-01-28 10:04] #670 closed, assigned to caic99

[2022-01-28 14:39] maki49 opened #679 "Rename the function `Diago_LCAO_Matrix::using_HPSEPS_complex` needed in LCAO line"
The function `Diago_LCAO_Matrix::using_HPSEPS_complex` calls the subfunction`diago_complex_begin`, which
contains routines with both 2 solvers (ELPA and HPSEPS).
So, the name `using_HPSEPS_complex` is not conform with what it's doing, which makes it misleading.
Maybe it can be renamed such as "solve_eig_complex".

[2022-01-28 15:14] mohanchen commented on #679
Agree, unless someone comes up with a better name.

[2022-01-29 15:18] dyzheng commented on #584
This error seems caused by my misuse of valgrind, I will close this Issue.

[2022-01-29 15:18] #584 closed, assigned to dyzheng, caic99

[2022-02-06 05:18] mohanchen commented on #526
Of course not, please learn some DFT knowledge when you have time.

[2022-02-06 05:19] mohanchen commented on #526
This should be another issue.

[2022-02-06 05:19] mohanchen commented on #526
This is another issue.

[2022-02-06 05:21] #553 closed, assigned to mohanchen

[2022-02-06 05:23] mohanchen commented on #637
some errors? What kind of errors? Could you provide further details?

[2022-02-06 05:24] mohanchen commented on #590
@dyzheng same question: Could you repeat the test and provide some clues?

[2022-02-06 05:26] mohanchen commented on #580
the use of bx=5 should be prohibited in this case. We need refactor not bug-fixed.

[2022-02-06 05:27] mohanchen commented on #536
PW or LCAO? any further progress?

[2022-02-06 15:01] maki49 opened #684 "Refactor needed for some inline functions in `pdiag_double.cpp`"
There are some inline functions in `pdiag_double.cpp` (while not defined in `.h` file）without comments，whose name cannot tell developers what they are doing:
`globalIndex，localIndex，cart2blacs，set_elpahandle，q2CTOT，q2ZLOC_WFC，q2ZLOC_WFC_WFCAUG，q2ZLOC_WFC_CTOT，q2ZLOC_WFC_WFCAUG_CTOT，q2WFC_complex，q2WFC_WFCAUG_complex，q2WFC_CTOT_complex，q2WFC_WFCAUG_CTOT_complex，ifElpaHandle`

I suggest:
1. For elpa

[2022-02-06 15:01] dyzheng opened #685 "How to use or update CI tests for new branch or existing branches?"
## Describe Current Status and Possible Solution

CI tests in Github is the shield for preventing code correctness from being broken by any pull-request.
But when a new branch is created, it wouldn't trigger CI test for this new branch.
We need documentations for introducing our CI system.

[2022-02-07 01:51] pxlxingliang commented on #536
LCAO.
@dyzheng can you repeat the problem occurred at @hongriTianqi 's compile environment?

[2022-02-07 02:48] YuLiu98 opened #686 "Hessian matrix and phonon frequencies"
## Background
The Hessian matrix (matrix of the second derivatives of the energy with respect to the atomic positions) and the vibrational frequencies of a system are important in the DFT calculations.

It is necessary to implement the functionality for ABACUS.

[2022-02-09 09:33] haxushu opened #690 "cuSolver may prominently enhance the efficiency of LCAO module"
## Background

According to our [ABACUS LCAO profiling](https://bytedance.feishu.cn/docs/doccn5tOaYdxX4fct8vVlkATNng#), the cost of solving generalized eigenvalue problems plays a dominant role as the scale of the structure is large.

For example, when considering 512 Si atoms each 4x4x4 supercell and using 8 processes, the overhead of ELPA is as follows:
| CLASS_NAME | NAME | TIME(Sec) | CALLS |

[2022-02-10 02:46] lyb9812 opened #692 "excessive dimension for 2d format wave function in wfc_dm_2d"
The dimensions of wfc_k and wfc_gamma in wfc_dm_2d are both (nks) x NLOCAL x NLOCAL. Actually, we only need (nks) x Nbands x NLOCAL.
We need to make some corresponding changes ( like redividing the new 2D format wave functions ) to reduce the size of the 2D format wave  functions.

[2022-02-10 02:58] lyb9812 opened #693 "Dimensions of wave function coefficients in LCAO basis should be updated"
The elpa function elpa_generalized_eigenvectors_d is used in pdiag_double to solve eigen wave functions.
Is the dimension of the output Nbands x NLOCAL or NLOCAL x NLOCAL ?
Can the dimension of the wave function wfc_2d to store the output change from NLOCAL x NLOCAL to Nbands x NLOCAL ?

[2022-02-10 05:54] mohanchen commented on #690
The report is impressive, thanks @haxushu

[2022-02-10 05:56] mohanchen commented on #693
I think it is possible.

[2022-02-10 06:02] mohanchen commented on #557
We will leave this as a discussion topic.

[2022-02-10 06:02] #557 closed, assigned to mohanchen

[2022-02-10 06:07] mohanchen commented on #637
@caic99 could you collect more data and feedbacks on this issue?

[2022-02-10 06:08] mohanchen commented on #673
Any plans or progress on this? @dyzheng

[2022-02-10 06:09] mohanchen commented on #672
Any progress on this issue? @wenfei-li @caic99 @dyzheng

[2022-02-10 06:10] mohanchen commented on #671
Any progress on this issue? @dyzheng

[2022-02-10 06:10] mohanchen commented on #667
Any progress on this issue? @dyzheng

[2022-02-10 06:12] #587 closed, assigned to mohanchen

[2022-02-10 07:38] caic99 commented on #637
Hi @mohanchen ,
I've collected some potential memory leakage problems using Address Sanitizer. We'll look into these special cases after the common problems are fixed.

[2022-02-10 07:40] caic99 commented on #672
Hi @mohanchen ,
This problem should be take into consideration in the process of refactoring ABACUS project, especially `module_base`. An appropriate data structure improves the efficiency.

@Unboundwill Do you have any suggestions?

[2022-02-10 07:42] mohanchen commented on #491
@dyzheng could you provide an example for the 'call twice' issue?

[2022-02-10 07:56] dyzheng commented on #673
First, the current way for DCOPY are programmed with simple loops.
During my testing, it is problematic.
If there is a array a[10], DCOPY(&a[0], &a[2], 5); would cause error that a[4] == a[2] == a[0].
In ABACUS code now, repeat from one array to another is correct, but this function is still not save enough.
In the refactor plan, we only need one function for this operation, and this function shou

[2022-02-10 08:18] dyzheng commented on #671
There are 115 variables in GlobalV namespace in ABACUS now.
In detail:
a. 34 variables for testing, which are read from INPUT file and then saved as global variables in GlobalV.
    plan: we will refactor them in our input refactor progress.
b. 13 variables for parallelization.
    plan: 11 of them will be refactored in our input refactor progress, and 2 of them will be cancelled.
c. NLOCAL variab

[2022-02-10 08:34] dyzheng commented on #667
The function ddot looks like a operator overloading.
Maybe a good solution is that a uniform operator overloading and using unique overloading for some special class.

[2022-02-10 09:36] dyzheng commented on #606
I did not solve this problem now, because I havn't rebuild my OpenBLAS on my GNU docker image till now.
Maybe my image for ABACUS with GNU compiler is too old, how can I get same image as CI test using now?@caic99

[2022-02-10 09:50] Qianruipku commented on #668
I have test 101_PW_15_pseudopots, 103_PW_15_CS_CF, 104_PW_AF_magnetic, 105_PW_FD_smearing,106_PW_BD_chargemixing, 140_PW_15_SO. (in develop branch)
Only results of 101_PW_15_pseudopots are different?
In 101_PW_15_pseudopots, if I change the STRUCTURE a little, the results can be the same.
So it is rare for two methods getting different results.

[2022-02-10 09:58] Qianruipku commented on #668
In 101_PW_15_pseudopots, two methods get different results.
I also run it with QE, two methods in QE get the same result, which is equal to the CG method in ABACUS.
Maybe the DAV program in ABACUS have a little problems or it right and QE may get different results in some case.

[2022-02-10 11:00] dyzheng commented on #491
The example in #590 can repeat this error either.
[error.zip](https://github.com/deepmodeling/abacus-develop/files/8040499/error.zip)
In this case, "mpirun -np 7 abacus" can repeat this error, but "mpirun -np 8 abacus" can't.
[code]

[2022-02-10 11:34] dyzheng commented on #590
Sorry, I can't repeat the same error in my machine.
During My test, 7 cores lead to error in third scf loop, the error occured on calculating vlocal part for hamiltonian.
8 cores lead to error in forth scf loop, the error occured on calculating charge density.
It maybe caused by out of memory.
My suggestion for error from pxlxingliang is focus on memory leak problems, we would better solve reports

[2022-02-10 11:43] #606 closed, assigned to dyzheng

[2022-02-10 12:02] dyzheng commented on #577
Reading wavefunction of plane wave is important, we can only print wavefunction now by setting out_wf as 1 or 2, but the reading function has not been implemented now.
I recommend you can set start_charge as 1 for reading charge density for non-self-consistent calculation.
We will add this function when we start to develop hybrid functional in ABACUS pw code.

[2022-02-10 12:28] dyzheng commented on #562
As far as know, Dr. Pengfei Li is working for solving this problem.
He found that reason for this error caused by your structure is not the best primitive cell for this material.
ABACUS found the best cell but used new rotation matrix to handle original structure.
We can wait for Dr. Li updating progress.

[2022-02-11 04:03] caic99 commented on #606
Hi @dyzheng ,
You can get the docker image with tag `gnu` from our repo's package. https://github.com/deepmodeling/abacus-develop/pkgs/container/abacus-development-kit/14013813?tag=gnu

[2022-02-11 15:17] maki49 opened #707 "Makefile-compiled ABACUS fails in some test cases"
## Describe the Bug
branch: develop

On my workstation, Makefile-compiled ABACUS fails following tests, while cmake-compiled ABACUS passes all tests:
- `107_PW_OD_outputdos` : wrong result (occationally)
- `817_NO_LT_bcc` and `831_NO_GO_LT_bcc`:  segment fault at `Grid_MeshBall::init_meshball`

(Detailed report: [bug-report-3-Makefile.zip](https://github.com/deepmodeling/abacus-develop/files/80496

[2022-02-12 02:39] maki49 commented on #707
Another error occurd in #699 :
`207_NO_KP_OD` occationally fails on CI, while it never failed on my workstation.

[2022-02-12 04:29] lyb9812 opened #709 "Serial version of ABACUS needs refactor"
## Describe the Bug
When I compile the serial version, a lot of codes corresponding to MPI  are still compiled, and some functions for the serial version are not correct.

## To Reproduce
1. change $HONG in Makefile to serial version
2. make fp

## Environment
- OS: ubuntu 18.04
- Compiler: OneAPI 2021.3.0

[2022-02-12 04:30] lyb9812 commented on #709
I cannot change the assignees on my computer.

[2022-02-14 05:20] #686 closed, assigned to mohanchen

[2022-02-14 05:21] #690 closed, assigned to mohanchen

[2022-02-14 05:22] mohanchen commented on #668
How different?

[2022-02-14 05:24] mohanchen commented on #563
Sounds no problems right now.

[2022-02-14 05:24] #563 closed, assigned to dyzheng, Qianruipku

[2022-02-14 05:31] mohanchen commented on #590
This may be due to memory leak problem, which is hard to find in the current stage. We will come back to this issue later (after we do some refactors)

[2022-02-14 05:31] ouqi0711 commented on #594
Thanks Qianrui. That makes sense!

[2022-02-14 05:31] #594 closed, assigned to caic99

[2022-02-14 05:32] mohanchen commented on #664
Memory leak is a problem that will be solved later.

[2022-02-14 05:38] #526 closed, assigned to mohanchen, dyzheng, caic99, pxlxingliang

[2022-02-14 05:39] #503 closed, assigned to mohanchen

[2022-02-14 05:43] dyzheng commented on #536
Sorry, I can't repeat this problem till now. @pxlxingliang @hongriTianqi

[2022-02-14 09:48] wenfei-li opened #719 "threshold for rho and grho in xc functionals"
I've noticed in potential_libxc.cpp that the threshold for rho and grho is only applied when nspin=2, and for GGA correlation:
[code]

Is there a specific reason for not applying the same threshold for other cases? (nspin = 1, GGA exchange, etc.)
Furthermore, this is not consistent with that in xc_gga_pw.cpp:
[code]
This is probably the reason why our results do not agree when using and not using

[2022-02-15 03:01] mohanchen commented on #719
Thanks Wenfei! This is an important message! jiyy is short for ji yuyang, so probably this change was made by him without notifying others, @dyzheng could you ask him the reason for adding these parameters? In my opinion, we should fix this issue by using the same parameters.

[2022-02-15 03:11] mohanchen opened #721 "ESolver module needed to have a better interface with Relax/MD/rt-TDDFT modules"
Currently, the RELAX/MD/rt-TDDFT codes were separately written for pw and LCAO lines. We need to unify the electronic structure codes to a new module named 'ESolver', meaning "Energy solver".

The 'ESolver' gives the total energy/forces/stress of a given set of atomic coordinates within a cell box under periodic boundary conditions. We need to have this 'ESolver' interface in order to better organ

[2022-02-15 07:23] ouqi0711 opened #722 "Current recommended values for exx-related input parameters (in input-main.md) are not appropriate."
## Background
 The input-main.md explains basically all input parameters in ABACUS and provides recommended values for some of them. However, the current recommended values for exx-related input parameters are not appropriate. SCF calculations with hybrid functional might fail to converge if current recommended values are applied.

## Describe the solution you'd like
An updated set of recommended

[2022-02-16 06:12] #722 closed, assigned to mohanchen

[2022-02-16 07:49] pxlxingliang opened #725 "lack the (-1)^m (Condon–Shortley phase) in Spherical harmonic function Ylm"
I tried to write the unit test of spherical harmonic function Ylm (ModuleBase::YlmReal::Ylm_Real etc.), and use the formula in "Table of spherical harmonics" (https://formulasearchengine.com/wiki/Table_of_spherical_harmonics) as the reference. But, when the magnetic quantum number m is an odd, the results by ABACUS and by formula have the difference of -1. It seems there has no  Condon–Shortley ph

[2022-02-16 10:06] mohanchen commented on #725
There are two types of Ylm, one is complex and the other is real. Have you checked both formats? @pxlxingliang

[2022-02-16 12:49] pxlxingliang commented on #725
Yes. The above formula is the real type. In my understanding, it is also the real form that is implemented in Abacus, for both two methods Ylm_Real and rlylm in ModuleBase::YlmReal.

[2022-02-17 02:21] caic99 commented on #637
`207_NO_KP_OD` also fails sometime, provided by @maki49 at https://github.com/deepmodeling/abacus-develop/pull/699/checks .
@hongriTianqi Does this case also failed once in your PR test?

[2022-02-17 02:26] caic99 commented on #707
Hi @maki49 ,

Currently we lack support of Makefile, while compiling by CMake is actively updated and covered by CI test. We are still not sure if we should keep both compiling method.

For this issue, I've reported in #637 .

[2022-02-17 02:33] caic99 commented on #637
I'm attaching result file here.
[asan.md](https://github.com/deepmodeling/abacus-develop/files/8085079/asan.md)

Also at https://github.com/deepmodeling/abacus-develop/tree/dashboard .

[2022-02-17 06:38] pxlxingliang commented on #725
I have check the code carefully, and calculate the formula of Y11 manually, ABACUS has implemented the  Condon–Shortley phase, but the "Table of spherical harmonics" has no such item.
At line 401 in source/module_base/math_ylmreal.cpp, "p(1,1,i) = -sqrt(x1)" has the minus sign for (-1)^1.
![image](https://user-images.githubusercontent.com/91927439/154418638-26db3bf5-6aa6-4641-9730-bb5aeef22315.png

[2022-02-17 06:38] #725 closed, assigned to mohanchen, dyzheng

[2022-02-17 08:38] maki49 opened #729 "Refactor of 2D-block wavefunction in class `Wfc_Dm_2d`"
- [change the global variable `LOC.wfc_dm_2d` into parameter in lcao-line](https://github.com/deepmodeling/abacus-develop/pull/724/commits/ef50d6899168780b3edb01342b4e5ac3425a48db)

- [move cal_e_delta_bands out to ELEC_scf::scf to prevent using dm in en.calculate_harris and en.calculate_etot](https://github.com/deepmodeling/abacus-develop/pull/724/commits/8b95e569b5be0398c970a91bd1cbb7dcae689a3a)

[2022-02-17 08:41] maki49 commented on #729
The final step of this refactor is to remove class `Wfc_Dm_2d`.

I still need to move `cal_dm` and `cal_dm_R` to appropriate position. After that, this issue can be resolved.

[2022-02-17 08:59] dyzheng commented on #719
Jiyy answered that "There was a problem with the magnetic material calculation at that time. He used a long time to find out that this truncation was needed after comparing it with the LIBXC interface in QE. If this truncation is not done, there will be strange values like energy or gradient coming out of the libxc function, resulting in incorrect results.  "

[2022-02-19 06:32] #729 closed, assigned to mohanchen

[2022-02-20 15:00] maki49 opened #732 "there still exist some Chinese comments, which become messy code on linux"
at least following files have Chinese comments:
- berryphase.cpp
- unk_overlap_lcao.cpp, .h
- unk_overlap_lcao_pw.cpp
- abfs.cpp
- cal_r_overlap_R.cpp
- to_wannier90.h

[2022-02-20 15:01] maki49 opened #733 "GlobalC::LOC and GlobalC::LOWF can be removed"
- change Local_Orbital_Charge LOC (future "Estate_lcao") and Local_Orbital_wfc LOWF (future "Psi_lcao") as two public members of LOOP_ions
- move orb_con (future "Basis_lcao") out from LOWF into Run_lcao::lcao_line
- move 2d wfc_gamma and wfc_k into LOWF to simplify the interfaces

[2022-02-20 15:02] maki49 commented on #733
#731

[2022-02-21 09:12] haxushu opened #736 "CUDA API failed with error"
## Describe the Bug

When running abacus-gpu version in abacus-develop/examples/01a_Si_diamond_pw_scf, the following message appears.
[code]

It may be fixed like this:
[code]
    === To ==>
[code]

[2022-02-21 09:17] haxushu opened #737 "PW CUDA version may be incompatible with LCAO"
## Describe the Bug
When running abacus-gpu version in abacus-develop/examples/02a_Si_diamond_lcao_scf, the following message appears.
[code]

PW CUDA version shows to be incompatible with LCAO, which may attribute to that divide_fft_grid() fails to be called.

[2022-02-21 09:25] caic99 commented on #736
@haxushu Thank you for your report!
@Asuna981002 Would you look into it? In my opinion this patch is correct.
https://github.com/deepmodeling/abacus-develop/blob/bdd72564f80f3b3886786d41227f2776ba618478/source/src_pw/hamilt_pw.cu#L1556-L1559

[2022-02-21 09:45] dyzheng commented on #737
ABACUS with LCAO base has not been optimized by CUDA, so please don't open USE_CUDA option for LCAO base calculation.
We will solve this problem in the future.

[2022-02-21 12:51] #736 closed, assigned to dyzheng

[2022-02-22 03:09] abacus-ustc opened #739 "How to build abacus-gpu version with make?"

[2022-02-22 06:34] caic99 commented on #739
Hi @abacus-ustc ,
GPU supported version of abacus can only be built by CMake. Please refer to https://github.com/deepmodeling/abacus-develop/blob/develop/doc/install.md#configure . You can build abacus with `-DUSE_CUDA=1` flag.

Currently we are using CMake to solve dependencies in configuring step, and the support to Makefile is limited. CMake is our recommended method.

[2022-02-22 06:41] dyzheng commented on #739
Can you try cmake on your machine and display the output when any error is reported?
Maybe we can offer more constructive suggestions.

[2022-02-22 07:13] abacus-ustc commented on #739
As I know, the GPU version of abacus just works for PW basis. So I try to build abacus-gpu in src_pw/ directory.
The code is cloned from https://github.com/deepmodeling/abacus-develop.git
Environment is intel/2018.update3, intelmpi/2018.update3, mkl/2018.update3, cuda/11.6

In src_pw/, after running command
`cmake -B build -DUSE_CUDA=1  && cmake --build build`
The following error message is report

[2022-02-22 08:23] caic99 commented on #739
Hi @abacus-ustc ,
- You should execute `cmake` in the root path of project, i.e. `abacus-develop/`. Currently CMake does not support building single component of `abacus`.
- After that, please ensure your compilers used for CMake. You may assign compilers by environment variables, like `CXX=mpiicpc cmake ...`.
We will update our doc to explain the building procedure more precisely. Should you need

[2022-02-23 02:00] abacus-ustc commented on #739
Thank you for your suggestion.
I change to build the program in the root path  i.e. `abacus-develop/`. And specify the path of each dependent package by
`cmake -B build -DCereal_INCLUDE_DIR=$MyPathOfCereal -DELPA_LIBRARY=$MyPathOfElpaLib -DELPA_INCLUDE_DIR=$MyPathOfElpaInclude -DMPI_CXX_COMPILER=mpicc -DUSE_CUDA=1`
And assign compilers by environment variables,
`export CC=icc CXX=icpc`
Finally it

[2022-02-23 02:49] LiuXiaohui123321 opened #741 "k-point parallelism-related error in GPU version"
## Describe the Bug
When using multiple CPU cores (+ 1 GPU) to run the GPU version of abacus with 1x1x1 kpoint, it reports an error

If I change to use 1 CPU core  (+ 1 GPU), it's ok.
I also try to use the same CPU cores to run CPU version of abacus, it's also ok.

[2022-02-23 03:06] ddhhss commented on #741
The program only supports multi-k points parallelism, and you need to set MPI parameter np equal to 'npool'.

[2022-02-23 03:08] #739 closed, assigned to caic99

[2022-02-23 03:15] LiuXiaohui123321 commented on #741
And `npool` should be not larger than the number of k points?

[2022-02-23 07:33] LiuXiaohui123321 commented on #741
@Asuna981002 In GPU supported version of abacus, does `npool` must equal MPI parameter np?
In a calculation example, I use 8 CPU + 1 GPU cores to run a system with 2x2x2 k-points. `npool` is set as default value, i.e. 1.
After calculation, there is just one k-point diagonalization message in the output file running_scf.log.
![image](https://user-images.githubusercontent.com/25027983/155276681-6f40

[2022-02-23 08:15] LiuXiaohui123321 opened #742 "Update the executable file by Cmake after some modification"
How to update the executable file by Cmake after some modification on source code file?
Is there a more convenient way or I have to run `cmake -B ...` from the beginning?

[2022-02-23 09:16] caic99 commented on #742
Hi @LiuXiaohui123321 ,
You only need to run `cmake --build build` (the same as `cd build && make` if you are using Makefile). Please refer to [CMake tutorial](https://cmake.org/cmake/help/latest/manual/cmake.1.html#build-a-project).
CMake uses GNU make for its backend by default: it generates Makefile for the project. Think of Makefile cases - just re-run
`make`.

[2022-02-23 09:40] LiuXiaohui123321 commented on #742
Got it! Thanks.

[2022-02-24 03:33] LiuXiaohui123321 opened #744 "Parallelism in abacus"
Is parallelism (and data distribution) over k-points, over bands and over plane wave all supported in PW line of abacus?

[2022-02-24 06:19] #744 closed, assigned to nobody

[2022-02-24 07:58] Qianruipku opened #746 "Bug for 107_PW_OD_outputdos"
## Describe the Bug
Sometime, 107_PW_OD_outputdos cannot pass the autotest

## To Reproduce
Steps to reproduce the behavior:
0. Download develop branch
1. Compile it with Makefile
2. Test 107_PW_OD_outputdos
3. Repeat  until it shows ERROR:
Sometimes it is OK:
![图片](https://user-images.githubusercontent.com/76200646/155482527-1f46d9e9-920d-49d8-94a6-a17f3408557e.png)
sometimes it is wrong:
![图片](h

[2022-02-24 08:13] Qianruipku commented on #746
Compiling it with cmake will also repeat it.

[2022-02-24 09:19] #742 closed, assigned to caic99

[2022-02-24 12:46] caic99 commented on #746
Hi @Qianruipku ,
Similar cases have appeard before, see #637 .

[2022-02-24 12:53] ddhhss commented on #741
You should set npool = 8 in INPUT file.

[2022-02-25 06:08] hongriTianqi opened #748 "We lack a unit test for class Bspline in Module_base"
## Describe Current Status and Possible Solution

We lack a unit test for class Bspline in Module_base.

## Additional Context

Currently, this class is the application of methods in "J. Chem. Phys. 103, 8577 (1955)" to calculate structure factor. It is not used for B-spline interpolation.

[2022-02-25 06:51] mohanchen commented on #748
What's the difficulty to add a unit test for class Bspline?

[2022-02-25 08:14] 13015339981 opened #750 "CMake compiler Error"
load env : intel-oneapi-compilers/2021.4.0     intel-oneapi-mpi/2021.4.0         intel-oneapi-mkl/2021.4.0
gnu compile is true , but intel-oneapi compile false. Is there a problem with the version?

CC=icc CXX=icpc FC=ifort COMMON_FLAGS="-std=c++11" cmake   ..

`/usr/include/c++/4.8.5/bits/stl_algobase.h(739): error: function "std::atomic<_Tp>::operator=(const std::atomic<_Tp> &) [with _Tp=Exx_Abf

[2022-02-25 08:27] caic99 commented on #750
Hi @13015339981 ,
You may update your `gcc` version. See [GCC* Compatibility and Interoperability](https://www.intel.com/content/www/us/en/develop/documentation/cpp-compiler-developer-guide-and-reference/top/compatibility-and-portability/gcc-compatibility-and-interoperability.html) for more details.

[2022-02-25 08:55] 13015339981 commented on #750
hello, i use gcc to compile normally, i want to try intel compiler, do you have any good suggestions
I try:
' CC=icc CXX=icpc FC=ifort COMMON_FLAGS="-std=c++11" cmake .. ' is Error

[2022-02-25 08:58] caic99 commented on #750
Hi @13015339981 ,
intel compilers rely on `gcc` components. You may read my reply before for further details.

[2022-02-25 09:06] 13015339981 commented on #750
thanks, I listened to your suggestion and increased the gcc version to 8.3, and the operation was successful

[2022-02-25 09:06] #750 closed, assigned to dyzheng, caic99

[2022-02-26 14:45] maki49 opened #751 "How to recover the independence of `module_orbital` after moving in some parallel-code?"
The independence of `module_orbital` is destroyed after I tore down `GlobalC::ParaO` and moved some of its functions ( parallel-division of LCAO-basis ) into class `ORB_control`  ( see PR #735 to `TDDFT` branch ).

Now I want to recover its independence after my refactor. I would to do following steps:
- move all members of  class `ORB_control` into `module_orbitals/ORB_control.cpp`
- move `src_pa

[2022-02-27 04:33] maki49 opened #753 "intel-compiled and gnu-compiled `pzgemm_` return diffrent result with the same input given"
## Describe the Bug
The test case `601_NO_TDDFT_N2_vel` failed on CI, so I make ABACUS by gnu and intel compiler respectively to debug it. I print the input matix( `Htmp1`, `Htmp2`) and output matrix (`Htmp3`) here in the code:
https://github.com/deepmodeling/abacus-develop/blob/eeb8cc7c7e1739a582efd79441ee3afec55a96f8/source/src_lcao/LCAO_evolve.cpp#L425-L432

Then I compare two results: intel-co

[2022-02-27 10:19] maki49 opened #754 "`set_matrix_grid()` function should be placed in ion-step rather than elec-step"
https://github.com/deepmodeling/abacus-develop/blob/eeb8cc7c7e1739a582efd79441ee3afec55a96f8/source/src_lcao/LOOP_elec.h#L20

This function do such things:
- search adjacent atoms
- set periodic condition
- prepare grid division (2d-divsion has been moved out to ORB_control)
- allocate H(R), S(R)

All it need is cell and atom information, but not electronic state. So I think it should be moved int

[2022-02-28 01:43] #741 closed, assigned to dyzheng

[2022-02-28 03:08] #748 closed, assigned to mohanchen

[2022-02-28 03:18] pxlxingliang opened #757 "The rounding error in Gram-Schmidt orthogonalization"
I found there has the rounding error in Gram-Schmidt orthogonalization.
I designed a series of basis functions $$f_n(x)=x^{n+1}$$ (n >= 0), and do Gram-Schmidt orthogonalization by using class Gram_Schmidt_Orth<Func_Type,R_Type>::Gram_Schmidt_Orth, and got the new  orthogonalization  basis. I then calculated the inner product of each two new basis to verify the orthogonality. The bad result is tha

[2022-02-28 03:19] dyzheng commented on #753
It looks weird, I will test it.
Thangks for your feedback.

[2022-02-28 03:22] hongriTianqi opened #759 "ABACUS lacks unit tests for inverse_matrix_complex and heapsort (mymath3.h)"
## Background
ABACUS currently lacks units test for inverse_matrix_complex and heapsort (mymath3.h)

## Describe the solution you'd like
We should add unit tests for inverse_matrix_complex and heapsort (mymath3.h)

[2022-02-28 03:50] sunml99 opened #760 "Dipole correction for energy and potential"
## Background
In the simulation of the slab model, a vacuum layer needs to be added to isolate the interaction between the two repetitions. A dipole moment is created because of the slab’s asymmetry, and the electrostatic potentials of the slab’s upper and lower sides are different.
The periodic boundary condition imposed on the electrostatic potential then gives rise to an artificial electric fie

[2022-03-01 11:09] YuLiu98 opened #763 "refactor md input parameters"
The MD input parameters need to be refactored, the details are reported as follows:

1) `md_mdtype`  ->  `md_type` : control the ensemble to run md;
2) `md_potential`  ->  `md_ensolver` : choose the energy solver for MD;
3) `md_rstmd`  ->  `md_restart` : control whether restart md;
4) `md_dt`  ->  `md_dt` : time step(fs) used in md simulation;
5) `md_tfirst`  ->  `md_tfirst` : initial MD temperatu

[2022-03-02 00:42] caic99 commented on #763
Hi @YuLiu98 ,
I'm wondering if it's a change on input variable's name, or also its type, algorithm, and so on?

[2022-03-02 01:09] YuLiu98 commented on #763
Just a change on input variable's name.

[2022-03-02 01:35] #759 closed, assigned to mohanchen

[2022-03-02 06:34] hongriTianqi opened #765 "Finding unused, repeated codes in module_base, should we delete them now?"
## Describe Current Status and Possible Solution

We find many unused, repeated codes in module_base during unit testing.

The following files are not called at all:
random.h
sph_bessel.h & .cpp
polint.h & .cpp
integral.h & .cpp

The following files contain functions not called:
mymath.h: simpson, my_erf, my_erfc, gauss_freq

[2022-03-02 06:44] dyzheng opened #766 "A little Numerical differences branch develop now with ABACUS 2.1.0 version"
## Describe the Bug
I received feedback from users Yuyang Ji and Xiaohui Liu that result from the current version of the program do not exactly agree with result from ABACUS version 2.1.0.
They want to know if there have been some bugs fixed in recent codes.

## To Reproduce
I have not tested these two cases, but I also want to know which parts lead to the discrepancy mentioned by users.

Xiaohui

[2022-03-02 07:11] dyzheng opened #767 "Ewald code need to be tested independently."
## Describe the Bug
Xiaohui Liu has reported that a MoS2 system would cause error energy for ewald term.
Inputs of his case is :
[Ewald_MoS2.zip](https://github.com/deepmodeling/abacus-develop/files/8167395/Ewald_MoS2.zip)
The problem for me to test this case is the case is too large to test.
Maybe we should refactor the ewald part code first to test this problem.

[2022-03-02 08:22] hongriTianqi opened #769 "ABACUS lack unit test for container operators in container_operator.h (module_base)"
## Background
ABACUS lack unit test for container operators in container_operator.h (module_base).

## Describe the solution you'd like
We should add unit test for  container operators in container_operator.h (module_base).

## Additional context
Add any other context or screenshots about the feature request here.

[2022-03-02 10:18] caic99 commented on #765
I suggest removing all unused codes, and renaming functions with a ill-defined name, for example some functions starting with `my`.

[2022-03-02 14:24] mohanchen commented on #766
1) I suggest using those tagged versions for the test. 2) You should encourage them to submit the issues by themselves, again submitting the issue for them is a waste of your time and do no good for Ji Yuyang and Xiaohui Liu. 3) We should always consider whether the bug report examples should be included in the integrate tests.

[2022-03-02 14:32] mohanchen commented on #765
ok

[2022-03-02 14:33] mohanchen commented on #769
I am not familiar with this part. Maybe you can discuss with xiaokuang or daye.

[2022-03-02 14:35] mohanchen commented on #767
refactor the ewald is possible but the priority is not high

[2022-03-02 14:36] mohanchen commented on #760
We will plan this.

[2022-03-02 14:37] mohanchen commented on #757
@pxlxingliang has new results?

[2022-03-03 01:46] pxlxingliang commented on #757
After communicate with Peize Lin, we think we should use the CGS2 algorithm, which can orthogonalize 50 nbasis successfully. In ABACUS, we apply the  orthogonalization on the basis of one orbital of one element, and the basis number is  not too big, a CGS2 algorithm is enough. Such as for Pt, the maximum basis number is just only 23.

[2022-03-03 06:20] lyb9812 opened #771 "Serial version not work in some scenes"
The serial version now doesn't work for gamma_only and may not work for Nspin=4.
The results for pw tests are not exactly the reference values.

TDDFT branch
Ubuntu 18.04.   OneAPI 2021.3.0

compile :
1. change HONG in Makefile to serial version
2. delete exx related files in Makefile.Objects
3. make fp

test:
PW cases can work, but give different results compared with reference.
LCAO cases need t

[2022-03-03 06:30] #769 closed, assigned to mohanchen

[2022-03-03 09:33] #757 closed, assigned to dyzheng

[2022-03-03 12:37] caic99 commented on #771
Hi @lyb9812 ,
Thank you for your feedback. Will you provide further information for us, like the environment, compiling args, and the case?

[2022-03-04 08:28] hongriTianqi opened #777 "I will add the UTs for global_functions in module_base"
## Background
ABACUS lack UT for global_functions in module_base.

## Describe the solution you'd like
We should add UT for global_functions in module_base

## Additional context
Add any other context or screenshots about the feature request here.

[2022-03-06 01:24] mohanchen commented on #777
Adding UTs seem to be the right thing to do. If you can do it, just do it. If you cannot do it, I don't see an issue here.

[2022-03-06 01:25] mohanchen commented on #777
OK, I see a pull request. Next time, you can mention who will do this job and I will not comment.

[2022-03-06 01:28] hongriTianqi commented on #777
sorry, this is just the routine thing to link a PR with an issue.发自我的手机-------- 原始邮件 --------发件人： Mohan Chen ***@***.***>日期： 2022年3月6日周日 上午9:24收件人： deepmodeling/abacus-develop ***@***.***>抄送： hongriTianqi ***@***.***>, Author ***@***.***>主    题： Re: [deepmodeling/abacus-develop] ABACUS lacks UT for global_functions in module_base (Issue #777)
Adding UTs seem to be the right thing to do. If you can

[2022-03-06 01:33] mohanchen commented on #777
I see, next time you may add "I will add the UTs."

[2022-03-06 02:05] #763 closed, assigned to mohanchen

[2022-03-07 11:28] #777 closed, assigned to mohanchen

[2022-03-08 00:28] YuLiu98 opened #780 "refactor: delete useless input parameters"
Useless input parameters should be deleted, details are showed as follows:
1) selinv_npole
2) selinv_niter
3) selinv_temp
4) selinv_gap
5) selinv_deltae
6) selinv_mu
7) selinv_threshold
8) out_epsilon
9) out_chi
10) out_chi0
11) efield
12) edir
13) emaxpos
14) eopreg
15) eamp
16) q_start[3]
17) q_direct[3]
18) fermi_level
19) qcar[100][3]
20) intrasmear
21) spectral_method
22) eels_method
23) abso

[2022-03-09 07:16] haxushu opened #787 "LCAO throws Bus error (signal 7) when using a dozen of processes"
## Describe the Bug
LCAO throws Bus error (signal 7) when using a dozen of processes.

Refer to Additional Context for details.

## To Reproduce
Steps to reproduce the behavior:
1. The input files can be downloaded from this [external link](https://bytedance.feishu.cn/docs/doccnMIX8vYLyznRbYKFXXexAib)
2. run ABACUS with ```mpirun -n 32 ../../build/abacus```
(indeed, 32 can be replaced by any numbe

[2022-03-10 04:40] caic99 commented on #787
Hi @haxushu ,
Thank you for your reporting!
Would you provide a zipped file containing inputs attached to this issue? It would be more convenient for us to reproduce this issue on our workstation.
Have you tried running without `mpirun`, i.e. `../../build/abacus`? If this method also fails, could you try to locate the exception with `gdb`?

[2022-03-10 08:08] dyzheng commented on #787
Sorry, I have not repeated your bug with your input files using multi cores above 16 such as 32.
Can you locate the exception or try to comfirm your memory of machine is enough for this case? As the number of cores increases, memory consumption increases.

[2022-03-10 10:44] haxushu commented on #787
[reference.zip](https://github.com/deepmodeling/abacus-develop/files/8222616/reference.zip)

It may be related to the machine and I will have a try to locate it.

[code]

[code]
Running without `mpirun` succeeded and the stdout is as follows:
[code]

[2022-03-11 04:47] #674 closed, assigned to caic99

[2022-03-11 04:47] #719 closed, assigned to mohanchen, dyzheng

[2022-03-11 07:27] wenfei-li opened #790 "grid_base seems no longer used"
Grid_base is not used and it seems it has already been replaced by grid_base_beta. Are we considering removing grid_base.cpp and grid_base.h

[2022-03-11 07:32] wenfei-li commented on #790
actually grid_base_beta is not used either, since the old method for calculating ylm has been replaced

[2022-03-11 08:28] wenfei-li commented on #790
actually the only part used in grid_base_beta is vfactor, which is used for calculating vldr3 by Gint_Gamma. I think we might as well move vfactor into Gint_Gamma and remove grid_base_beta too.

[2022-03-11 13:13] caic99 commented on #790
Hi @wenfei-li ,
I think it would be an improvement removing redundant code if you think it is OK to do so. And don't forget to assign a proper file name.

[2022-03-12 06:22] #780 closed, assigned to mohanchen

[2022-03-12 06:30] mohanchen commented on #790
I don't know the current state of Grid_base...

[2022-03-17 05:10] wenfei-li commented on #790
I have been producing a short note on the Grid_Technique class, I think I'll be able to finish it within this week.

[2022-03-17 05:10] wenfei-li commented on #790
Sure I'll have a look at the code.

[2022-03-17 05:52] wenfei-li commented on #746
The reason behind this bug is that in calculating DOS_smearing, the program first takes the calculated DOS as input:
[code]
This might have something to do with the input buffer. Also, it is bad practice to use the output file of the program as input file.
The way to fix this is to save the array that stores DOS and use that in calculating DOS_smearing, instead of reading from DOS.

[2022-03-17 06:37] maki49 opened #795 "Can `gamma_only` algorithm deal with soc ?"
Now if we run an `nspin =4` case with `gamma_only=1`, ABACUS will report error like this:
![image](https://user-images.githubusercontent.com/33978601/158750422-2fb2ad3b-8dba-4859-b7c1-1ad25d5d9056.png)

I want to know whether it's impossible for gamma_only to deal with soc in term of algorithm, or just because ABACUS haven't implemented it yet.

@dyzheng

[2022-03-18 07:13] #746 closed, assigned to dyzheng

[2022-03-20 01:58] sgyang345 opened #798 "ELPA takes more computational time than before"
## Describe the Bug
The latest development version seems to have taken nearly 1.5 times more computational time.

## To Reproduce
Steps to reproduce the behavior:
1. clone the source code from “https://github.com/abacusmodeling/abacus-develop”
2. run ABACUS with intel 2020 mpirun

## Environment
- OS: CentOS Linux release 7.9.2009 (Core)
- Compiler Intel 2020

## Additional Context
1. The latest d

[2022-03-22 03:19] dyzheng commented on #464
The system in "example.zip" belongs to metal and its number of valence electron is odd (1Li+2Sn).
So the system can't use fixed method for evaluating occupied bands, if you try "smearing gauss", result of electron number would be right.
Another problem is the setting of "niter" is 2, which caused convergence have not been achieved.

This issue looks like caused by setting "symmetry 1", but the sym

[2022-03-22 03:28] dyzheng commented on #495
Hi @hongriTianqi , the issue caused by the actual structure is what ABACUS symmetry module output.
It is possible that setting "latname = A", but the actual structure is B with higher symmetry.
The symmetry analysis for these cases is same between ABACUS and QE or VASP.

[2022-03-22 03:35] dyzheng commented on #562
MgO is fcc but the case in "MgO.tar.gz" is actual simple cubic.
Simple cubic has higher symmetry than fcc, so the symmetry analysis is not wrong.

[2022-03-22 07:19] dyzheng commented on #481
The symmetry average operation for electronic density take place in real space, but not in reciprocal space.
So sometimes k-point symmetry would affects final energy.
But it is not a bug, If k-points for the system is as many as enough, this error would disappear.
@hongriTianqi

[2022-03-22 07:34] dyzheng commented on #394
Is there any development for this Issue recently?
I have added this Issue to program ABACUS_v2.2.0 several months ago, if the solution is still undel discussion, I will remove this Issue to another program.
@Liu-RX @YuLiu98 @mohanchen

[2022-03-23 00:49] pxlxingliang commented on #464
Even though I don't know how the bug is fixed, in the lasted version, the electron number is correct.

[2022-03-23 00:49] #464 closed, assigned to dyzheng

[2022-03-23 03:49] jinxin68 commented on #795
Accurate charge density is required when considering SOC . So abacus does not support using gamma_only when considering SOC .

[2022-03-24 05:06] #685 closed, assigned to caic99

[2022-03-24 05:30] wenfei-li commented on #771
One reason is that the diagonalization subroutine is not working, as mentioned in #661 .

[2022-03-24 05:32] #790 closed, assigned to caic99

[2022-03-24 05:33] wenfei-li commented on #766
Does this have something to do with the update in XC functional parameters?

[2022-03-24 05:35] wenfei-li commented on #753
If this bug has been fixed, why not close the issue?

[2022-03-24 05:38] wenfei-li commented on #580
This is because the size of FFT grid will be expanded to be a multiple of bx/by/bz. With different FFT grid, the calculated energy is naturally different. (I'm assuming here the FFT grid size is not converged.)

[2022-03-24 05:40] wenfei-li commented on #580
One question : what's the result using 100*100*100 FFT grid but bx=by=bz=1?

[2022-03-24 09:02] dyzheng commented on #795
It is no problem in theory for SOC or nonlinear spin in gamma_only, but in general , user will not use only gamma point for system which need to evaluate SOC effect.
If @maki49  have this demand, please set gamma_only as 0 and use gamma point in KPT file.

[2022-03-24 09:09] dyzheng commented on #798
This problem comes from the interface of ELPA, before 2021/09/26, ABACUS only use ELPA_2016_version.
Now, ABACUS use ELPA_2021_version but the code of new interface has not been fully optimized.
As far as I know, Dr. Yu Shen and Dr. Xiaohui Liu are working for solve that.
Please wait for the progress~

[2022-03-24 10:00] pxlxingliang commented on #668
I have calculated the below two examples, the difference in 101_PW_15_pseudopots is a little bigger than that in 103_PW_15_CS_CF, but I don't think the difference is unacceptable.
101_PW_15_pseudopots cg=-197.1405644352774971, dav=-197.1405644327929281, cg-dav=-2.4845689949870575e-09
103_PW_15_CS_CF cg=-4206.8778432386461645, dav=-4206.8778432383041945, cg-dav=-3.41970007866621e-10
@Qianruipku

[2022-03-25 08:12] #733 closed, assigned to mohanchen

[2022-03-25 08:16] maki49 commented on #733
#731

[2022-03-25 08:18] maki49 commented on #684
#789

[2022-03-25 08:18] #684 closed, assigned to mohanchen

[2022-03-25 08:20] maki49 commented on #693
#735 have optimizedw wfc_k into nks\*NBANDS\*NLOCAL. but wfc_gamma is still NLOCAL*NLOCAL because of elpa output.

[2022-03-25 08:26] maki49 commented on #692
#735 have optimizedw wfc_k into nks*NBANDS*NLOCAL. but wfc_gamma is still NLOCAL*NLOCAL because of elpa output.
I suggest closing this and remaining #693 to ask for more details about elpa.

[2022-03-25 08:56] #692 closed, assigned to mohanchen

[2022-03-28 02:08] YuLiu98 opened #809 "INPUT parameters refactor"
Some INPUT parameters are needed to be refactored, details are listed as follows:

1) `seed` -> `pw_seed`
2) `npool` -> `pw_kpar`
3) `renormwithmesh` -> `pseudo_rmesh`
4) `niter` -> `scf_nmax`
5) `ethr` -> `diag_thr_e`
6) `dr2` -> `scf_thr`
7) `diago_cg_maxiter` -> `diag_cg_nmax`
8) `smearing` -> `smearing_method`
9) `sigma` -> `smearing_sigma`
10) `atom_file` -> `stru_file`
11) `start_wfc` -> `in

[2022-03-28 02:14] YuLiu98 commented on #394
The MD output format has been determined:
1) output STRU files and thermostat information per `md_restartfreq` step;
2) dump cell lattice, virial, atomic positions, and atomic forces into the `MD_dump` file per `md_dumpfreq` step;

[2022-03-28 05:30] caic99 commented on #693
Hi @maki49 , please be aware that the contents within two asterisk '*' will be interpreted as italic text in markdown grammar. I've fixed your comment(originally nks*NBANDS*NLOCAL).

[2022-03-30 14:00] #809 closed, assigned to mohanchen, dyzheng

[2022-03-31 01:19] #551 closed, assigned to mohanchen

[2022-03-31 01:27] hongriTianqi commented on #798
@sgyang345
For the file BAND.dat, the firt column is just the order of k-points from 1, 2, to nkpt; the second column is the absolute k line distance; the third column is the first energy band. I think the first line is useful in finding the positions of high symmetry points, so left them as is. If you want, please check PR 571 [https://github.com/deepmodeling/abacus-develop/pull/571](url) and Iss

[2022-04-03 05:51] #481 closed, assigned to dyzheng

[2022-04-14 09:38] caic99 opened #841 "ESolver deconstructor function mismatches"
For a non-virtual deconstructor, the `delete` operation causes memory leaks.
https://github.com/deepmodeling/abacus-develop/blob/41386d045ad4c1d23413589ed5d1e4d460be34e3/source/module_esolver/esolver.cpp#L45-L51
See https://docs.microsoft.com/en-us/cpp/sanitizers/error-new-delete-type-mismatch?view=msvc-170 .
For leak details, see https://deepmodeling.org/abacus-develop/ .

[2022-04-15 02:21] dyzheng commented on #570
Xiaohui Liu reported a "nan" output for MD calculation in plane wave base, I have turned this Issue to tag "Bug".
I will test related case and fix this bug later.

[2022-04-15 04:35] #841 closed, assigned to dyzheng, Qianruipku

[2022-04-15 14:26] dyzheng commented on #570
[pw_md_error-nan.tar.gz](https://github.com/deepmodeling/abacus-develop/files/8496448/pw_md_error-nan.tar.gz)

[2022-04-15 15:51] caic99 opened #849 "UT of `bspline` have illegal memory access"
The sanitizer prompts this line
https://github.com/deepmodeling/abacus-develop/blob/0081653be8332fc440caad90280be9b50760f638/source/module_base/test/math_bspline_test.cpp#L60
of array access is out of bound under the implementation of `bspline`.

From https://github.com/deepmodeling/abacus-develop/runs/6037165782?check_suite_focus=true line 3311:
[code]

[2022-04-15 16:03] caic99 commented on #570
Kindly reminder: `i` is not initialized here.
https://github.com/deepmodeling/abacus-develop/blob/0081653be8332fc440caad90280be9b50760f638/source/module_md/MSST.cpp#L95
https://github.com/deepmodeling/abacus-develop/blob/0081653be8332fc440caad90280be9b50760f638/source/module_md/MSST.cpp#L106

[2022-04-16 01:21] pxlxingliang commented on #849
@hongriTianqi please help check it, I am not familiar with "base_math_bspline".

[2022-04-16 12:18] hongriTianqi commented on #849
@caic99 @pxlxingliang We can delete this line directly.

[2022-04-17 14:15] dyzheng commented on #570
@YuLiu98

[2022-04-18 02:09] YuLiu98 commented on #570
The issue that the first CG step of every MD step is much slower than other CG steps existed **a long time ago**!

I tested the test `120_PW_KP_MD_NVTrestart` with the version of commit `76807828fcbabc4aecf333f512e477a82d5f43fe`, which is **before** the MD reconstruction.

![image](https://user-images.githubusercontent.com/77716030/163743217-774877f6-542c-4607-947b-b75e3f294d6f.png)

[run.log](htt

[2022-04-18 02:11] YuLiu98 commented on #570
Thank you for your fix!

[2022-04-18 02:51] YuLiu98 commented on #570
The issue may arise from the improper selection of the **thermostat mass**, which is controlled by the parameter `md_tfreq` instead of `msst_qmass`. And the determination of the **thermostat mass** is the same as **LAMMPS**.

In example-02, if parameter `md_tfreq` is set to **0.1**, MD will not output `nan`.
![image](https://user-images.githubusercontent.com/77716030/163746808-af483335-1c8f-4e80-a

[2022-04-18 02:56] caic99 commented on #849
Fixed in commit [c75eda3](https://github.com/deepmodeling/abacus-develop/commit/c75eda360d13dd2f94c6d9559084294bb458836e).

[2022-04-18 02:56] #849 closed, assigned to hongriTianqi

[2022-04-18 02:56] dyzheng commented on #570
I have noticed two possible problems of MD with pw base:
1. there is no call of "GlobalC::pw.setup_structure_factor()" in run_md_pw.cpp, which should be update when position of atoms changed. maybe it is called but I missed.
2. When diagonalization is CG method, a preprocessing of diagH_subspace() is needed once, but in MD with PW base, it would be called twice when md_step>1 .

[2022-04-18 03:25] YuLiu98 commented on #570
"GlobalC::pw.setup_structure_factor()" is called once per MD step in the line 93 of run_md_pw.cpp.

[2022-04-18 03:26] dyzheng commented on #570
There is a simple test for no initialization of wavefunction for md_step>1:
Test case: water H64O32

1. Init wavefunction every md_step:
"
 CG1    -1.494886e+04  0.000000e+00   1.187e+01  9.575e+00  5.804e+01
 CG1    -1.495732e+04  0.000000e+00   1.608e-02  7.724e+01  4.151e+02
 CG1    -1.495735e+04  0.000000e+00   1.614e-02  7.482e+01  3.996e+02
 CG1    -1.495738e+04  0.000000e+00   1.619e-02  7.

[2022-04-18 03:29] dyzheng commented on #570
https://github.com/deepmodeling/abacus-develop/blob/develop/source/src_pw/run_md_pw.cpp
I didn't find that, but I agree to add this function call in line 93.

[2022-04-18 03:31] dyzheng commented on #570
Ok, I find that, thanks!

[2022-04-18 04:15] dyzheng commented on #570
In documentation, I find "md_tfreq" has default value "1.0", does this default value caused Xiaohui Liu's problem? How can one user decide which md_tfreq should be set?

[2022-04-18 07:35] YuLiu98 commented on #570
If `md_tfreq` is too large, the temperature can fluctuate wildly; if it is too small, the temperature will take a very long time to equilibrate. A good choice for many models is `1/md_tfreq` of around 100 timesteps.

[2022-04-18 08:02] #753 closed, assigned to dyzheng

[2022-04-18 08:03] #562 closed, assigned to dyzheng

[2022-04-18 08:03] #518 closed, assigned to mohanchen

[2022-04-20 09:57] #668 closed, assigned to mohanchen

[2022-04-22 08:44] pxlxingliang opened #867 "do diagonalization (random H/S matrix) error by scalapack_gvx, when the parallel cores are large."
## Describe the Bug
I produced a random H and S matrix, whose dimension is only 100, and then I call Pdiag_Double::diago_double_begin() to solver the eigenvalues by setting "GlobalV::KS_SOLVER = scalapack_gvx". When I use MPI with more than 4 cores to do the solving, the function will throw a message like below:
`C++ exception with description "info = 2.`
`/abacus/source/src_pdiag/diag_scalapack_g

[2022-04-22 08:46] #570 closed, assigned to mohanchen

[2022-04-23 09:41] maki49 opened #869 "Makefile-Compile problem for new modules"
Shell we maintain Makefiles for new modules such as HSolver？
Some files in `module_hsolver/` now have the same name as files in `src_pw/` , such as `diago_cg.cpp`, so I failed to add `diago_cg.o` in `Makefile.Objects` because of redefination.

[2022-04-23 09:50] maki49 opened #870 "some details about 2D-block data structure in LCAO are needed"
I see 2 structures of 2D-block matrix `LocalMatrix<T>` and `MatrixBlock` in the new `module_hamilt`.
Maybe more details are needed to tell developers about how to use the two data structure, what they're doing, and what's the relation of the two (maybe the former contains the latter)?
And shell we use `MatrixBlock` for 2D-block wavefunction in `module_psi` too ?

[2022-04-23 09:55] mohanchen commented on #870
@dyzheng could you answer the question?

[2022-04-23 13:19] dyzheng commented on #869
HSolver module is not working in ABACUS now, only UT for this new module for verifying the behavier of this new module.
In the future, the HSolver module will replace the old files, such as diago_cg.cpp.
So makefile.Object should not support files in HSolver module now.

[2022-04-23 15:02] dyzheng commented on #870
HamiltLCAO class is unfinished.
The MatrixBlock<T> is designed for packing matrix data with its rows and columns and descriptors for parallel.
The LocalMatrix<T> is designed for :
1. union Hamiltonian matrix and overlap matrix.
2. union gamma_only and multi-k code.
I recognize first aim for LocalMatrix is not necessary , and I also plan to use one class to replace both MatrixBlock and LocalMatrix.

[2022-04-24 01:55] #869 closed, assigned to caic99

[2022-04-25 03:30] caic99 commented on #590
Hi @pxlxingliang ,
I'm trying to reproduce this error. It shows:
[code]

[2022-04-25 03:38] caic99 commented on #664
Hi @maki49 ,
There should be no other user codes(not third-party codes, e.g. MPI) memory leak after my patches, see [dashboard](https://github.com/deepmodeling/abacus-develop/tree/dashboard) for more details.

[2022-04-25 03:38] #664 closed, assigned to mohanchen

[2022-04-25 05:26] pxlxingliang commented on #590
I have update the attached file, and run it again, it can be run now, but the previous error is still occurred.

[2022-04-25 06:35] caic99 commented on #590
OK, I reproduced with Intel OneAPI kit. Could you compiling it with `ENABLE_ASAN` flag and runnning it again to locate memory problems?

[2022-04-26 04:59] pxlxingliang commented on #590
The dimension of ekb (which is used to accept the eigenvalue) is NBANDS, while the request dimension by SCALAPACK is NLOCAL, even though we use scalapck to solver only  NBANDS's eigenvalues. I try to increase the dimension of ekb to be NLOCAL, and run the example again, and this time there has no any error.

[2022-04-26 06:04] caic99 commented on #590
Hi @pxlxingliang ,
That's great! Could you submitting a patch for this?

[2022-04-27 08:56] #590 closed, assigned to dyzheng

[2022-04-27 13:44] Qianruipku opened #874 "A uniform SCF progress is needed for ESolver_KS_PW, ESolver_SDFT_PW, ESolver_KS_LCAO, ESolver_TD_LCAO"
## Describe Current Status and Possible Solution

A uniform scf progress is useful.
On the one hand, we do not rewrite the same SCF progress in all ESolver_KS-derived class.
On the other hand, we can more easily optimized the SCF progress in the future.

## Additional Context

Add any other context or screenshots about the enhancement here.

[2022-04-29 05:45] caic99 commented on #679
The support of HPSEPS will be considered after our refactor finishes; hence, it's not necessary to change it in current codes.

[2022-04-29 05:45] #679 closed, assigned to mohanchen

[2022-04-29 05:52] caic99 commented on #441
See #679 .

[2022-04-29 05:52] #441 closed, assigned to mohanchen

[2022-04-29 05:53] caic99 commented on #394
Related: #609

[2022-04-29 05:53] caic99 commented on #386
Hi @lyb9812 ,
Do you have any update on this issue? Will you try to reproduce it with the latest codes?

[2022-04-29 05:55] wenfei-li commented on #661
This issue is merged into #771

[2022-04-29 05:55] #661 closed, assigned to mohanchen

[2022-04-29 05:56] wenfei-li commented on #672
According to our reconstruction plan, we do not want to put matrix diagonalization method as part of matrix class.

[2022-04-29 05:56] #672 closed, assigned to caic99

[2022-04-29 05:58] pxlxingliang commented on #693
we should keep the dimension of wfc_2d to be nlocal * nlocal, even though we solver only some bands, and this is the request of ELPA.
line72 https://gitlab.mpcdf.mpg.de/elpa/elpa/-/blob/master/src/elpa_impl_math_generalized_template.F90#L72

[2022-04-29 06:21] caic99 commented on #693
This is similar to the requirements of scalapack routine.

[2022-04-29 06:30] wenfei-li opened #882 "Modification of grid integration code"
## Describe Current Status and Possible Solution

The current grid integration code has a few problems, making the code structure messy and not quite efficient:
1. the conversion of density matrix from 2D-block to grid format requires lots of additional memory and can cause program failure for large systems. Possible solution is to break the alltoallv operation to a series of send/recv with mpi us

[2022-04-29 07:16] pxlxingliang commented on #580
I manually set nx=ny=nz=100, and bx/by/bz=1, and the calculated energy  is -1713.608086113457 eV, this result is not same with the energy (-1807.5069600630899913 eV) when using default nx and bx. It means that, if the nx/ny/nz is not the default value (same with the dimension of FFT), the calculation is wrong. May be, the FFT is not correct when nx/ny/nz is not default value?

[2022-04-29 07:25] dyzheng commented on #766
This issue can be close now.
The reason for numerical differences comes from two changes:
1. nonlocal pseudopotential in Hamiltonian for gamma_only=1 case has bug before, now it is fixed to same as gamma_only=0 case.
2. XC functional parameters has updated for higher precision.

[2022-04-29 07:25] #766 closed, assigned to dyzheng

[2022-04-29 07:29] dyzheng commented on #637
311_NO_GO_S2_elec_minus, 831_NO_GO_LT_bcc, 830_NO_GO_LT_fcc, 345_NO_GO_BS cases still have problems recently.

[2022-04-29 07:35] dyzheng commented on #671
We will not dealing with global variables in the short term,  it is not matter for keeping these variables in module_base now.

[2022-04-29 07:35] #671 closed, assigned to dyzheng, caic99

[2022-04-29 07:47] dyzheng commented on #667
It is not a urgent problem, we will keep optimizing these common functions.

[2022-04-29 07:47] #667 closed, assigned to dyzheng, caic99

[2022-04-29 07:49] dyzheng commented on #654
HSolver module is not related to UFFT now, we will refactor it in HamiltPW refactoring in the future.

[2022-04-29 09:08] hongriTianqi opened #883 "abacus reads orbital files during reading STRU file"
## Describe Current Status and Possible Solution

This mainly hampers the codes' readability. Separating codes reading STRU file with that reading orbital files may be better.

## Additional Context

This happens in the file module_cell/read_atoms.cpp and the function UnitCell_pseudo::read_atom_positions(), specifically line 434-520.

[2022-04-29 09:23] hongriTianqi opened #885 "No non-MPI support when reading wavefunctions in LCAO gamma only calculation"
## Background
This will result in failure of non-MPI code when users want to read wavefunctions in LCAO gamma only calculation.

## Describe the solution you'd like
This is so because the function WF_Local::distri_lowf_new () at line 313 in src_io/wf_local.cpp has no non-MPI codes. The above function is called by WF_local::read_lowf() at line 316 when reading LOWF files. The non-MPI codes should b

[2022-04-29 10:17] lyb9812 commented on #386
I will update codes for parallel version recently and test the case again.

[2022-04-30 09:24] Qianruipku opened #886 "Openmp result differs in LCAO cases"
## Describe the Bug
When we use openmp (OMP_NUM_THREADS not equal to 1), the LCAO results are different.
For example of 830_NO_GO_LT_fcc:
![ASjZztm928](https://user-images.githubusercontent.com/76200646/166099397-74b758c6-138b-4e66-8c80-36d86955b135.png)
![eZUMtncmvd](https://user-images.githubusercontent.com/76200646/166099398-a7aa88aa-b146-4eee-9bdd-34d108f8a052.png)
![97w2lbBQ7A](https://user-i

[2022-04-30 09:44] mohanchen commented on #885
Hi Tianqi, thanks for the report! Do you think you will be able to provide these non-MPI codes? @hongriTianqi

[2022-04-30 09:47] mohanchen commented on #882
Excellent findings!

[2022-04-30 12:04] Qianruipku commented on #886
For test 211_NO_S2_elec_add，if we use "export OMP_NUM_THREADS=1" or "export OMP_NUM_THREADS=2".
The test cannot be passed.
![image](https://user-images.githubusercontent.com/76200646/166104740-5c31064e-0a1a-462e-8760-69926b5e85fe.png)
 OMP_NUM_THREADS = 4 can pass the test.
![image](https://user-images.githubusercontent.com/76200646/166104922-6d659955-742d-4719-8dc4-a380ed623ad6.png)
It means the

[2022-05-02 13:58] #707 closed, assigned to dyzheng

[2022-05-05 01:42] hongriTianqi commented on #885
Dear Chen, this issue has just been addressed along with my above PR. Thanks. @mohanchen

[2022-05-05 03:38] hongriTianqi commented on #495
Now I found consistent results in the following integrated tests by setting "symmetry" to 1 in INPUT:
In 803 and 817, INPUT-bcc, output-bcc
In 807 and 821, INPUT-bct, output-bct
In 810 and 824, INPUT-fco, output-fco
In 811 and 825, INPUT-bco, output-bco
In 813 and 827, INPUT-bacm, output-bacm

Inconsistency still appear in 805 and 819, INPUT-trigonal, output-face centered cubic. However, higher sy

[2022-05-05 03:39] #495 closed, assigned to dyzheng

[2022-05-05 03:59] hongriTianqi commented on #515
The 204_NO_KP_NC case still fails when smearing is set to Gaussian. So this issue should be kept open (2022-05-05).
@Unboundwill @dyzheng

[2022-05-05 04:25] hongriTianqi commented on #520
This bug has been solved. The start magnetization is correct now. So this issue will be closed.

[2022-05-05 04:25] #520 closed, assigned to dyzheng

[2022-05-05 04:46] hongriTianqi commented on #522
Spin "flip over and again" happens in this test with LCAO basis.

 @YuLiu98 's method works with the following setting:
in INPUT:
smearing_method mp
smearring_sigma 0.02
mixing_type pulay
mixing_beta 0.3

K_POINTS
0
Gamma
12 12 12 0 0 0

So I will close this ISSUE.

[2022-05-05 04:46] #522 closed, assigned to dyzheng

[2022-05-05 05:23] hongriTianqi commented on #530
This issue has not been addressed, so it should be kept open. @Unboundwill @dyzheng @YuLiu98 @mohanchen

[2022-05-05 05:27] hongriTianqi commented on #534
The tested system is Si single crystal.

[2022-05-05 05:37] hongriTianqi commented on #534
This issues has not been solved, so it should be kept open. @Unboundwill @mohanchen @dyzheng

[2022-05-05 05:47] hongriTianqi commented on #545
This issue has not been addressed, so it should be kept open.
@Unboundwill @dyzheng @mohanchen

[2022-05-05 05:55] hongriTianqi commented on #552
This issue has not been addressed, so should be kept open.
@Unboundwill @mohanchen @dyzheng

[2022-05-05 06:01] hongriTianqi commented on #555
This issue has not been solved, so should be kept open. @Unboundwill

[2022-05-05 06:03] hongriTianqi commented on #556
This issue has not been addressed, so should be kept open. @Unboundwill

[2022-05-05 06:05] hongriTianqi commented on #564
This issues is caused by a mistake (see above comments). So will be closed.

[2022-05-05 06:05] #564 closed, assigned to mohanchen

[2022-05-05 06:59] pxlxingliang commented on #536
we can not repeat this problem now.

[2022-05-05 06:59] #536 closed, assigned to dyzheng

[2022-05-05 09:26] #885 closed, assigned to mohanchen

[2022-05-06 08:12] HeFuxiang94 opened #895 "Calculate the H2 molecule with the LDA functional and the corresponding pseudopotential: error feedback"
## Describe the Bug
A clear and concise description of what the bug is.
The bug may results in:
- abnormal interruption of the program,

## Expected behavior
- able to operate normally
[H2_lda.zip](https://github.com/deepmodeling/abacus-develop/files/8638502/H2_lda.zip)
.

## To Reproduce
Steps to reproduce the behavior:
1. clone the source code from develop branch, and compile,
2. Download from a

[2022-05-06 09:42] Qianruipku opened #896 "Integration tests of k-point parallel algorithm are needed."
## Describe Current Status and Possible Solution

"kpar" is a parameter to control how many pools to parallel k-points in pw scf up till now.
However, we do not have any integration tests for it.
It is essential to make sure our PR will not break this feature.

## Additional Context

Add any other context or screenshots about the enhancement here.

[2022-05-06 12:09] maki49 commented on #895
I reproduced this error. No problem when using `H_ONCV_PBE-1.0.upf` .
I don't know how to deal with pseudopotential without projectors.... Maybe @wenfei-li can help?

[2022-05-07 07:18] #896 closed, assigned to pxlxingliang

[2022-05-07 07:43] pxlxingliang opened #901 "calculate force error for Si512 system"
## Describe the Bug
I want to calculate the force of the si512 system by using current develop version, but it  is abnormal end. It seems a memory problem.

the commit number: 0d2bbd1fad7bcbaf3dd72f85c0e394801265f611

[si512-force.zip](https://github.com/deepmodeling/abacus-develop/files/8644673/si512-force.zip)

[2022-05-10 02:57] caic99 commented on #901
Hi @pxlxingliang ,
Thank you for your report!
Would you provide more information(like the terminating position, the environment you used) to help us locate the problem?
If possible, you can compile ABACUS with `ENABLE_ASAN` flag, and run the program to locate possible memory errors.
Thanks again!

[2022-05-10 03:32] pxlxingliang commented on #901
@caic99
This time, I load the docker image of ABACUS, which can compile ABACUS with GNU, and run this example, it exits before doing SCF.
The error information is like below:

![image](https://user-images.githubusercontent.com/91927439/167537229-0ab48176-39b0-48c0-a7b1-24d284ecd768.png)

![image](https://user-images.githubusercontent.com/91927439/167537187-085922f5-431b-413a-8d85-c487ea4d3add.png)

[2022-05-10 04:20] dyzheng commented on #895
H only system is sometimes special that it has not projectors. In this case, non-local part should be ignored.

[2022-05-12 13:33] Qianruipku opened #914 "SDFT is needed"
## Background
SDFT program has advantages in calculating high-temperature systems.

## Describe the solution you'd like
ESolver_SDFT_PW is need added.

## Additional context
Add any other context or screenshots about the feature request here.

[2022-05-13 04:12] #895 closed, assigned to dyzheng

[2022-05-13 05:59] sunliang98 opened #916 "Non-zero off-diagonal elements of `PP_DIJ` in pseudopotential should be supported."
## Describe the Bug
The restriction that the off-diagonal elements of `DIJ` (`Pseudopot_upf::dion`) must be zero has been released in [pr910](https://github.com/deepmodeling/abacus-develop/pull/910). However, ABACUS currently only uses diagonal elements for computation, so further updates are needed.

## Expected behavior
Add the support to the non-zero off-diagonal elements of `PP_DIJ` in pseudop

[2022-05-13 14:04] dyzheng commented on #886
Test the Gamma_only cases:
    modify: tests/integrate/Autotest.sh: line12 ' case="^[^#].\*\_GO\_ .\*$" ' and set correct abacus path in line4,
    run Autotest.sh dozens of times and check if any case failed.

[2022-05-16 03:30] LiuXiaohui123321 opened #921 "post-processing tools for Molecular Dynamics"
Are there any tools to post-process the MD data of ABACUS? For example, how to get the MD trajectories, MSD, VACF?

[2022-05-16 06:55] dyzheng commented on #921
As far as I know, maybe @Liu-RX or @YuLiu98 can help with MD trahectories and MSD analysis.
I am sorry that I know nothing about VACF.
I suggest you can calculate RDF(radial distribution function) to analyze the MD status.

[2022-05-19 08:18] #760 closed, assigned to mohanchen, YuLiu98

[2022-05-20 08:11] dyzheng commented on #886
Can you give more information about your top three graphs? @Qianruipku

[2022-05-20 09:05] Qianruipku commented on #886
cd 830_NO_GO_LT_fcc
export OMP_NUM_THREADS=4
../../../build/abacus
(get figure 1)
../../../build/abacus
(get figure 2)
../../../build/abacus
(get figure 3)

[2022-05-21 07:55] Chentao168 opened #932 "MD was stuck at the 65th step"
## Describe the Bug
MD was stuck at the 65th step.
![image](https://user-images.githubusercontent.com/76426373/169641901-c67dd2ed-e59a-4198-95db-0b328d26140e.png)
![origin_img_v2_bfcceffc-9c20-47ee-b087-1c16bbbc036g](https://user-images.githubusercontent.com/76426373/169641526-50d2210c-4a60-4ba3-ab1a-672ae31d9d92.png)
@YuLiu98 thinks it was stuck at the function cal_force_nl(forcenl)

## To Reprod

[2022-05-21 08:29] caic99 commented on #932
Hi @Chentao168 ,
You can try using `gdb` to attach to the stuck process and pause it to locate this issue.

[2022-05-22 02:24] Qianruipku opened #933 "Support mix precision for ABACUS"
## Background
We want ABACUS to treat both float and double data.
However, for fftw lib, when treating float data, functions are changed. (from fftw to fftwf)
e.g.
[code]
## Describe the solution you'd like
So we want an option to choose if we want use fftwf lib. (compile fftw with --enable-float)
When "USE_FLOAT" is on, we need add_definitions(-D__MIX_PRECISION) and compile fftwf lib at the same

[2022-05-24 03:02] Chentao168 opened #937 "Abacus should provide the function to automatically save the previous `running.log`"
## Background
When I used the function `md_restart` of abacus, I found that my previous `running.log` was overwritten.

## Describe the solution you'd like
Abacus should provide the function to automatically save the previous `running.log` , so that it is user-friendly.  When abacus detects `running.log` in the OUT directory, it first renames `running.log` to `running001.log` and then outputs to `

[2022-05-26 02:04] caic99 opened #945 "E2E case 211_NO_S2_elec_add failed without OpenMP"
## Describe the Bug
Compile the abacus program with cmake option use_openmp=off, and run the integrate test. The test result deviates on case 211_NO_S2_elec_add: etotref cal=-203.73475113 ref=-203.75086921 deviation=-0.01611808

## To Reproduce
1. build abacus with `-DUSE_OPENMP=0` and install. Note: this will fail due to a trivial compilation error; I'll submit a patch for it ASAP.
2. run test on

[2022-05-26 02:20] caic99 commented on #945
Related issue: #886
The difference is the program is compiled with openmp support in #886, but totally without openmp(without `-fopenmp` flag, `_OPENMP` definition) here.

[2022-05-27 08:43] caic99 opened #951 "`sto_iter` compile fails on `math_chebyshev` on clang"
I'm compiling abacus with `clang` compiler, and the error generates as follow:
[code]

I suggest using `template<>` for [template specialization](https://en.cppreference.com/w/cpp/language/template_specialization) at `__MIX_PRECISION`, and in advance move template class definitions to header file.
However, this issue might be caused by the difference on behavior between gcc and clang. ([ref](https

[2022-05-29 12:07] YuLiu98 opened #959 "No output folder of MD for sto-md"
## Describe the Bug
When calculation == sto-md, there is no output folder of MD STRU.

[2022-05-29 12:09] #959 closed, assigned to Qianruipku

[2022-05-30 08:40] caic99 opened #962 "DEEPKS bandgap test failed to run"
Tests on deepks bandgap is not actually run:
[code]

Please check the [log](https://github.com/deepmodeling/abacus-develop/runs/6649600585?check_suite_focus=true) here.

[2022-05-30 11:30] caic99 opened #964 "Segfault on `603_NO_deepks_watertrimer` without OpenMP"
Compile ABACUS with `USE_OPENMP` set to off, and run the program with gdb in the test case folder `603_NO_deepks_watertrimer`:
[code]

https://github.com/deepmodeling/abacus-develop/blob/4790ed22ddcad76e69838a9ff1a6dd39aa24c279/source/src_lcao/LCAO_gen_fixedH.cpp#L1211
Here, the author tried to clear the allocated map at
https://github.com/deepmodeling/abacus-develop/blob/4790ed22ddcad76e69838a9ff

[2022-05-30 11:36] caic99 commented on #964
Another problem caused this issue and in consequence CI failure is https://github.com/deepmodeling/abacus-develop/pull/954. This PR tried to avoid adding OpenMP flag to all codes, but just libraries linked to abacus main program without helper routines(see #949). However, https://github.com/deepmodeling/abacus-develop/blob/7511330dfbf2fc49793986da96b0074341748cca/CMakeLists.txt#L55
does NOT add Op

[2022-05-31 13:27] caic99 opened #972 "ABACUS fails when using MKL openmp threading on P000_si16_pw"
## Describe the Bug
Running abacus in `examples/performance/P000_si16_pw` with `mpirun -np 4 abacus`, and env var `OMP_NUM_THREADS=4`:
[code]

This error happens on `OMP_NUM_THREADS=4 MKL_NUM_THREADS=2`, and `OMP_NUM_THREADS=1 MKL_NUM_THREADS=4`, but the test case passes on `OMP_NUM_THREADS=1 MKL_NUM_THREADS=1`.
This indicates that there might be something wrong when calling MKL functions.

## Env

[2022-06-01 02:43] hongriTianqi opened #977 "init_wfc=file in lcao and multi-k calculation not supported"
## Background
init_wfc=file in lcao and multi-k calculation is not yet supported.

## Describe the solution you'd like
Add this function.

## "Can't find even an electron" error appeared!
[212_NO_wfc_file.tar.gz](https://github.com/deepmodeling/abacus-develop/files/8810631/212_NO_wfc_file.tar.gz)

[2022-06-01 07:23] #937 closed, assigned to mohanchen

[2022-06-01 08:05] gawcista opened #978 "Why ABACUS initialize plane wave basis when choosing the basis type as LCAO?"
I noticed that even if the `basis_type` is chosen to be `lcao`, ABACUS would also run INIT PLANEWAVE.
For mpi calculations, if too many cores is used, the calculation would be aborted and return "some processor has no plane waves!"
Why could that happen? Besides, where can I get the numbers of plane waves/orbitals?

[2022-06-02 01:24] pxlxingliang commented on #901
I have recomfirmed the problem, it is an "out of memory" issue. After the abnormal exist, run command `dmesg|grep oom` can get the message:
![image](https://user-images.githubusercontent.com/91927439/171526615-642d65ea-38c7-4e9d-9210-b44e2b9861d7.png)

It should be the problem of my mathine which do not has enough memory, and it run the previous versions (e.g. 2022-3) have the same error.

[2022-06-02 01:24] #901 closed, assigned to dyzheng

[2022-06-02 04:13] sgyang345 opened #981 "ABACUS to Wannier90 error"
I have some problems when I using the ABACUS interface to Wannier90 calculations.

When I repeated the wannier example calculation provided by ABACUS, I tried to use the LCAO calculation to docking with Wannier90. However, there is always an error when reading seedname.nnkp file for ABACUS NSCF calculation, as shown in the following figure.

Description:
Reading seedname.nnkp file, setting towanni

[2022-06-02 05:51] #962 closed, assigned to wenfei-li

[2022-06-02 11:31] Qianruipku commented on #978
LCAO calculation also need plane waves, like calculations of Hartree potential and local potential.
Plane waves are related to FFT. We can see FFT grids output on the screen:
![image](https://user-images.githubusercontent.com/76200646/171618930-a87ac2f7-8629-450a-a47c-4b88ed477f47.png)
ABACUS executes FFT  in parallel. We will divide the FFT grids in the z-directions. The number of cores should be

[2022-06-02 11:31] Qianruipku commented on #978
LCAO calculation also need plane waves, like calculations of Hartree potential and local potential.
Plane waves are related to FFT. We can see FFT grids output on the screen:
![image](https://user-images.githubusercontent.com/76200646/171618930-a87ac2f7-8629-450a-a47c-4b88ed477f47.png)
ABACUS executes FFT  in parallel. We will divide the FFT grids in the z-directions. The number of cores should be

[2022-06-02 11:33] Qianruipku commented on #978
The numbers of plane waves/orbitals can be found in the running.log file.

[2022-06-02 12:48] gawcista commented on #978
Thanks for your reply! It helps a lot to me.
I noticed that there's an additional line below that begins with "UNIFORM GRID DIM(BIG)" . Is this equivalent to the "fine" FFT grid in PAW method?

[2022-06-02 13:53] Qianruipku commented on #978
It will be used by grid integration in LCAO and we do not use it in pw basis yet. I do not know clearly what the "fine" FFT is. Maybe it is different.

[2022-06-02 14:40] gawcista opened #984 "The EDIFF value in screen output"
## Description
The EDIFF value in screen output is always 0 in current version. However, it worked fine in the previous versions (like 2.2.1)
An example is given as follows,
`mpirun -np 4  ABACUS.mpi.2.3` gives:
[code]
`mpirun -np 4  ABACUS.mpi.2.2.1` gives:
[code]

[2022-06-03 01:10] YuLiu98 commented on #984
The bug is induced by an assignment operation `GlobalC::en.etot_old = GlobalC::en.etot;` before screen output, causing the energy difference is always zero.

However, the output bug don't effect the correctness, so you can continue to use the current version， and we will fix the bug soon.

[2022-06-03 01:18] #984 closed, assigned to YuLiu98

[2022-06-04 10:05] #978 closed, assigned to Qianruipku

[2022-06-04 13:14] gawcista opened #987 "Convergence difficulty in calculation with VDW DFT-D2 correction"
As described in the title, by setting `vdw_method  d2`, the geometry relaxation can not converge. The `LARGEST GRAD`  would just diverge:
[code]

Structural description:
Twisted bilayer SnS (728 atoms)
The initial structure has been well relaxed (EDIFFG = -0.01 eV/Å) with the same input parameters with vasp.6.3.1 (PBE)
The input files for ABACUS can be found here: [pack.zip](https://github.com/dee