[2022-06-04 13:17] dyzheng opened #988 "Bug: vdwd2 error in relax calculation"
## Describe the Bug
In case tests/integral/250_NO_KP_CR_VDW2 , change the parameters in INPUT file:
"relax_nmax  10
 ecutwfc         50"

The result of energy is wrong that:
"
final etot is -4134.78204688 eV
 final etot is -4135.299817967871 eV
 final etot is -4137.768840162431 eV
 final etot is -4149.499539458167 eV
 final etot is -4146.149897072450 eV
 final etot is -4134.997086282970 eV
 final

[2022-06-04 13:24] dyzheng commented on #988
It is ok for same case with vdwd3:
"
 final etot is -4134.54391714 eV
 final etot is -4134.569664437586 eV
 final etot is -4134.618813727812 eV
 final etot is -4134.619072748452 eV
 final etot is -4134.621710423961 eV
 final etot is -4134.562716235854 eV
 final etot is -4134.621075682121 eV
 final etot is -4134.621684534608 eV
 final etot is -4134.621739221550 eV
 final etot is -4134.621806331660

[2022-06-06 03:43] dyzheng commented on #981
I have tested case: examples/wannier90-example/ABACUS_towannier90 with v2.2.3, and didn't find error that you mentioned?
Can you repeat your error using v2.2.3?

[2022-06-06 07:10] YuLiu98 opened #992 "Multi-core lcao calculations get stuck when USE_OPENMP is ON"
## Describe the Bug
If abacus is complied with USE_OPENMP setting ON, multi-core lcao calculations get stuck in the first electronic step.
![f15hyjBFyR](https://user-images.githubusercontent.com/77716030/172112664-d7a4a911-69f3-4fe3-9e02-683da891401c.jpg)

If USE_OPENMP is OFF, everything is OK.

## Expected behavior
USE_OPENMP should be set to OFF by default if openmp does not work.

[2022-06-06 07:32] #932 closed, assigned to dyzheng

[2022-06-06 07:34] caic99 commented on #992
Hi @YuLiu98 ,
Is this a common problem on every LCAO case? How many threads and processes are you using?

[2022-06-06 08:08] YuLiu98 commented on #992
At least it is a common problem for all lcao cases I tested.

I used 4 processes and set `export MKL_NUM_THREADS=1`.

[2022-06-06 08:37] caic99 commented on #992
@YuLiu98 Would you set `OMP_NUM_THREADS=1` and try again? This issue might be related to #972 .

[2022-06-06 08:41] dyzheng opened #994 "Memory leak in MD calculation"
## Describe the Bug
In case: tests/integral/220_NO_KP_MD_NVE
Version v2.2.3
Change parameter "md_nstep 20" and run "/usr/bin/time -v mpirun -np 4 abacus 2>time.log |tee log" and check file time.log for number after word "Maximum resident set size".
The maximum memory number continuously increase when md steps increase.

[2022-06-06 10:14] caic99 commented on #994
Address Sanitizer result shows the memory leak happened here:

https://github.com/deepmodeling/abacus-develop/blob/999bdee1e4e5af702ea2d9f0ecabcacb82409dbf/source/src_lcao/gint_tools.cpp#L99-L100

https://github.com/deepmodeling/abacus-develop/blob/999bdee1e4e5af702ea2d9f0ecabcacb82409dbf/source/src_lcao/gint_tools.cpp#L19

[2022-06-06 11:07] caic99 commented on #994
This failure can not be reproduced on latest develop version. @dyzheng Would you try on the latest branch?

[2022-06-06 11:08] caic99 opened #997 "Memory issues on deepks-related test cases"
Please refer to https://deepmodeling.com/abacus-develop/ for details.

[2022-06-06 12:14] YuLiu98 commented on #992
Thank you! Now it works with `OMP_NUM_THREADS=1`. Maybe this issue can be closed?

[2022-06-06 12:20] caic99 commented on #992
Duplicate issue: #972 .

[2022-06-06 12:20] #992 closed, assigned to caic99

[2022-06-06 19:52] gawcista opened #1001 "The symmetry analysis step can not determine the correct point group"
## Describe the Bug
The symmetry analysis step can not determine the correct point group, especially for 2d materials. Some operations are missing.
Here are two examples:

Example 1: monolayer SnS (space group No.31 Pmn2_1, point group mm2 or C_2v)
ABACUS gives:  `POINT GROUP = C_1h`  (or C_s, m)
Example 1: monolayer SnS2 (space group No.164 P-3m1, point group -3m or D3d)
ABACUS gives:  `POINT GRO

[2022-06-07 06:54] dyzheng commented on #1001
In Example2(SnS2), you have switched position of Sn and S in STRU for ABACUS, so the structure is different with which VASP calculated.

[2022-06-07 07:00] dyzheng commented on #1001
In Example1(SnS), point group analysis is C_1h both in ABACUS and VASP, the C_2v result is combining with point group and space group. I am sorry that ABACUS only can analyze point group, but the consequence of ABACUS is correct.
(There is the part of output of VASP)
![5d9b0b31207b3345ddf8a1ecd4243e7](https://user-images.githubusercontent.com/49852742/172316189-e1f06dcb-407b-4d2d-99b9-d17c4dd6086e

[2022-06-07 07:41] gawcista commented on #1001
Sorry it's my fault. There seems no problem in example 2

I wrote a code to perform transformation between STRU and vasp POSCAR files. At lease this issue helps me find a bug in my script :)

[2022-06-07 09:09] gawcista commented on #1001
If the translation is ignored, the nonsymmorphic symmetries can not be included.
I think C_2v should be the correct explaination in this system. The  2-fold screw is very important in its electronic structure, which protects degeneracies. This is important. So will you add this support in future?
Besides, I noticed a typo in the log file
![sym](https://user-images.githubusercontent.com/20947418/17

[2022-06-07 09:45] dyzheng commented on #1001
Thanks for the typo feedback!
The lack of space group analysis maybe influent the degeneracies, but one can set high enough accuracy to avoid this problem.
Adding space group analysis is definitely very important for ABACUS, but still need a voluntee to achieve that.

[2022-06-08 03:55] LiuXiaohui123321 commented on #945
@dyzheng I've calculated the total energy of this example using abacus v2.1.0, and the result is -203.734751128.
Please check the ref result.

[2022-06-08 04:36] caic99 commented on #945
Hi @LiuXiaohui123321 ,
Thank you for your test result! The reference value is calculated with default option(openmp on), thus this problem may lies in openmp-related region.

[2022-06-08 06:15] #997 closed, assigned to wenfei-li

[2022-06-09 03:23] #994 closed, assigned to wenfei-li, YuLiu98

[2022-06-09 03:24] caic99 commented on #964
Fixed by https://github.com/abacusmodeling/abacus-develop/pull/150.

[2022-06-09 03:24] #964 closed, assigned to dyzheng

[2022-06-09 03:28] caic99 commented on #732
Use regex `\p{sc=Han}` (in VS Code) to find all Chinese characters.

[2022-06-09 04:52] caic99 commented on #787
Hi @haxushu ,
Would you try out the latest version of ABACUS and run again?

[2022-06-09 04:59] hongriTianqi commented on #765
These files are still available:
random.h
sph_bessel.h & .cpp
polint.h & .cpp
integral.h & .cpp

[2022-06-09 05:06] caic99 commented on #867
Hi @pxlxingliang ,
I ran the test with address sanitizer. Unmodified test cases goes fine, and errors were reported for the case in your issue. Would you check again if the allocation of memory spaces for scalapack routine is correct?
[code]

[2022-06-09 05:11] caic99 commented on #867
This error seems being raised here:
https://github.com/deepmodeling/abacus-develop/blob/fd17cd2620c2cc036170ad85d3ccd1ba941b1bbc/source/src_pdiag/diag_scalapack_gvx.cpp#L213-L222

It may caused by the incorrect use of `pdsygvx`:
https://github.com/deepmodeling/abacus-develop/blob/fd17cd2620c2cc036170ad85d3ccd1ba941b1bbc/source/src_pdiag/diag_scalapack_gvx.cpp#L156-L163

Please refer to #491 .

[2022-06-09 07:04] #394 closed, assigned to dyzheng, Liu-RX, YuLiu98

[2022-06-09 07:04] #609 closed, assigned to mohanchen, Liu-RX

[2022-06-09 07:40] sgyang345 commented on #981
Thanks a lot for your test!

I have used v2.2.3 for LCAO test calculation, and found that the error still occurs.

Note: PW calculations work fine, but LCAO nscf calculations errors.

[LCAO_test.zip](https://github.com/deepmodeling/abacus-develop/files/8868017/LCAO_test.zip)

[2022-06-10 05:02] caic99 commented on #987
Fixed by https://github.com/abacusmodeling/abacus-develop/pull/151.

[2022-06-10 05:02] #987 closed, assigned to caic99

[2022-06-10 05:03] caic99 commented on #988
Duplicate issue: https://github.com/deepmodeling/abacus-develop/issues/987

[2022-06-10 05:03] #988 closed, assigned to dyzheng

[2022-06-10 05:44] pxlxingliang opened #1009 "we need key word "kspacing""
## Background
KSPACING is the smallest allowed spacing between k points, it can be more convenient by setting this key word for structures  of different size.

## Describe the solution you'd like
the number of K points = max(1,|bi|/KSPACING), the unit of KSPACING is 1/Bohr

[2022-06-10 06:06] dyzheng commented on #981
Thanks for your report!
I have repeated this error and fixed it in #1010 , v2.2.4 which will be published today would be ok for this issue.

[2022-06-10 06:54] #981 closed, assigned to dyzheng

[2022-06-13 04:37] Chentao168 opened #1012 "Stres_nl needs efficiency optimization"
## Describe Current Status and Possible Solution
Currently, in ABACUS Sto_MD, the time of pressure calculation accounts for 45%, which is 11% in QE and 18% in ABACUS PW_MD.

### Sto_MD in ABACUS
   Sto_Stress_PW       cal_stress          +188.36        22        +8.6      +45.      %
   Sto_Stress_Func     stres_nl            +188.14        11        +17.      +45.      %
### PW_MD in ABACUS
   St

[2022-06-13 06:56] dyzheng commented on #1012
Can you upload your INPUT files?
Which version did you tested?

[2022-06-13 07:02] dyzheng commented on #1012
Please compare source/src_pw/sto_stress_pw.cpp:line317-339 with source/src_pw/stress_func_nl.cpp:line125-173 @Qianruipku

[2022-06-13 07:36] LiuXiaohui123321 opened #1013 "Some examples in tests/integrate failed on Sugon platform"
When running examples in tests/integrate using ABACUS [v2.2.3](https://github.com/abacusmodeling/abacus-develop/releases/tag/v2.2.3) on Sugon platform, there are some examples failed.
For more information, please see the attached file.
[abacus v2.2.3自动测试集测试结果.md](https://github.com/deepmodeling/abacus-develop/files/8888982/abacus.v2.2.3.md)

[2022-06-13 07:39] LiuXiaohui123321 commented on #1013
[abacus v2.2.3自动测试集测试结果.pdf](https://github.com/deepmodeling/abacus-develop/files/8889011/abacus.v2.2.3.pdf)

[2022-06-13 08:07] dyzheng commented on #1013
Thanks for your testing, we will try to reproduce these bugs which you reported.

[2022-06-13 08:18] caic99 commented on #1013
Hi @LiuXiaohui123321 ,
It's difficult to locate errors on sugon platform since we don't have access to it. Would you try the following steps for us to locate the problem?

- Use module `compiler/intel/oneapi-2021.3` to compile abacus
- Set env var `OMP_NUM_THREADS=1` when running abacus
- Compile and run the unit tests of abacus

[2022-06-13 08:26] LiuXiaohui123321 commented on #1013
OK! If change to use the intel-oneapi , whether the elpa needs to recompile? And what does "the unit tests of abacus" mean? Is it "tests/integrate "? @caic99

[2022-06-13 08:28] #1009 closed, assigned to mohanchen

[2022-06-13 08:44] caic99 commented on #1013
I think there won't be much problem - only recompiling abacus would be enough.

No. The unit tests are some independent tests of the functions in abacus. Please install googletest
[code]

and build abacus with
[code]

[2022-06-13 09:02] LiuXiaohui123321 commented on #1013
Update: ABACUS [v2.2.4](https://github.com/abacusmodeling/abacus-develop/releases/tag/v2.2.4) has the some problems with ABACUS [v2.2.3](https://github.com/abacusmodeling/abacus-develop/releases/tag/v2.2.3). @dyzheng @caic99

[2022-06-13 09:03] LiuXiaohui123321 commented on #1013
Thanks! And I'll try it.

[2022-06-13 09:38] LiuXiaohui123321 commented on #1013
In the last step to install googletest, there was an error:

-- Install configuration: ""
-- Up-to-date: /usr/local/include
CMake Error at googlemock/cmake_install.cmake:46 (file):
  file INSTALL cannot set permissions on "/usr/local/include": Operation not
  permitted.
Call Stack (most recent call first):
  cmake_install.cmake:47 (include)

It seems to should specify the install directory. @caic9

[2022-06-13 09:42] caic99 commented on #1013
@LiuXiaohui123321 It is possible to specify a different installation directory by adding -DCMAKE_INSTALL_PREFIX=/path/to/install/dir to the CMake command line.

[2022-06-14 01:24] LiuXiaohui123321 commented on #1013
@caic99
I've installed googletest,. But when I try to install abacus as you suggested, it gives some errors about googletest.
It seems like that the googletest directory needs to be in somewhere  right, or it will download it from github.

-- Could NOT find GTest (missing: GTest_DIR)
[ 11%] Creating directories for 'googletest-populate'
[ 22%] Performing download step (git clone) for 'googletest-p

[2022-06-14 01:47] caic99 commented on #1013
Hi @LiuXiaohui123321 ,
From the prompted message, would you try define -DGTest_DIR=xxx?

[2022-06-14 02:08] pxlxingliang opened #1014 "The calculation of the FORCE/STRESS in ABACUS is slower than QE"
I have run the Si16/Si64 system by ABACUS and QE, the time-cost of STRESS/FORCE by ABACUS is obviously larger than these by QE,

Result of Si16:
|MODULE|QE(s)|MODULE|ABACUS(s)|
|:----:|:----:|:----:|:----:|
|total time|10.79|total time|9.396|
|forces|0.14|Forces::cal_force_nl|0.38983|
|stress|0.31|Stress_PW::cal_stress|0.67537|

Result of Si64:
|MODULE|QE(s)|MODULE|ABACUS(s)|
|:----:|:----:|:----:

[2022-06-14 07:13] dyzheng commented on #1014
Reset parameters in case Si16: ecutwfc = 100Ry, kpoints = 4*4*4:
before optimized:
`
   Forces              cal_force_nl        12.493         1         12        2.3       %
   Stress_PW           cal_stress          19.116         1         19        3.5       %
`
 after #1015 :
`
   Forces              cal_force_nl        5.8774         1         5.9       1.1       %
   Stress_PW           cal

[2022-06-14 08:53] LiuXiaohui123321 commented on #1013
@dyzheng @caic99 The unit tests have finished, and the result is as follows:

Total Test time (real) = 4175.05 sec
The following tests FAILED:
         38 - md_LJ_pot (Failed)
         40 - md_fire (Failed)
         41 - md_nve (Failed)
         42 - md_nvt_ads (Failed)
         43 - md_nvt_nhc (Failed)
         44 - md_msst (Failed)
         45 - md_lgv (Failed)

[2022-06-14 09:32] Qianruipku opened #1016 "number of processors can not be larger than the number of FFT grids in z direction"
## Describe the Bug
When use too many processors, ABACUS will fail with
"Assertion `nrxx > 0' failed."

## Expected behavior
A clear and concise description of what you expected to happen.

## To Reproduce
Steps to reproduce the behavior:
1. [e.g. clone the source code from ...]
2. [e.g. configure CMake with options ...]
3. [e.g. build ABACUS with ...]
4. [e.g. run ABACUS with ...]
It is recommend

[2022-06-15 00:56] LiuXiaohui123321 commented on #1013
Update: I try to use intel oneapi-2021.3 to run examples in tests/integrate (ABACUS [v2.2.4](https://github.com/abacusmodeling/abacus-develop/releases/tag/v2.2.4)), and most examples finish normally.

211_NO_S2_elec_add

So what is the difference between using intel oneapi-2021.3 and using intel 2017.4.239 or other compiler version?
Is there any special treatment for intel oneapi-2021.3 when writi

[2022-06-15 01:46] caic99 commented on #1013
Hi @LiuXiaohui123321,
This seems to be a md-related issue. Would you provide the output detail of these unit tests for us? You can run md tests by: `cd build && ctest -R md -V`.

Please refer to https://github.com/deepmodeling/abacus-develop/issues/945. Personally, I think this issue is related to OpenMP, but not the version of Intel compiler.

There are no special treatment between different Inte

[2022-06-15 06:30] caic99 opened #1018 "new-delete type mismatch in ModuleESolver"
Please refer to [Address Sanitizer Diagnostics](https://deepmodeling.com/abacus-develop/) for details.

[2022-06-15 08:17] #1012 closed, assigned to caic99

[2022-06-15 08:17] #1014 closed, assigned to dyzheng

[2022-06-17 10:50] lyb9812 opened #1023 "TDDFT calculation is stuck in the first step for large system"
## Describe the Bug
In TDDFT branch , TDDFT calculation is stuck in the first step for 64Si+Au system.
The program breaks down when running function Build_Hash_Table() and calling fatom.x .
This happens just before step 1.

## Environment
TDDFT branch
Ubuntu 20.04.1 OneAPI 2021.3.0

[64SiAu.tar.gz](https://github.com/deepmodeling/abacus-develop/files/8926850/64SiAu.tar.gz)

[2022-06-18 01:28] #1016 closed, assigned to Qianruipku

[2022-06-18 01:46] #1018 closed, assigned to Qianruipku

[2022-06-18 01:51] caic99 opened #1024 "`diago_parallel_test` failed to run"
See https://github.com/deepmodeling/abacus-develop/runs/6875391462?check_suite_focus=true#step:5:3416 .

./hsolver_diago (No such file or directory)

[2022-06-18 04:56] pxlxingliang commented on #1024
UT "`hsolver_diago`" is not compiled, it is commented out in (https://github.com/deepmodeling/abacus-develop/blob/develop/source/src_pdiag/test/CMakeLists.txt) /source/src_pdiag/test/CMakeLists.txt .
So UT "hsolver_diago" is not needed now? I am not sure.  If no, `diago_parallel_test` should also be deleted.
@dyzheng , do you know?

[2022-06-18 06:25] dyzheng opened #1025 "UnitTests of molecular dynamics are unstable"
## Describe the Bug

In Intel-OneAPI, The UTs of MD are unstable,

The following tests FAILED:
         38 - md_LJ_pot (Failed)
         40 - md_fire (Failed)
         41 - md_nve (Failed)
         42 - md_nvt_ads (Failed)
         43 - md_nvt_nhc (Failed)
         44 - md_msst (Failed)
         45 - md_lgv (Failed)

[2022-06-20 10:20] pxlxingliang opened #1030 "Kramers degeneracy is not considered in doing MD"
## Describe the Bug
When doing MD, the symmetry is set as off, but the Kramers degeneracy is also not considered.
According to Kramers' theorem, if a crystal has time-reversal symmetry, all eigenstates are at least doubly degenerate.
And -k should be equivalent to k.
In some case, this can largely decrease the time cost.

[2022-06-21 05:46] #1024 closed, assigned to pxlxingliang

[2022-06-21 07:03] #1025 closed, assigned to YuLiu98

[2022-06-21 10:40] caic99 opened #1033 "ABACUS failed to compile with LLVM"
This file uses `std::array`:
https://github.com/deepmodeling/abacus-develop/blob/f7c36ff9d0568998ac891ff4540cfad58759e6f6/source/module_symmetry/symmetry.cpp#L1465
However, it lacks `#include <array>`.

[2022-06-21 10:42] caic99 commented on #1033
In certain environment setup, ABACUS requires additional library: ` -lfang -lbsmath`.

[2022-06-22 01:45] pxlxingliang commented on #1030
We should also consider the Kramers degeneracy, even the symmetry is OFF

[2022-06-22 02:26] haozhihan opened #1035 "How to run ABACUS after compilation？"
After I finish compiling the entire ABACUS software and prepare the INPUT file needed to run the software, I don't know how to run the software. This part seems to be missing from the documentation.

[2022-06-22 02:52] caic99 commented on #1035
Hi @haozhihan ,
After putting all required input files under one folder, you can run command `mpirun -np 4 abacus` to perform calculation. You can replace '4' with your desired number of process, typically the result of `nproc`.
This [example](https://github.com/deepmodeling/abacus-develop/tree/develop/examples/01a_Si_diamond_pw_scf) demonstrates a minimum case for ABACUS to run.

[2022-06-22 02:57] #1033 closed, assigned to caic99

[2022-06-22 08:11] lyb9812 commented on #1023
I forgot to change the init_vel to 1 in INPUT.

[2022-06-22 08:11] #1023 closed, assigned to dyzheng

[2022-06-22 09:56] haozhihan opened #1036 "README.md is a bit confusing"
1. There are two sections in [README.md](https://github.com/deepmodeling/abacus-develop#table-of-contents) named Features, which focus on different content.
2. There is some confusion about the relationship between [Functionalities](https://github.com/deepmodeling/abacus-develop#functionalities) and [Examples](https://github.com/deepmodeling/abacus-develop#examples). The content links contained in

[2022-06-24 05:13] #1035 closed, assigned to haozhihan, caic99

[2022-06-26 09:35] caic99 commented on #1036
Related: #514

[2022-06-27 05:45] hongriTianqi opened #1041 "Stress results inconsistency between ABACUS and QE"
## Describe the Bug
The energy is exactly the same in one same calculation in ABACUS and QE: -553.64834923 Ry,
however,
the stress results are very different between ABACUS and QE.

## To Reproduce
Steps to reproduce the behavior:
1. cat issue/abacus_input/running_scf.log
2. cat issue/qe_input/scf.out

[issue.tar.gz](https://github.com/deepmodeling/abacus-develop/files/8988941/issue.tar.gz)

<img

[2022-06-27 06:38] dyzheng opened #1042 "Supporting for new GenELPA in ABACUS cmake tools"
## Background

https://github.com/pplab/GenELPA

We need compiling support for this GenELPA lib for ABACUS program.

[2022-06-27 06:44] dyzheng commented on #1041
Thanks for your report, I will answer for that after tested this case.

[2022-06-27 06:56] caic99 commented on #1042
Hi @dyzheng ,
I'm not sure if GenELPA is only a interface to ELPA, or it can be used without ELPA?
And, what is the required lib name?
Besides, does ABACUS support it now?

[2022-06-27 07:46] dyzheng commented on #1042
@caic99
1. In my opinion, GenELPA is only a interface to ELPA, we should compile ELPA first and compile GenELPA next.
2. Another method to use this interface is move the GenELPA code to ABACUS.
3. Now, only ABACUS branch https://github.com/pplab/abacus-develop/tree/newelpa support it, I plan to merge the code to HSolver and add a new derived class for "DiagH" and named "DiagoGenELPA" to support bo

[2022-06-27 07:51] dyzheng commented on #1042
Tests for GenELPA is lacking now, so the method should only be a optional method for users, we can use a macro "__GENELPA" to choose the using for GenELPA+ELPA or ELPA only.

[2022-06-27 08:45] pxlxingliang opened #1043 "running of ABACUS that complied with GNU is much slower than that with intel"
I have complied ABACUS with GNU and intel oneapi, respectively,  and then run examples/performance/P000_si16_pw with `mpirun -np 2 abacus`. The time cost of repeated 4 times running are as below:

||GNU(s)|intel(s)|
|:----:|:----:|:----:|
|1|335|216|
|2|333|215|
|3|328|213|
|4|332|212|

The mainly difference is the h_psi/vloc/recip2real process, which is related to the FFT,
![image](https://user-i

[2022-06-27 08:52] dyzheng commented on #1043
How many differences between FFTW3 in GNU and FFTW3 in oneAPI-mkl? @caic99

[2022-06-27 09:17] caic99 commented on #1043
The FFTW3 in oneAPI-MKL is a interface to it, which means the implementation might be significantly different. The MKL implementation is supported by Intel engineers, while the original FFTW3 is an open-source project. The performance result meets the expectation - MKL should be faster. (Personally, I don't know how fast can it be until today.)

[2022-06-27 15:30] #1030 closed, assigned to wenfei-li, dyzheng

[2022-06-28 01:58] pxlxingliang commented on #1043
I also test calculations with LCAO basis, but this time the GNU complied ABACUS is a little faster than intel.
Run examples/performance/P100_si16_lcao, and time cost of repeated 4 times running are as below:
||GNU(s)|intel(s)|
|:----:|:----:|:----:|
|1|153|173|
|2|152|175|
|3|164|171|
|4|151|176|

The mainly difference is the `cal_gint` process
![image](https://user-images.githubusercontent.com/91

[2022-06-28 02:14] pxlxingliang opened #1045 "When doing MD, the SCF iteration cycle number of ABACUS is larger than QE"
I have run the MD (NVE) by ABACUS and QE, respectively. The SCF iteration cycle of the 1st ION step is both 12, but the SCF iteration cycle number of later ION steps are larger than that in QE.

SCF iteration cycle number
------------------------------
|ION step|ABACUS|QE|
|:----:|:----:|:----:|
|1|12|12|
|2|7|3|
|3|7|4|
|4|7|4|
|5|7|4|

The INPUT and OUTPUT files:
[example.zip](https://github.com

[2022-06-28 02:31] caic99 commented on #1043
The compiling of ABACUS is still using the `-O2` optimization level flag. Future works on different [build types](https://cmake.org/cmake/help/latest/variable/CMAKE_BUILD_TYPE.html) is possible.

[2022-06-28 06:41] LittleMeepo commented on #951
Move the template specialization to the end of `.cpp` file can solve this link error temporarily.
[code]
It seems like when `clang` meet the expression `template class xxx<xxx>`, it will generate a specialization of the template immediately. The rest of the function symbols are missed in the symbol table.
So, is there a better way to solve this problem？

[2022-06-28 09:34] pxlxingliang opened #1049 "SCF converge is failed with broyden"
In this case, I do the scf calculation, and from step 13, the energy is nearly no change, and the mixed density seems also no update

![image](https://user-images.githubusercontent.com/91927439/176145103-3798368d-931b-4b30-b387-f6720c0e072c.png)

[example.zip](https://github.com/deepmodeling/abacus-develop/files/8999574/example.zip)

[2022-06-29 01:05] hongriTianqi opened #1051 "Abnormally large stress obtained after reading a rrkj type pseudopotential"
## Describe the Bug
An abnormally large stress was obtained after reading a rrkj type of pseudopotential of Al.

## To Reproduce
cat issue/running_scf.log | grep TOTAL-PRESSURE

[issus.tar.gz](https://github.com/deepmodeling/abacus-develop/files/9006419/issus.tar.gz)

<img width="556" alt="stress" src="https://user-images.githubusercontent.com/18049272/176329193-ff8c2025-ab0c-4637-aa3a-72cf641ff8e

[2022-06-29 05:18] pxlxingliang opened #1053 "Aborted when doing cell-relax with LCAO basis"
In this case, I try to do the `cell-relax` calculation with LCAO basis, the job is abnormal aborted when doing the SCF in second ION step.
![image](https://user-images.githubusercontent.com/91927439/176357340-2c53b720-0ac3-4c3b-88c0-69431256ddeb.png)

INPUT and OUTPUT
[example.zip](https://github.com/deepmodeling/abacus-develop/files/9007453/example.zip)

[2022-06-30 02:31] caic99 commented on #951
Hi @LittleMeepo ,
Thanks a lot! We specialized this class with these two precisions, and this is the way we think it's OK. I think your solution is adequate for this.

[2022-06-30 03:08] #914 closed, assigned to Qianruipku

[2022-06-30 05:38] #1036 closed, assigned to ouqi0711, caic99

[2022-06-30 06:28] pxlxingliang commented on #1053
Program is aborted when assign pvpR_reduced to be zero in cal_gint(). In each ION step, the dimension of pvpR_reduced[ispin] is different, but abacus do not update it between each ION step.

[2022-06-30 07:04] #1053 closed, assigned to dyzheng

[2022-07-01 05:00] #487 closed, assigned to hongriTianqi, caic99, pxlxingliang

[2022-07-01 05:00] #502 closed, assigned to mohanchen

[2022-07-01 05:01] #445 closed, assigned to mohanchen

[2022-07-01 05:04] caic99 commented on #529
@pxlxingliang is working on a more systematic performance test regarding ABACUS vs VASP.

[2022-07-01 05:04] #529 closed, assigned to pxlxingliang

[2022-07-01 05:07] caic99 commented on #550
Transfer to #580 .

[2022-07-01 05:07] #550 closed, assigned to mohanchen

[2022-07-01 05:23] #654 closed, assigned to dyzheng

[2022-07-01 05:24] caic99 commented on #386
@lyb9812 Any update?

[2022-07-01 05:25] #882 closed, assigned to caic99

[2022-07-01 05:26] caic99 commented on #1049
Duplicated in #530 .

[2022-07-01 05:26] #1049 closed, assigned to dyzheng

[2022-07-01 05:27] caic99 commented on #530
@Qianruipku @mohanchen Would you look into this issue?

[2022-07-01 05:32] #787 closed, assigned to dyzheng

[2022-07-01 06:51] lyb9812 commented on #386
Now TDDFT branch doesn't have this bug anymore.

[2022-07-01 08:32] #386 closed, assigned to dyzheng

[2022-07-03 04:49] YuLiu98 commented on #1045
Hi, I have fixed the charge extrapolation method.

However, there is **one important point**  that the atomic positions between QE-md and ABACUS-md are different due to their velocities are different.

So, in order to check the charge extrapolation method, you should replace **source/src_pw/run_md_pw.cpp** and **source/src_pw/run_md_pw.h** with new corresponding files in the **correction.tar.gz**

[2022-07-04 09:12] wenfei-li opened #1061 "Replace dm_k by dmR"
I've noticed that in multi-k case, the density matrix is stored in both dm_k and dmR formats, and dm_k is used in exx, DFT+U, as well as DeePKS.
However, in principle dmR contains all the information in dm_k, and any term relying explicitly on dm_k should be able to be transformed into one that uses dmR.
In practice, I noticed one reason why dmR is not used in some cases is that dmR is stored in a

[2022-07-06 02:34] pxlxingliang commented on #580
I ran this structure by PW basis and set the ecutwfc to be 90/100/110 Ry. The energy of 100 Ry ecutwfc by ABACUS is abnormal smaller than those of 90/110 Ry ecutwfc, and also different to the results by QE. There may have some weird bug when setting ecutwfc to be 100 Ry in ABAUS.

Total Energy(Ry)
|ecutwfc|ABACUS|QE|
|:----:|:----:|:----:|
|90|-126.104899129|-126.10489912
|100|-133.30730175|-126.1

[2022-07-06 05:34] #874 closed, assigned to maki49, Qianruipku

[2022-07-06 05:35] #630 closed, assigned to Qianruipku

[2022-07-06 05:45] Qianruipku commented on #530
Maybe it is associated with issue #484. scf aims to find the minimum of "dr2" when it is thought to be converged. However, "dr2" is differently defined for lcao and pw. Thus, we must use different mixing methods for lcao and pw. In fact, "pulay" and "broyden" are both the pulay method.  The former is for lcao while the latter is for pw.

[2022-07-06 05:56] #721 closed, assigned to mohanchen, Qianruipku

[2022-07-06 06:32] pxlxingliang commented on #580
This may be the bug of symmetry, I re-run the job of ecutwfc=100 with setting symm = false by ABACUS, and this time the energy is -126.10489929 Ry, which is close to that by QE.

[2022-07-08 03:00] pxlxingliang commented on #580
This structure has 48 space group operations, and the first 24 operations are the pure point group operations, and last 24 space group operations have the translation operation, which is [0.375, 0.375, 0.375].

The grid number of ecutwfc=90/100/110 is 90X90X90, 96X96X96, and 100X100X100, respectively. So only when ecutwfc=100, the grid number can just satisfy the translation operation (96*0.375 eq

[2022-07-08 07:39] pxlxingliang commented on #580
In some k points cases, there still has a little difference in energy between calculation with symmetry and without symmetry. This difference is exist in both QE abd ABACUS.

For example in KPT = 2 1 1 ecutwfc=100
The total energy(Ry)
|job type|QE|ABACUS|
|:----:|:----:|:----:|
|symmetry=off|-125.29614632|-125.296146339|
|symmetry=on|-125.29682130|-125.296821323(no translation)<br/>-125.296725464(

[2022-07-11 03:39] #580 closed, assigned to mohanchen

[2022-07-11 06:02] caic99 opened #1071 "CI failure on image configurations"
- [x] Some cases will consume extremely long time, e.g. [103_PW_15_CS_CF](https://github.com/deepmodeling/abacus-develop/runs/7263626178?check_suite_focus=true#step:5:87).
- [x] SDFT reference value has deviations
- [x] [Building failure](https://github.com/deepmodeling/abacus-develop/runs/7275703386?check_suite_focus=true) on LibXC related part
- [x] Some BLAS routine has [numerical errors](https

[2022-07-11 08:14] sgyang345 opened #1075 "ABACUS output bug"
##  ABACUS output bug
out_wfc_lcao set 1, but ABACUS can not output wave functions coefficients.

## INPUT
#Parameters (5.LCAO)
out_wfc_lcao        1 #ouput LCAO wave functions

## To Reproduce
1. run ABACUS with  nscf

## Environment
- OS: CentOS Linux release 7.9.2009 (Core)

[2022-07-11 08:49] #1041 closed, assigned to dyzheng

[2022-07-11 08:49] #1051 closed, assigned to dyzheng

[2022-07-13 09:54] caic99 commented on #1071
https://github.com/deepmodeling/abacus-develop/blob/451ae61ae29da25b61384d8f19f0ef4feab6369f/source/module_base/test/blas_connector_test.cpp#L209
I wonder how this value is decided? I change it to 4, and CI passed. @Chentao168

[2022-07-13 10:29] dyzheng commented on #1075
Thank you for your reporting, I have fixed this bug.

[2022-07-13 10:29] #951 closed, assigned to caic99

[2022-07-13 11:00] dyzheng opened #1087 "Documentation request for v2.3.0"
I have several questions for using ABACUSv2.3.0:

- [x]  1. How can I calculate BSSE for molecular formation energy?
- [ ]  2. How can I calculate SOC effect?
- [x]  3. How can I print PDOS or PBANDS or wavefunction in real space?
- [ ]  4. How can I calculate DFT+U effect?
- [x]  5. How can I print Hamiltonian matrix in real space?
- [x]  6. How can I use FIRE method if I only want to do relax ca

[2022-07-13 12:10] #1071 closed, assigned to baixiaokuang

[2022-07-13 13:43] #1075 closed, assigned to dyzheng

[2022-07-13 14:09] Qianruipku opened #1090 "Calculations of Electronic transport properties by SDFT are needed."
## Background
Electronic conductivity and thermal conductivity are generally calculated by Kubo-Greenwood formula. However, it is inefficient when the temperature rises.

## Describe the solution you'd like
Stochastic Kubo-Greenwood needs to be added into the "postprocess" function in ESolver

## Additional context
Add any other context or screenshots about the feature request here.

[2022-07-14 07:50] dyzheng commented on #1042
This interface GenELPA is expected to solve problem in Issue #798

[2022-07-14 12:59] sgyang345 opened #1094 "ABACUS LCAO calculate berryphase issue"
## Describe the Bug
Berryphase errors are reported for LCAO calculations using ABACUS 2.3.0, but no errors are reported with 2.2.3 or earlier versions.
![2022-07-14_20-57](https://user-images.githubusercontent.com/68679106/178987741-23872dda-4821-414b-88d7-b1de0c56f8a6.png)

## To Reproduce
1. run ABACUS-2.3.0 with berryphase of  ABACUS's example (PbTiO3)

## Environment
- OS: CentOS Linux release

[2022-07-15 02:10] mohanchen commented on #1090
ok

[2022-07-15 02:24] caic99 commented on #1045
closed by #1060

[2022-07-15 04:54] dyzheng commented on #1094
Thanks for your report, I will fixed this bug.

[2022-07-20 09:35] ouqi0711 opened #1106 "hybrid functional calculation with exx_separate_loop=0 does not work"
## Describe the issue
When running hybrid functional with exx_separate_loop=0, the program will be terminated after the init SCF cycle (i.e., non-hybrid SCF calculation).

## Expected behavior
The job should run successfully until the SCF converges, as it did in former versions (v2.1-).

## To Reproduce
This is the input file:

[test_sic.zip](https://github.com/deepmodeling/abacus-develop/files/91

[2022-07-21 11:48] #1094 closed, assigned to dyzheng

[2022-07-27 05:29] Fadelis98 opened #1117 "The ready-for-use docker images does not work"
## Describe the Bug

when running the docker image I get the following message:

[99f4cb284bbf:00007] PMIX ERROR: ERROR in file ../../../src/runtime/pmix_progress_threads.c at line 269
[99f4cb284bbf:00007] PMIX ERROR: ERROR in file ../../../src/runtime/pmix_progress_threads.c at line 393
\--------------------------------------------------------------------------
It looks like pmix_init failed for

[2022-07-27 07:15] caic99 commented on #1117
Hi @Fadelis98 ,
I'm running with command:
[code]
but the program runs well. The problem might lies elsewhere regarding the collaboration between docker and OpenMPI.

[2022-07-27 08:14] Fadelis98 commented on #1117
Thanks for checking it, I'm still trying to solve the problem

[2022-07-28 01:58] pxlxingliang opened #1121 "unstable bug of "Assertion `psi_norm > 0.0' failed" in Davidson method"
## Describe the Bug
In this LiSi system, when using davidson method, ABACUS sometimes throw the error of "Assertion `psi_norm > 0.0' failed". This bug randomly occur when using 16 threads on 16 physical cores' machine.

abacus: /root/abacus-develop/source/module_hsolver/diago_david.cpp:544: void hsolver::DiagoDavid::SchmitOrth(hamilt::Hamilt *, const int &, int, int, const ModuleBase::ComplexMatri

[2022-07-28 08:18] caic99 opened #1125 "Diagonal parallel test fails to detect failures"
### Describe the bug

In the [DiagoDavRealSystemTest](https://github.com/deepmodeling/abacus-develop/runs/7555374655?check_suite_focus=true#step:5:2729), the program received a segfault, but the test still passed.

### Expected behavior

_No response_

### To Reproduce

_No response_

### Environment

_No response_

### Additional Context

_No response_

[2022-07-28 08:48] pxlxingliang commented on #1125
Thanks for your finding. The command `mpirun -np $i ./HSolver_dav` in the bash script is running error. I will fix it by adding an exit in the script when the execute of the command is abnormal.

[2022-07-29 01:32] hongriTianqi opened #1131 "Find wrong lattice parameters in STRU_NOW.cif file after cell-relax calculation"
### Describe the bug

The lattice parameters in STRU_NOW.cif file are not updated after cell-relax calculation.
The following is the results after a cell-relax calculation:
-----------------------------------
STRU_NOW.cif
-----------------------------------
data_test

_audit_creation_method generated by ABACUS

_cell_length_a 4.04
_cell_length_b 4.04
_cell_length_c 4.05
_cell_angle_alpha 90
_cell_

[2022-07-29 03:16] caic99 opened #1132 "Performance test results failed to match with reference value"
### Describe the bug

See https://github.com/deepmodeling/abacus-develop/runs/7556278945?check_suite_focus=true

### Expected behavior

_No response_

### To Reproduce

_No response_

### Environment

_No response_

### Additional Context

_No response_

[2022-07-29 05:15] caic99 opened #1133 "Memory leak in orbital module"
### Describe the bug

AddressSanitizer: heap-buffer-overflow ([log](https://deepmodeling.com/abacus-develop/))
[code]

### Expected behavior

No memory leak

### To Reproduce

Perform dynamic analysis on GitHub

### Environment

CI

### Additional Context

_No response_

[2022-07-29 10:24] #1125 closed, assigned to pxlxingliang

[2022-08-03 08:34] Fadelis98 commented on #1117
some updates, may helpful for you developers @caic99
I have tried changing my MPI environment to fix this problem. Now I have installed Intel oneapi base toolkit and HPC toolkit on my system, **and then got new error**.
First, I run the default command:
`~% sudo docker run -v ~/abacus-develop/tests/integrate:/workspace -w /workspace/101_PW_15_f_pseudopots ghcr.io/deepmodeling/abacus:latest`

It fi

[2022-08-03 09:37] caic99 opened #1141 "Docs contain undocumented but used keywords"
@dyzheng There are still some keywords which I can not find
<img width="392" alt="nlHWmuFMMv" src="https://user-images.githubusercontent.com/78061359/182554268-ad6abd3d-9b29-41fd-b910-db53b884b385.png">

_Originally posted by @caic99 in https://github.com/deepmodeling/abacus-develop/issues/1140#issuecomment-1203609178_

[2022-08-03 09:39] #1090 closed, assigned to Qianruipku

[2022-08-03 09:51] caic99 commented on #1117
Hi @Fadelis98 ,
To avoid thread oversubscribbing, you may want to set an environment variable to limit OpenMP threads, like
`OMP_NUM_THREADS=1 mpirun -np 4 abacus`. Would you try again with this command.

Do you mean your machine has 2 CPU sockets on one board? Docker has a really poor support regarding MPI, especially MPI running between nodes(in this case, singularity is a better approach), and

[2022-08-03 12:01] #1117 closed, assigned to dyzheng

[2022-08-05 06:13] hongriTianqi opened #1146 "LCAO calculation does not support kpar but give no warning quit"
### Describe the bug

LCAO calculation does not support kpar but give no warning quit.
When basis = lcao and kpar >1, the calculation goes without progressing or ending.
==========================================
SETUP SEARCHING RADIUS FOR PROGRAM TO SEARCH ADJACENT ATOMS
                  longest orb rcut (Bohr) = 9
   longest nonlocal projector rcut (Bohr) = 3.64
              searching radius i

[2022-08-06 07:15] hongriTianqi opened #1149 "Wrong warning when basis = pw and gamma_only =1"
### Describe the bug

The quit error for basis = pw and gamma_only = 1 is as follows:
+++++++++++++++++++++++++++++++++++++++++++++++
SETUP K-POINTS
                                    nspin = 1
 !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
                         NOTICE
 !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!

 Something wrong while reading KPOINTS.
 CHECK IN FILE

[2022-08-08 04:00] #1146 closed, assigned to dyzheng

[2022-08-08 05:10] wenfei-li commented on #1106
Has this issue been addressed? I can take a look at it if needed.

[2022-08-08 05:11] wenfei-li commented on #795
It seems this issue has been resolved.

[2022-08-08 05:11] #795 closed, assigned to dyzheng

[2022-08-08 05:15] wenfei-li commented on #1106
It seems this issue has been resolved.

[2022-08-08 05:15] #1106 closed, assigned to dyzheng

[2022-08-08 05:18] wenfei-li commented on #673
It seems this issue is no longer relevant.

[2022-08-08 05:18] #673 closed, assigned to dyzheng, caic99

[2022-08-08 05:21] wenfei-li commented on #291
The functionality has been implemented, as well as mGGA in LCAO basis. #1135

[2022-08-08 05:21] #291 closed, assigned to wenfei-li

[2022-08-08 05:23] wenfei-li commented on #486
Is the bug still there? I've recently tested the bond breaking process of H2, where I set starting magnetization of the two H atoms. It seems to work fine for me. Is there any test case where things go wrong?

[2022-08-08 06:41] caic99 opened #1154 "Errors in TDDFT code"
https://github.com/deepmodeling/abacus-develop/blob/0cdc725b9057ca729f487f800029ad2fae058759/source/module_esolver/esolver_ks_lcao_tddft.cpp#L390

& has lower precedence than >=; >= will be evaluated first. I think this '&' should be replaced with "&&".

[2022-08-08 06:51] dyzheng commented on #1154
@lyb9812

[2022-08-08 07:58] #1149 closed, assigned to dyzheng

[2022-08-08 11:54] wenfei-li commented on #916
@dyzheng Is this issue resolved? If so please close it.

[2022-08-08 11:58] wenfei-li commented on #442
The unification of interface has been achieved; the other two issues still awaits addressing.

[2022-08-08 11:59] wenfei-li commented on #870
It seems this issue has been resolved.

[2022-08-08 11:59] #870 closed, assigned to dyzheng

[2022-08-08 12:00] wenfei-li commented on #765
@hongriTianqi Is this issue be considered resolved? If so please close it.

[2022-08-08 12:01] wenfei-li commented on #379
I've tested the two test cases using ABACUS compiled with intel oneapi, and it seems both issues have been resolved.

[2022-08-08 12:01] #379 closed, assigned to dyzheng

[2022-08-08 12:02] wenfei-li commented on #545
I will take a look at this issue.

[2022-08-08 12:24] wenfei-li commented on #545
It seems there is indeed some tricks for doing such kind of calculations. Sometimes it is hard for the SCF step to break the symmetry of up and down spin; in this case we can set an initial spin on one of the atoms.
As in this case, I was able to achieved SCF convergence with nspin = 2 and spin 1.0 placed on the first Si atom. However, the convergence is indeed hard to obtain as it took around 100

[2022-08-08 12:24] #545 closed, assigned to wenfei-li

[2022-08-08 12:36] wenfei-li commented on #392
This issue has not been resolved yet. I'll take a look.

[2022-08-09 02:32] hongriTianqi opened #1158 "We need to provide BoltzTraP interface"
### Background

BoltzTraP/BoltzTraP2 are open source codes for calculating charge/phonon transport properties of materials. Adding abacus interface of BoltzTraP/BoltzTraP2 will increase functionality of abacus.

### Describe the solution you'd like

Adding the abacus interface of BoltzTraP/BoltzTraP2.

### Additional Context

_No response_

[2022-08-09 04:27] wenfei-li commented on #767
Has this issue been resolved? Is there another smaller case where Ewald fails? @dyzheng

[2022-08-09 05:37] mohanchen commented on #1158
What are the details/procedures for adding the BoltzTrap interface? How long will it take?

[2022-08-09 05:40] mohanchen commented on #921
We have developed a package that can do the post-processing of data. Here is the link: https://github.com/MCresearch/Candela

[2022-08-09 05:55] wenfei-li commented on #392
@dyzheng It seems you are testing on a pretty extreme structure, where the unit cell is only 1 Bohr^3 in real space. Therefore in computing Ewald term, the 'short range' part will include more cells in the real space. We used to set H_Ewald_pw::mxr to 50, which falls insufficient in this case. Setting the parameter to 100 and it works fine.

[2022-08-09 06:12] wenfei-li commented on #392
Furthremore, if you set unit cell to be twice big and put repetitive atoms in the unit cell, mxr of 50 is sufficient, and the Ewald term evaluated is exactly 8 times. Therefore the only issue is with mxr. I checked qe and for certain purposes they are using a mxr of 500, I'll update our mxr to 200 just in case someone uses such an extreme structure like in this issue.

[2022-08-09 06:17] dyzheng commented on #392
Thanks for your solution!

[2022-08-09 06:35] wenfei-li commented on #767
Has this case been tested against quantum espresso? What was the reference value?

[2022-08-09 07:45] lyb9812 commented on #1154
#1161

[2022-08-09 07:52] sgyang345 opened #1162 "The calculation terminates abnormally for ABACUS 2.3.2 PW"
### Describe the bug

If one try to do the nscf calculation of PW with ABACUS 2.3.2, the program will terminates abnormally, it is shown in the following figure.

### Expected behavior

Termination of the program：
![2022-08-09_15-37](https://user-images.githubusercontent.com/68679106/183592006-f901a6d7-0f50-435b-81a2-2a48b4b51679.png)

### To Reproduce

1. Clone the source coda from “https://githu

[2022-08-09 09:10] #392 closed, assigned to wenfei-li

[2022-08-09 09:20] wenfei-li commented on #1162
@dyzheng are you planning to look at this? If not I'll take a look.
possibly related to your reconstruction work ...

[2022-08-09 09:21] #1131 closed, assigned to wenfei-li

[2022-08-09 09:25] dyzheng commented on #1162
Maybe you are right, but I have tried this case but cannot reproduct the same error, maybe we should construct the same environment first.

[2022-08-09 09:26] #1154 closed, assigned to nobody

[2022-08-09 09:26] wenfei-li commented on #1162
Sure. I'll have a try

[2022-08-09 09:28] dyzheng commented on #1162
Thanks a lot! This is his test case.
[nscf_test.zip](https://github.com/deepmodeling/abacus-develop/files/9289156/nscf_test.zip)

[2022-08-09 09:41] pxlxingliang commented on #1121
This bug is occurred in the ABACUS complied by intel, and ABACUS complied by GNU has no problem.
A detail checking, I find that the function `Parallel_Reduce::reduce_complex_double_pool` in `DiagoDavid::cal_elem` sometimes "is bad" for `hc` matrix. This function should plus the values in each core and than assign it back to each core, while sometimes some elements in hc matrix in some cores are no

[2022-08-10 01:51] #1045 closed, assigned to YuLiu98

[2022-08-10 02:06] pxlxingliang opened #1164 "The convergence of SCF in AIMD is too slow"
### Describe the bug

The AIMD are performed on a serial of Al structures, and the number of step for the convergence of SCF are too large. Some AIMD step even need more than 10 steps to converge SCF.

<img width="427" alt="image" src="https://user-images.githubusercontent.com/91927439/183794136-fc820b03-9620-44c0-8866-d237429357d0.png">
<img width="428" alt="image" src="https://user-images.github

[2022-08-10 02:30] #1133 closed, assigned to wenfei-li

[2022-08-10 06:18] wenfei-li commented on #499
There are some methods which simultaneously relaxes cell and ion, such as https://journals.aps.org/prb/abstract/10.1103/PhysRevB.59.235
However this will be incompatible with our current structure of code, where cell and ions are treated as two separated loops. A refactor of this part might be necessary.

[2022-08-10 06:23] hongriTianqi opened #1166 "BFGS cell optimization fail in abacus but not in qe with the same parameters in a specific example"
### Describe the bug

BFGS cell optimization fail in abacus but not in qe with the same parameters in a specific example.

### Expected behavior

Expect success in abacus as well.

### To Reproduce

_No response_

### Environment

_No response_

### Additional Context

[abacus.tar.gz](https://github.com/deepmodeling/abacus-develop/files/9297334/abacus.tar.gz)
[qe.tar.gz](https://github.com/deepmod

[2022-08-11 01:37] YuLiu98 commented on #1164
There are some errors in INPUT parameters:
1. MD time step is specified by `md_dt` instead of `md_tfreq`, which is used in Nose Hoover Chain.
2. If not specified, atomic velocities in QE is set to zero, and cannot be controlled by `tempw`, which is used in nvt. Thus, `md_tfirst` in ABACUS  should be set to zero to be consistent with QE.

After correcting these two points, the convergence of SCF in

[2022-08-11 01:59] pxlxingliang commented on #1164
@YuLiu98 Yes, there have some misunderstand of the key word.
The previous jobs actually have the md step of a default value that is 1 fs, and a modified md_tfreq of 0.1 whose default value is 0.025. The md_type is set to be 0, which means a NVE job, so md_tfreq has no impact.

The previous results are also abnormal for the NVE job with md step of 1fs.

[2022-08-11 02:45] pxlxingliang commented on #1164
@YuLiu98 When I set the md_tfirst to be 0, the convergence of SCF is indeed fast, but when temperature is higher, such as 50 and 100 K, the convergence is bad. But in QE, the convergence are seems good whatever the temperature is 50 or 100 K (ion_temperature = 'initial').

step number of the convergence of SCF
|temperature(K)|abacus|qe|
|:----:|:----:|:----:|
|0|13/1/3/3/3/3|11/3/3/3/3/3|
|50|11/6

[2022-08-11 07:23] wenfei-li commented on #754
it seems this issue is now resolved; set_matrix_grid is now called in function 'beforescf', which is called once per ion step

[2022-08-11 07:23] #754 closed, assigned to mohanchen

[2022-08-15 06:28] #1164 closed, assigned to dyzheng, YuLiu98

[2022-08-16 09:12] wenfei-li opened #1171 "Why is TDDFT done as MD?"
### Describe Current Status and Possible Solution

It seems we are now running TDDFT by faking a MD run, the INPUT for running TDDFT is something like this:

[code]

which is pretty confusing and can be misleading for users.

Furthermore, a bigger problem for this treatment of TDDFT is that we will not be able to run MD along with TDDFT.

From the aspect of code structure, TDDFT is done on a fixed

[2022-08-16 10:37] lyb9812 commented on #1171
Yes, the input is confusing now . I will change "calculation" to "tddft" and hide "tddft","md_type".  TDDFT use the last step's wavefunctions to calculate this step's wavefunctions , so I need to preserve wavefunctions. For motion of atoms, TDDFT uses the code of MD NVE.

[2022-08-17 03:20] wenfei-li commented on #1171
Is it possible to do TDDFT in the same electronic step as DFT? Just like for hybrid functionals, we first do a SCF with PBE, then update EXX and run another SCF. I think with a similar treatment, it will be possible to do TDDFT right after DFT, using the function do_after_converge.

[2022-08-17 04:00] wenfei-li commented on #1171
ok got it

[2022-08-17 04:00] #1171 closed, assigned to wenfei-li, lyb9812

[2022-08-20 03:50] Qianruipku opened #1181 "Fault when number of cores are larger than z fft grids."
### Describe the bug

[Htest.tar.gz](https://github.com/deepmodeling/abacus-develop/files/9386200/Htest.tar.gz)
if we use mpirun -np 16 abacus, error occurs:
![image](https://user-images.githubusercontent.com/76200646/185727795-2b514301-f1cf-4df2-b8d3-ff3802ce4d46.png)
However previous commit 7b86acbeb842e4dc52f8d03f5f573bfe3541b406 is OK:
![image](https://user-images.githubusercontent.com/7620064

[2022-08-20 03:51] Qianruipku commented on #1181
Two things we need to do:
1. fix it
2. add integral tests.

[2022-08-20 03:54] Qianruipku commented on #1181
@dyzheng
veff_pw.cpp
![image](https://user-images.githubusercontent.com/76200646/185727892-6b48b85f-2eb0-4324-8b72-81abe79cfee0.png)
segmental  fault comes from it
this->veff[0](current_spin, 0).c= null;
double* current_veff = &(this->veff[0](current_spin, 0).c[0])
Besides it, probably, there are some other problems.

[2022-08-20 06:36] dyzheng commented on #1181
Thanks for your report, I will solve it.

[2022-08-20 06:48] Qianruipku commented on #1181
Besides, we have these problems when running Autotest.sh with 36 cores:
![image](https://user-images.githubusercontent.com/76200646/185732939-6fcd7225-db12-4ec3-a7cf-da5f46fb54a5.png)
Problems in SDFT can be ignored since random numbers are different.

[2022-08-20 06:53] Qianruipku opened #1182 "Screen output of Autotest.sh should be adjusted."
### Describe the bug

If some tests failed, the screen output of
![image](https://user-images.githubusercontent.com/76200646/185733073-aa3b9c9e-7c91-47d8-8874-de45b56562d8.png)
is so close.

### Expected behavior

_No response_

### To Reproduce

_No response_

### Environment

_No response_

### Additional Context

_No response_

[2022-08-24 11:28] #1181 closed, assigned to dyzheng, Qianruipku

[2022-08-27 12:49] dyzheng opened #1191 "Feature lists in docs should be updated"
### Describe Current Status and Possible Solution

- [ ] Feature of Implicit Solvation model method is lack in documentation
- [ ] Feature of Stochastic PW has improved some functions, such as DOS, which are lack in documentation
- [ ] Feature of SOC is lack in documentation
- [ ] Feature of DFT+U is lack in documentation

### Additional Context

_No response_

[2022-08-29 08:21] caic99 commented on #1191
Hi @dyzheng ,
Would you assign corresponding code owner for each term?
Thanks.

[2022-08-30 05:40] wenfei-li commented on #293
It seems this issue has been resolved, therefore it will be closed

[2022-08-30 05:40] #293 closed, assigned to mohanchen

[2022-09-02 10:54] lyb9812 opened #1197 "memory leak in tddft case"
### Describe the bug

For a large system (64Si+Au), the program break off after running 5400 steps. (It needs to take about three days for 16 cores)

### Expected behavior

_No response_

### To Reproduce

Run the case in attachment.

### Environment

Ubuntu 20.04.1 OneAPI 2021.3.0

### Additional Context

[64SiAu.tar.gz](https://github.com/deepmodeling/abacus-develop/files/9477233/64SiAu.tar.gz)

[2022-09-02 11:55] Chentao168 opened #1198 "SCF gets stuck in some parallel schemes"
### Describe the bug

Each node has 96 cores in Beijing Super Cloud Computing Center.
If I use 1 node 90 cores or 2 nodes 192 cores, it will work fine; but if I use 2 nodes 120 cores it will get stuck.

### Expected behavior

_No response_

### To Reproduce

The source code: ABACUS v2.3.4
My calculation case: [25wk12.46-bug.zip](https://github.com/deepmodeling/abacus-develop/files/9477634/25wk12.4

[2022-09-05 02:30] caic99 opened #1199 "Memory leak in surchem module"
See https://deepmodeling.com/abacus-develop/#test-case-117_pw_comp_h2o .

[2022-09-05 03:41] #1199 closed, assigned to ouqi0711

[2022-09-05 04:01] pxlxingliang commented on #489
The interface between ABACUS and DPGEN is already be added in the lasted DPGEN. We have tested the most commonly used functions `init_bulk`, `run` and `autotest`, and all of them are worked well.
We have trained the DP potential of Al by DPGEN+ABACUS (both PW and LCAO basis), and the results of DP-test are acceptable and the calculated properties (such as lattice parameter, EOS) by this DP potenti

[2022-09-05 04:01] #489 closed, assigned to mohanchen, Liu-RX

[2022-09-05 09:19] wenfei-li commented on #207
We are planning to do this later during the refactor of ucell class.

[2022-09-05 09:23] wenfei-li commented on #491
This is not a bug. It is necessary when there are too many degeneracies. If we are not satisfied with the treatment, we can increase starting guess of degeneracy from 12 to something larger. But this issue will be closed.

[2022-09-05 09:23] #491 closed, assigned to wenfei-li

[2022-09-05 09:25] wenfei-li commented on #492
Seems we are not in urgent need to try this.

[2022-09-05 09:30] wenfei-li commented on #513
seems easy to do, will work on it

[2022-09-05 09:33] wenfei-li commented on #1191
check #514 for more

[2022-09-05 09:33] wenfei-li commented on #514
will be merged with a latest issue #1191

[2022-09-05 09:33] #514 closed, assigned to mohanchen, dyzheng

[2022-09-05 09:46] wenfei-li commented on #1162
this issue has been solved. it is related to pw_seed

[2022-09-05 09:46] #1162 closed, assigned to dyzheng

[2022-09-05 09:50] wenfei-li commented on #1061
whether to adopt this suggestion will be left to the one doing refactor work. this issue will be marked later

[2022-09-05 09:51] wenfei-li commented on #883
we will consider this during the refactor of ucell class

[2022-09-05 12:14] Mancn-Xu opened #1203 "ABACUS Pseudopotentials Websites Not Found"
### Details

[abacus-develop/features.md at develop · deepmodeling/abacus-develop](https://github.com/deepmodeling/abacus-develop/blob/develop/docs/features.md#pseudopotentials)

When I click the URL(http://abacus.ustc.edu.cn/pseudo.html),  the page returns “Not Found”

[2022-09-05 12:18] Mancn-Xu commented on #1203
I found what I was looking for in this URL(http://abacus.ustc.edu.cn/pseudo/list.htm) and hope you can update the docs~

[2022-09-06 04:08] #1182 closed, assigned to caic99

[2022-09-06 05:05] #405 closed, assigned to dyzheng

[2022-09-06 05:10] #1203 closed, assigned to caic99

[2022-09-06 05:14] caic99 commented on #1132
Fixed by #1192.

[2022-09-06 05:14] #1132 closed, assigned to pxlxingliang

[2022-09-06 05:16] caic99 commented on #637
Fixed by #1065.

[2022-09-06 05:16] #637 closed, assigned to caic99

[2022-09-06 05:49] caic99 commented on #1043
This issue might related to the inappropriate linking of MKL, and @baixiaokuang is investigating on it.

[2022-09-06 06:06] dyzheng opened #1207 "Sometimes extremely slow in LCAO base code using intel-OneAPI with cmake compiling method"
### Details

Sometimes "cmake --build build" with tiny updates and not delete old "build" directory would cause extremely slow in LCAO base test cases, such as tests/integrate/220_NO_KP_MD_NVE .
During my tests, I found that delete "build" directory and rebuild by cmake can solve this problem(in figure below, yellow is rebuild results, and orange is problematic results)
![image](https://user-image

[2022-09-06 06:08] caic99 commented on #1207
Hi @dyzheng ,
Could you provide an example of "tiny updates"?

[2022-09-06 06:19] dyzheng commented on #1207
To be honest, I can't repeat this problem on purpose. But I often find this problem when I reopen my working container in the morning of a workday, and commit some tiny updates then want to test code performance.
This issue's purpose is to record this situation and solutions.

[2022-09-06 06:23] dyzheng commented on #1198
1. Please check your STRU, atoms is too close with others.

[2022-09-06 06:28] dyzheng commented on #1198
2. I found the spending time in 90 cores is smaller than which in 192 cores, it is not reasonable. you can do a simple test that "2 nodes, one of them use 90 cores, another use 1 core", compare it with 90 cores result.

[2022-09-06 06:31] dyzheng commented on #1198
Firstly, do you convert STRU from POSCAR? STRU for ABACUS has units Bohr but POSCAR for VASP use units Angstrom.@Chentao168

[2022-09-06 06:36] caic99 commented on #1207
Hi @dyzheng ,
I noticed that you are performing tests in a container, and I doubt this issue is related to other processes occupying CPU resources. For the next time this situation happens, would you check the utilization of other containers(if any) and system overhead.

[2022-09-06 06:44] #732 closed, assigned to baixiaokuang, caic99

[2022-09-06 06:47] dyzheng commented on #1207
Thank for your remind, but I ensure this is not the reason for this problem. The node of the container is exclusive.

[2022-09-06 06:49] caic99 commented on #1207
@dyzheng Have you checked system overhead?

[2022-09-07 08:07] Chentao168 opened #1209 "Temperature-dependent XC-functionals are needed"
### Background

To describe warm dense matter, we need to use temperature-dependent XC-functionals.

### Describe the solution you'd like

Use libxc in https://www.tddft.org/programs/libxc/functionals/ id=318 and 259.

### Additional Context

_No response_

[2022-09-07 08:52] Mancn-Xu opened #1210 "A warning about parallel computing in the use of ABACUS-DeePKS"
### Details

When I ran the deepks-abacus example: [deepks-kit/examples/water_single_lda2pbe_abacus at abacus · deepmodeling/deepks-kit](https://github.com/deepmodeling/deepks-kit/tree/abacus/examples/water_single_lda2pbe_abacus)

I found that if I set the **cpus_per_task > NBANDS ** auto-set by ABACUS, ABACUS throws the following messages:

---
 AUTO_SET ks_solver to genelpa
 AUTO_SET lcao_ecut t

[2022-09-07 09:55] Chentao168 opened #1211 "NVT-rescaling is needed"
### Background

To describe warm dense matter, we need to use NVT-rescaling to run MD.

### Describe the solution you'd like

MD implements the NVT-rescaling algorithm.

### Additional Context

_No response_

[2022-09-08 07:30] Fadelis98 opened #1216 "link error when build with cmake"
### Describe the bug

follow the install guide, when cmake --build error occurs:

![image](https://user-images.githubusercontent.com/43640976/189059235-dbd36091-aaed-4d84-9b86-cd0cc806e666.png)

### Expected behavior

_No response_

### To Reproduce

use the latest release of abacus and use cmake to configure it

### Environment

OS: CenOS7
compiler:　GNU C++14 (GCC) version 9.3.1 20200408 (Red Hat

[2022-09-08 07:49] caic99 commented on #1216
Hi @Fadelis98 ,
If you are using Intel oneAPI toolkit with MKL, it is suggested to use Intel C++ compilers and Intel MPI as well.

[2022-09-08 08:07] Fadelis98 commented on #1216
it works now, thanks!
By the way, after i successfully installed, can I remove the source code dir now?

[2022-09-08 08:15] #513 closed, assigned to wenfei-li

[2022-09-08 08:18] wenfei-li commented on #1209
The way to do this is by setting dft_functional keyword in INPUT to LDA_XC_CORRKSDT+LDA_XC_KSDT. Please let me know if that works for you.

[2022-09-08 08:35] caic99 commented on #1216
Anytime!

Sure. You can keep the executable and remove source codes. And don't forget to use the `mpirun` from Intel MPI.

[2022-09-08 08:36] #1216 closed, assigned to dyzheng

[2022-09-08 09:00] #1042 closed, assigned to caic99

[2022-09-08 09:00] #798 closed, assigned to dyzheng

[2022-09-08 10:05] wenfei-li commented on #916
the new nonlocal part now supports such calculations. we should find a time to implement this

[2022-09-08 13:13] wenfei-li commented on #1209
Please also check out the description of 'dft_functional' INPUT parameter in our online documentation: https://github.com/deepmodeling/abacus-develop/blob/develop/docs/input-main.md#dft_functional

[2022-09-08 13:45] jinxin68 opened #1218 "Phonopy interface related issues"
### Describe the bug

The length unit of abacus is inconsistent with that of phonopy, resulting in a factor difference in frequency calculation

### Expected behavior

_No response_

### To Reproduce

_No response_

### Environment

_No response_

### Additional Context

_No response_

[2022-09-08 14:36] #1218 closed, assigned to dyzheng

[2022-09-09 04:58] #1209 closed, assigned to mohanchen

[2022-09-09 07:46] #1210 closed, assigned to ouqi0711, caic99

[2022-09-09 08:31] Fadelis98 opened #1220 "error when building with USE_CUSOLVER_LCAO"
### Describe the bug

I use intel oneapi toolchain(including compliers ,mpi and MKL) to build abacus, and the gcc version on the server is 9.3.

I've successfully compiled and run abacus with USE_CUDA enabled and with no gpu support respectively, but failed to build with USE_CUSOLVER_LCAO

![image](https://user-images.githubusercontent.com/43640976/189306805-29ec8c37-268b-4ff0-aa69-fc4a3f762afa.pn

[2022-09-09 10:14] Mancn-Xu opened #1222 "ABACUS gets stuck when the number of atoms differs from the number of coordinates in the STRU"
### Describe the bug

It can be reproduced by deleteing the line in italics.
The STRU comes from [abacus-develop/examples/H2O-deepks-pw at develop · deepmodeling/abacus-develop](https://github.com/deepmodeling/abacus-develop/tree/develop/examples/H2O-deepks-pw).

---
ATOMIC_SPECIES
H 1.008 H_ONCV_PBE-1.0.upf
O 15.9994 O_ONCV_PBE-1.0.upf

NUMERICAL_ORBITAL
H_gga_6au_60Ry_2s1p.orb
O_gga_6au_60Ry_2s2

[2022-09-10 04:29] caic99 commented on #1220
Hi @Fadelis98 ,
GPU support is currently not available since we are facilitating the process of refactoring. This feature will be added back as soon as the compatibility with the refactored framework is made.

[2022-09-13 12:27] caic99 commented on #1220
Duplicated: #737

[2022-09-13 12:27] #1220 closed, assigned to dyzheng

[2022-09-14 03:27] pxlxingliang opened #1229 "Some INPUT parameters are missing in docs/input-main.md"
### Describe Current Status and Possible Solution

Below INPUT parameters are missing in the docs/input-main.md:

bx, by, bz, comp_center, comp_chg, comp_dim, comp_l, comp_q, deepks_bandgap, deepks_out_unittest, dft_plus_dmft, dftu_type, diago_cg_prec, double_counting, force_thr_ev2, lspinorb, noncolin, smearing_sigma_temp, soc_lambda, symmetry_prec, td_val_elec_01, td_val_elec_02, td_val_elec_03,

[2022-09-14 05:52] pxlxingliang opened #1231 "some INPUT parameters are missing in OUT.XXX/INPUT"
### Describe Current Status and Possible Solution

Below INPUT parameters are missing in OUT.XXX/INPUT:

out_element_info, dftu_type, out_freq_elec, dft_plus_dmft, test_just_neighbor, printe, dft_plus_u, yukawa_lambda, mem_saver, yukawa_potential, diago_proc, nbspline, test_skip_ewald, wannier_card, gamma_only, smearing_sigma_temp, pw_seed, hubbard_u, hund_j, restart_mode, pw_diag_thr, double_coun

[2022-09-15 02:25] hongriTianqi opened #1235 "nscf calculation starting from wavefunction (LCAO) only not supported yet"
### Describe the bug

Current Status:
Given wfc file, but no chg file, nscf calculation in lcao will start from atomic charge density. The final eigen energies are wrong due to wrong Hamiltonian.

### Expected behavior

Given wfc file and occupation, if the sum of all occupation equals total number of electrons, calculate rho from wfc, and then perform nscf.

### To Reproduce

_No response_

### E

[2022-09-15 03:50] #1222 closed, assigned to dyzheng

[2022-09-15 05:53] Fadelis98 opened #1237 "extra outputs for each frame in md calculation"
### Background

The latest version of abacus support saving the H matrix and S matrix in scf calculation. However, if we set out_mat_hs2=1 when running a md, because it always write the information to the same path in the same name, the file is override in each md step rather than save the H/S matrix of each frame, which is not expected.

### Describe the solution you'd like

when running a md, sa

[2022-09-15 17:01] maki49 opened #1242 "`mult_psi_DMR wrong` at 8-bohr lattice constant with self-generated 12a.u.-orbitals"
### Describe the bug

When using the self-generated 12-a.u.-rcut orbitals to draw the energy curve of diamond,
an interesting bug occurs **only when lattice_constant is 8 bohr** :
( I've tested the lattice constant from 5 to 9 with a step of 0.2 (bohr), there's no problem at other length than 8 bohr)
[code]

### Expected behavior

_No response_

### To Reproduce

Unzip this file and run ABACUS wit

[2022-09-16 04:57] caic99 commented on #1141
@pxlxingliang Would you check the status of this issue?

[2022-09-16 04:58] caic99 commented on #1087
@dyzheng SOC example
@wenfei-li DFT+U
Thanks!

[2022-09-16 06:19] pxlxingliang commented on #1141
Except for 'md_t', links of other keywords are worked.
'md_t' is deleted in #1230

[2022-09-16 07:38] caic99 commented on #1141
Fixed by #1230.

[2022-09-16 07:38] #1141 closed, assigned to dyzheng

[2022-09-16 07:45] #1231 closed, assigned to caic99

[2022-09-16 08:48] #555 closed, assigned to mohanchen, dyzheng

[2022-09-16 12:02] #1242 closed, assigned to wenfei-li

[2022-09-19 06:21] pxlxingliang commented on #1229
Below keywords are actually not used by ABACUS:
diago_cg_prec,  relax,

[2022-09-19 09:58] pxlxingliang commented on #1229
bx, by, bz, force_thr_ev2, smearing_sigma_temp, symmetry_prec have beed added in #1256

[2022-09-19 11:09] YuLiu98 opened #1257 "Segfault in gamma_only LCAO calculation when out_mat_hs2==1"
### Describe the bug

There is a segfault in gamma_only LCAO calculation when out_mat_hs2==1.

### Expected behavior

_No response_

### To Reproduce

_No response_

### Environment

_No response_

### Additional Context

_No response_

[2022-09-20 04:25] wenfei-li commented on #1257
If I understand it correctly, there will be no hs2 for gamma only calculations, since it outputs H(R) and S(R) in the sparse matrix format, which is irrelevant for gamma only calculations.

[2022-09-20 07:14] YuLiu98 commented on #1257
Yes, you are right. But in this case, abacus should provide users with some detailed information and exit normally, instead of exiting with a segfault.

[2022-09-20 08:32] Fadelis98 opened #1261 "The orbital index of HSR matrix"
### Details

Hello, I'm trying to use the HSR matrix in my work, but I didn't find some document that explained the out put files`*.csr` files.

Now I guessed out that each four lines expressed a single H(R) where the 3 int numbers in the first line represents R and the last number is the non-zero elements of the matrix.

However the order of orbitals, i.e. which line/cloumn represents which orbit

[2022-09-20 08:40] wenfei-li commented on #1257
I agree. Let me update the code.

[2022-09-21 13:11] wenfei-li commented on #1237
Hi, just to make sure, it seems you are using ABACUS for DeepH training, so it would be more convenient for you if we write the files with the same name, but put in different directories. Is that the case?

[2022-09-22 03:42] ZhouXY-PKU opened #1276 "No output of STRU_ION_D and STRU_ION#_D for only-cell-relaxed cell-relax calculation"
### Describe the bug

There are no output of ```STRU_ION_D``` file while setting direct coordinates of all atoms freezed in input-```STRU``` file in cell-relax calculation even if ```out_stru``` is set to be 1, though cell is surely relaxed according to ```running_cell-relax.log ```.

It may be because of output of ```STRU_ION_D ``` file is only included in ```Ions_Move_Methods``` (IMM) in ```modu

[2022-09-22 03:56] dyzheng commented on #1276
Thanks for your report! Output of structures during cell-relax is definitly necessary, I will try to fix it.

[2022-09-22 07:59] pxlxingliang opened #1281 "ABACUS can not read the pseudo type of "UPF version="2.1.2""
### Describe the bug

In the example examples/soc/pw_GaAs, the pseudopotential file 'As_ONCV_PBE-1.1.upf' is used, and the UPF version is 2.1.2.

When I running the example, ABACUS throw the error:
 !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
                         NOTICE
 !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!

 Pseudopotential data do not match.
 CHECK IN FILE

[2022-09-22 08:03] dyzheng commented on #1281
@sunliang98 please check updates in #1247

[2022-09-22 09:20] sunliang98 commented on #1281
ABACUS supports the pseudopotential in  `upf`, `upf201`, `vwr`, and `blps` format, not including 'UPF 2.1.2'.
The 'As_ONCV_PBE-1.1.upf' is in the same format of 'UPF 2.0.1', so that modify `<UPF version="2.1.2">` to `<UPF version="2.0.1">` can solve the problem.
And I don't find anything about pseudopotential in 'UPF 2.1.2' format on either the website of QE or sg15 library, considering the format

[2022-09-23 06:17] wenfei-li opened #1291 "Documentation Update"
### Background

To prepare for the upcoming release of v3.0, we are now updating our documentation. The documentations on the following three features need to be updated, and we have left spaces for them:
molecular dynamics @YuLiu98 - https://github.com/deepmodeling/abacus-develop/blob/develop/docs/advanced/md.md
stochastic DFT @Qianruipku  - in the stochastic DFT session in https://github.com/dee

[2022-09-23 06:55] wenfei-li commented on #1291
Wannier90 interface also needs to be updated @jingan

[2022-09-23 07:04] pxlxingliang commented on #1281
YES, maybe it is just a mistake

[2022-09-23 07:04] #1281 closed, assigned to dyzheng

[2022-09-23 07:13] #1237 closed, assigned to mohanchen, YuLiu98

[2022-09-26 03:17] #1276 closed, assigned to dyzheng

[2022-09-26 05:47] wenfei-li opened #1311 "it seems pulay-kerker mixing is not supported anymore"
### Describe the bug
When setting mixing_type to pulay_kerker, the same interface as pulay is called:

[code]

And in charge_pulay.cpp, I noticed the following change:
[code]
It seems that plain mixing replaced kerker mixing here.

### Expected behavior

_No response_

### To Reproduce

_No response_

### Environment

_No response_

### Additional Context

_No response_

[2022-09-26 06:19] wenfei-li commented on #1311
I see what's happening. there is another copy of kerker pre-conditioning in 'plain' mixing ..

[2022-09-26 06:19] #1311 closed, assigned to dyzheng

[2022-09-27 02:29] ZhouXY-PKU commented on #1276
Thank you very much! There are still some problems when out_stru is not set to be 1, but can be solved by referring to the output way in ions_move_methods.cpp.

[2022-09-27 12:02] #1291 closed, assigned to mohanchen

[2022-09-27 12:04] #1257 closed, assigned to dyzheng

[2022-09-27 12:14] wenfei-li commented on #1229
it seems comp_center, comp_chg, comp_dim, comp_l, comp_q are not used anymore ?

[2022-09-27 12:28] pxlxingliang commented on #1229
Oh, these parameters may have been removed few days ago.

[2022-09-28 05:16] dyzheng opened #1339 "INPUT file in OUT.ABACUS can not be used for new ABACUS's INPUT"
### Describe the bug

In any tests/integral/case:
[code]
The screen output would be :
[code]

### Expected behavior

_No response_

### To Reproduce

_No response_

### Environment

_No response_

### Additional Context

_No response_

[2022-09-28 05:31] #1339 closed, assigned to dyzheng, pxlxingliang

[2022-09-28 05:31] #1229 closed, assigned to wenfei-li, dyzheng, caic99

[2022-09-28 05:53] #1191 closed, assigned to caic99

[2022-09-28 08:59] #1087 closed, assigned to dyzheng

[2022-10-07 10:15] lucasem1 opened #1372 "Abacus Installation from source with Intel"
### Details

Dear Developers
I am trying to install ABACUS 3.0.0 by using the intel mpi compilers. I tested both 2018 and 2020 with the GCC10.3 support.
The installation fails in the linking step:
What am doing wrong?
Hereafter, there is a part of what I get on the screen at the end of the compilation.

---------------------------------------------------------------------
[ 99%] Linking CXX execut

[2022-10-07 10:49] caic99 commented on #1372
Hi @lucasem1 ,
How did you compile ELPA? You should use the same tool chain (i.e. OneAPI) for ELPA with ABACUS.

[2022-10-07 11:24] Liu-RX opened #1373 "Relaxation on lattice constants"
### Describe Current Status and Possible Solution

ABACUS has two kinds of relaxation for now, `relax` and `cell-relax`. For `relax`, atomic positions are relaxed. For `cell-relax`, both atomic positions and cell vectors are relaxed.
Usually, in search of the lattice constants of a certain crystal, we have to choose `cell-relax` to enable change on cell parameters. But it seems that `cell-relax` d

[2022-10-07 12:43] lucasem1 commented on #1372
Hi caic99

here there is the head of my config.log for the elpa :

../configure --prefix=/LIBS/INTEL_2020/install/elpa-2021.05.002 FCFLAGS=-O3 -xCORE-AVX512 CFLAGS=-O3 -xCORE-AVX512 --enable-option-checking=fatal SCALAPACK_LDFLAGS=-L/exe_kosmos/intel/compilers_and_libraries_2020.2.254/linux/mkl/lib/intel64 -lmkl_scalapack_lp64 -lmkl_intel_lp64 -lmkl_sequential -lmkl_core -lmkl_blacs_intelmpi_lp64

[2022-10-07 13:05] caic99 commented on #1372
Hi @lucasem1 ,
Would you try `CC=mpiicc CXX=mpiicpc FC=mpiifort ../configure FCFLAGS="-mkl=cluster"`?
IMHO the ifort compiler seems to have extra support to mkl with `-mkl` flag, so we don't need to pass MKL as a ScaLAPACK implementation.
[Wiki](https://github.com/deepmodeling/abacus-develop/wiki/Building-and-Running-ABACUS#elpa) FYI. Installing ELPA is quite tricky; we are planning to make it opt

[2022-10-07 20:50] lucasem1 commented on #1372
Dear caic99

I did what you said without success. Do you have any other suggestions? The issues always appear in the linking.

[2022-10-08 01:20] caic99 commented on #1372
Hi @lucasem1 ,
Would you share your building command for ABACUS?

[2022-10-08 01:50] hongriTianqi commented on #1373
Have you tried to set `fixed_axes` in `INPUT`? For your specific example of BCC lattice, setting `fixed_axes` to `volume` might help.

[2022-10-08 02:18] caic99 commented on #1121
#1221 is a temporary fix; it will cause significant communication overhead. Fixing MKL linking issue should be the best solution.

My profiling result of P000_si16_pw with 32 processes:

- 22.15% hsolver::DiagoDavid::diag_zhegvx
- 21.52% Parallel_Common::bcast_complex_double
- 0.60% zhegvx_

[2022-10-08 02:23] hongriTianqi opened #1375 "Cell volume changes when `fixed_axes` is set to `volume`"
### Describe the bug

The explanation of `fixed_axes` = `volume` in the documentation is `volume : relaxation with fixed volume`. But the cell volume indeed changes in one trial.

### Expected behavior

The meaning of `volume` is different with QE: `the volume changes, keeping all angles fixed (i.e. only celldm(1) changes)`. So, what should `volume` really mean?

### To Reproduce

Just run the exa

[2022-10-08 03:36] pxlxingliang commented on #1121
The davidson method need do `cal_elem` and then do `diag_zhegvx`.
The `cal_elem` is to construct the HC/SC matrix, where the element is calculated by parallel and followed the MPI_REDUCE.
The `diag_zhegvx` is to dragonize the HC/SC matrix, and get the eigenvalues and eigenvectors.

The old version (before #1221 ) do the ALL TO ALL MPI_REDUCE in `cal_elem`, and each process do the `diag_zhegvx`. Bu

[2022-10-08 05:36] lucasem1 commented on #1372
export CC=mpiicc
export CXX=mpiicpc
export FC=mpiifort
cmake  -DCMAKE_INSTALL_PREFIX=/home/.../CODES/INTEL/INTEL_2020/ABACUS/abacus300\
       -DCEREAL_INCLUDE_DIR=/home/.../CODES/INTEL/INTEL_2020/ABACUS/cereal/include\
       -DELPA_LIBRARY=/home/.../LIB/INTEL_2020/install/elpa-2021.05.002/lib/libelpa.a\
       -DELPA_INCLUDE_DIR=/home/.../LIBS/INTEL_2020/install/elpa-2021.05.002/include/elpa-202

[2022-10-08 05:47] wenfei-li commented on #1373
I checked QE. They use the parameter cell_dofree to control how cell relaxation is performed. If set to 'ibrav', then
'all axis and angles are moved, but the lattice remains consistent with the initial ibrav choice'.
I think we should consider implementing the same stuff in ABACUS.

As for your current problem, if the system is not too large, you might try explicitly drawing the curve of energy v.

[2022-10-08 06:37] caic99 commented on #1372
@lucasem1 Would you try replacing `-DELPA_LIBRARY=/home/.../LIB/INTEL_2020/install/elpa-2021.05.002/lib/libelpa.a` with `-DELPA_DIR=/home/.../LIB/INTEL_2020/install/elpa-2021.05.002/`?

[2022-10-08 09:02] lucasem1 commented on #1372
It gets stuck at the config stage:

-- The CXX compiler identification is Intel 19.1.2.20200623
-- Detecting CXX compiler ABI info
-- Detecting CXX compiler ABI info - done
-- Check for working CXX compiler: /exe_kosmos/intel/compilers_and_libraries_2020.2.254/linux/mpi/intel64/bin/mpiicpc - skipped
-- Detecting CXX compile features
-- Detecting CXX compile features - done
-- Found Cereal: /home/.

[2022-10-08 10:37] caic99 commented on #1372
@lucasem1
We didn't try to use static library `libelpa.a`. Would you replace it in your original script with `libelpa.so`?
Currently we are working on conda distribution. We will notify you as long as installing by conda is ready.

[2022-10-08 13:01] lucasem1 commented on #1372
Good....dynamic linking is ok.
Thank you for the advice. I hope you will continue keeping ELPA as the preferred library for diagonalization. I can confirm that when using it with Intel compilers and mkl one can get a huge speed-up.

Just another question. Is it possible to link abacus to the ELPA library compiled with the OPENMP support? (libelpa_openmp.so)

[2022-10-09 03:21] caic99 commented on #1372
@lucasem1
Feel free to reach us if you encountered further problems.

How's the speed up? I have been told that the latest version of MKL actually uses the algorithm of ELPA, yielding a consistent speed, but I have not tried it myself.

ELPA does not have CMake support, so we have to implement it ourselves. Please change this line indicating library name
https://github.com/deepmodeling/abacus-deve

[2022-10-09 06:57] pxlxingliang commented on #867
I have re-try the example in latest ABACUS (because of the refactor of HSOLVER, the unit test file is source/module_hsolver/test/diago_lcao_test.cpp), the problem is not occurred this time.
Besides, the H matrix is produced by random and is not for a real system, let's close this issue now, and if this problem occurs in other real system, we will try to study on that specific system.

[2022-10-09 06:57] #867 closed, assigned to dyzheng

[2022-10-09 09:33] lucasem1 commented on #1372
This is what I get from my tests on the P105_si512_lcao system on 64 Xeon procs:

SCALAPACK_GVX
ITER   ETOT(eV)       EDIFF(eV)      DRHO       TIME(s)
 GV1    -5.484310e+04  0.000000e+00   1.588e-01  8.266e+01
 GV2    -5.482309e+04  2.000490e+01   1.054e-01  6.376e+01
 GV3    -5.482686e+04  -3.768838e+00  8.453e-03  5.912e+01

GENELPA
ITER   ETOT(eV)       EDIFF(eV)      DRHO       TIME(s)
 GE1

[2022-10-09 09:55] caic99 commented on #1372
@lucasem1 Thank you for your sharing!

Is hyperthreading enabled on your platform? It may not further improve performance.

Yes, but maybe not so fast. Currently we are evaluating the workload and our scheduling.

@wenfei-li Could you take a look at this?

[2022-10-09 12:26] lucasem1 commented on #1372
Yes, hyperthreading is on (I got 10% speedup with SCALAPACK_GVX)

The link points to a web page containing many things. Could you please be a bit more precise about where I have to look?

[2022-10-10 06:45] wenfei-li commented on #1372
The unbalanced workload definitely affects the performance.

In grid integration, we parallelize the grid points along z axis, so if your system is not uniformly distributed along z axis, the workload will be unbalanced.

There is not easy fix for this problem, unless you want to rewrite the parallelization scheme for grid integration.

[2022-10-11 02:38] caic99 commented on #972
Unable to reproduce using latest code; closing.

[2022-10-11 02:38] #972 closed, assigned to baixiaokuang, dyzheng

[2022-10-11 02:54] caic99 commented on #886
Using `OMP_NUM_THREADS=4 mpirun -n 4 abacus`, I got the following result:
[code]

For `OMP_NUM_THREADS=1 mpirun -n 4 abacus`, TMAG & AMAG output is always 0.
@dyzheng Could you take a look at this?

[2022-10-11 03:00] caic99 commented on #1207
I'm not able to reproduce this bug, and it seems not to be so related to the code itself.
Closing this issue; @dyzheng For the next time it happens, make a copy of your executable and let's dig out the truth.

[2022-10-11 03:00] #1207 closed, assigned to caic99

[2022-10-11 05:25] hongriTianqi opened #1383 "Strange `LATTICE CONSTANT A` for a simple cubic cell"
### Describe the bug

The output of `LATTICE CONSANT A` is wrong for a simple cubic cell:
[code]

### Expected behavior

`LATTICE CONSTANT A` should equal to 10 Bohr in this case.

### To Reproduce

The `STRU` file:
[code]

The `INPUT` file:
[code]
The PP file can be downloaded online.

### Environment

_No response_

### Additional Context

_No response_

[2022-10-11 06:08] dyzheng commented on #886
In collinear spin calculation for LCAO base, initial magnetization should not be 0, which would cause Hamiltonian of spin-up and spin-down always be same. The convergent state is not the real fundamental state.
In this issue, OMP_NUM_THREADS>1 would introduce a little digital error in "Gint" procedure, which lead to real fundamental state.
I will fix this test case and add warnings in ABACUS.

[2022-10-11 09:30] hongriTianqi opened #1387 "symmetry: abacus cannot find fcc primitive cell from its conventional cell"
### Background

ABACUS now tells it's a `simple cubic cell` when meets a `face-centered cubic` cell.

### Describe the solution you'd like

ABACUS should know it's a `simple cubic cell` when meets a `face-centered cubic` cell.

### Additional Context

To reproduce:
The `STRU` file:
[code]
The `INPUT` file:
[code]

[2022-10-11 09:49] #1383 closed, assigned to dyzheng

[2022-10-12 07:06] caic99 opened #1388 "Memory leak in LCAO codes"
See https://deepmodeling.com/abacus-develop/#test-case-207_no_kp_od .

[code]

[2022-10-12 11:08] sunliang98 opened #1389 "Memory leak when using PBE XC of Libxc"
### Describe the bug

There is slow memory leak when PBE XC of Libxc is used.

### Expected behavior

_No response_

### To Reproduce

Run the attached KSDFT MD example,  and the memory usage will increase slowly.
[example.zip](https://github.com/deepmodeling/abacus-develop/files/9764264/example.zip)

### Environment

OS: Ubuntu 16.04
Complier: intel oneAPI 2021
Dependencies: intel MKL, Libxc-5.2.

[2022-10-12 15:44] dyzheng opened #1390 "Outputs of "data-HR-sparse_SPIN0.csr" with "dft_functional hse" are sometimes wrong in non-gamma_only cases"
### Describe the bug

[Uploading 3.0_graphene.zip…]()

### Expected behavior

Run ABACUS for this graphene case.
Run "OUT.ABACUS/elevel_gamma.py" and print same eigenvalues with first block in "OUT.ABACUS/istate.info"

### To Reproduce

Run ABACUS v3.0.0 can reproduce.

### Environment

_No response_

### Additional Context

_No response_

[2022-10-13 08:04] Qianruipku opened #1393 "PW version ABACUS should be compiled with CMake."
### Describe Current Status and Possible Solution

1. Modify CMakelist to compile PW version ABACUS
2. Serial version ABACUS should be added.
3. add workflow to build_test.yml

### Additional Context

_No response_

[2022-10-14 05:28] caic99 commented on #1389
@sunliang98 Can you analyze the leak status using address sanitizer?
Besides, what if not using PBE from libxc?

[2022-10-14 05:32] caic99 commented on #1387
@pxlxingliang Would you provide the codes that have been commented out?
@dyzheng Would you contact Pengfei Li with more details on it.

[2022-10-14 05:35] #1372 closed, assigned to caic99

[2022-10-14 07:40] pxlxingliang commented on #1387
It seems that function `pricell()` in symmetry.cpp is used to find the primitive lattice, but it is commented out now.
![image](https://user-images.githubusercontent.com/91927439/195790208-b5eae751-364c-4836-8026-b382415807f2.png)

@dyzheng Pls help check why this function is not used now?

[2022-10-14 08:24] Qianruipku commented on #1389
Only PBE of libxc has a problem.

[2022-10-14 08:24] Qianruipku commented on #1389
![image](https://user-images.githubusercontent.com/76200646/195799429-2ed5799e-99b2-477e-a7bf-d1c404c2522e.png)

[2022-10-14 08:26] Qianruipku commented on #1389
There are two possible reasons.
1. Wrong use of xc_func_init.
2. libxc has memory leaks.

[2022-10-14 08:33] Qianruipku commented on #1389
Besides, case 116_PW_scan_Si2 has the same memory leak.

[2022-10-15 08:29] #1389 closed, assigned to dyzheng

[2022-10-15 09:45] maki49 opened #1398 "Number of k-points in IBZ is not right when symmetry=0"
### Describe the bug

With 4\*4\*4 k-points set in KPT file and symmetry set to 0 in INPUT file, there should be 64 k-points in the irreducible brillouin zone (nks_ibz should be equal to nks_tot),  but now there are 36 k-points in IBZ.
![image](https://user-images.githubusercontent.com/33978601/195979888-af2fdb91-be4f-4fb1-b3b6-45eb36ba72d0.png)
![image](https://user-images.githubusercontent.com/3

[2022-10-15 09:55] maki49 opened #1399 "Some PW-CG diag parameters should be output to the users"
### Describe Current Status and Possible Solution

(Maybe “Documentation” tag should be added to this issue. )
In PW calculation with CG (both SCF and NSCF), users should know the values of these parameters to get the infomation about convergence in each step, but now they are not output neither on screen nor in OUT.suffix/running_(n)scf.log:
- pw_diag_thr
- avg_iter
- notconv

The first is an inp

[2022-10-15 15:40] caic99 commented on #1389
Would you check again after this fix? @sunliang98 @Qianruipku

[2022-10-15 16:02] scott-5 opened #1400 "Installation about building with deepks"
### Details

According [Advanced Installation Options](http://abacus.deepmodeling.com/en/latest/advanced/install.html), as it mention, I use libtorch with cxx11 ABI supporting CPU. But it goes wrong:
_abacus-develop/libtorch/lib/libtorch_cpu.so: undefined reference to 'powf@GLIBC_2.27'
abacus-develop/libtorch/lib/libtorch_cpu.so: undefined reference to 'expf@GLIBC_2.27'
abacus-develop/libtorch/lib

[2022-10-16 10:33] sunliang98 commented on #1389
There are no memory leaks in above case now.

[2022-10-16 10:36] caic99 commented on #1400
Hi @scott-5 ,

You might request help from the PyTorch community. Personally, I don't have much experience on it. Sorry about that.

It should matches with your cxx library version.

Thanks! We will submit a patch for the key, and refurbish documents regarding requirements.

[2022-10-16 12:25] Satinelamp commented on #921
Is there a web page for a collection of all post-processing tools for ABACUS?

[2022-10-17 05:17] #1398 closed, assigned to dyzheng

[2022-10-17 05:18] maki49 commented on #1398
I should set `symmetry` to -1 to completely close the symmetry.

[2022-10-17 07:09] Satinelamp opened #1402 "a mistake in the doc"
### Describe the bug

In the doc, it is said that  **There are only two choices now: 1 or 2, meaning non spin or collinear spin.**
 Here is the link:http://abacus.deepmodeling.com/en/latest/advanced/input_files/input-main.html#nspin

but there are some cases where the nspin would be set to 4.
Here is the link:http://abacus.deepmodeling.com/en/latest/advanced/input_files/input-main.html#out-mat-hs

[2022-10-17 09:51] dyzheng commented on #1402
Parameter "nspin" is often set to 1(non-polarized)  or 2(collinear polarized).
But for case of noncollinear polarized, nspin will be auto set to 4 but no need to specify in INPUT by users.
http://abacus.deepmodeling.com/en/latest/advanced/scf/spin.html#noncollinear-spin-polarized-calculations

[2022-10-17 10:23] Satinelamp commented on #1402
Maybe it is better to make it clear in the doc, so I create a pull request.

[2022-10-17 14:26] #1402 closed, assigned to dyzheng

[2022-10-18 04:07] dyzheng opened #1408 "Cmake conflict with Dockerfile.intel"
### Details

In ABACUS v3.0.0, when preparing environment by following Dockerfile.intel, Libxc is installed by "apt-get install libxc-dev".
But latest version of libxc-dev is 4.3.4, which is lower than minimun Libxc version demand of ABACUS v3.0.0 (5.1.7).
[code]

Another problem is "libnpy" is not include in Dockerfile.intel, it would be downloaded in "cmake -B" procedure.
[code]

[2022-10-18 05:29] #1408 closed, assigned to caic99

[2022-10-18 09:11] scott-5 commented on #1400
Thanks, I have solved it finally by compiling libtorch from sources on our machine.

[2022-10-18 13:26] caic99 commented on #1400
@scott-5 Good to hear that! Feel free to reach us if you have any questions.

[2022-10-18 13:26] #1400 closed, assigned to caic99

[2022-10-18 13:37] LiangWenshuo1118 opened #1409 "SFC calculation does not converge"
### Details

I'm doing SFC calculation using lcao basis for the hydrogen system. The calculation ended with information: CONVERGENCE HAS NOT BEEN ACHIEVED.  The input and output files are provided in the attachment.
[H.zip](https://github.com/deepmodeling/abacus-develop/files/9810961/H.zip)

[2022-10-18 13:50] #1409 closed, assigned to caic99

[2022-10-18 13:50] LiangWenshuo1118 commented on #1409
Wrong LATTICE_VECTORS

[2022-10-19 13:52] caohao001 opened #1413 "error on the parallel computing"
### Describe the bug

Dear developers,
The error (**psi_norm <= 0.0**) is occured when I followed the example P009_32H2O_pw(The INPUT file and STRU file are not changed). The 2018_intel_MPI + MKL is used to compile on the Centos system (HPC). The version of EPLA is 2021. The run command is: mpirun -np 12 abacus > log.  The log file is presented below.
Thanks.

ITER   ETOT(eV)       EDIFF(eV)

[2022-10-19 14:59] dyzheng commented on #1413
I have retested P009_32H2O_pw case in two machine with Intel-oneAPI.
One of them run normally, and another program exception interrupted.
It seems that stability of PW base is doubtful, and I will check that.

[2022-10-20 04:38] pxlxingliang opened #1418 "The information of bravais lattice and point group is incorrect"
### Describe the bug

For the below triclinic structure, the bravais lattice and point group judged by ABACUS is 'Monoclinic A (base-center)' and 'C_2h', and the right value should be 'Triclinic' and 'C_i' or 'S_2', which has been verified by VASP and SPGLIB.

![image](https://user-images.githubusercontent.com/91927439/196857620-1278688d-d758-45ca-a3de-aea4cc334a1d.png)

![image](https://user-imag

[2022-10-20 06:46] dyzheng opened #1420 "Misusing of GlobalC::hm in working code."
### Describe Current Status and Possible Solution

"GlobalC::hm" is a global class which is obsolete now.
When I try to delete this global class, I found that several code still used this class.

1. https://github.com/deepmodeling/abacus-develop/blob/develop/source/module_esolver/esolver_ks_pw.cpp#L88
[code]
@Qianruipku can you solve this code coupling?

2. https://github.com/deepmodeling/abacus-d

[2022-10-20 09:33] baixiaokuang opened #1421 "abacus_pw.exe link error without -o2"
### Describe the bug

![120221020-173022](https://user-images.githubusercontent.com/17631388/196912337-e32f3042-92ac-4f5a-be27-e50b3f574854.jpg)

### Expected behavior

_No response_

### To Reproduce

cmake -DBUILD_TESTING=1 -DCMAKE_BUILD_TYPE=Debug

### Environment

OS: Ubuntu 22.04
Compiler: gcc 11.2
Dependencies: OpenBLAS, ELPA

### Additional Context

_No response_

[2022-10-20 11:21] Liu-RX commented on #1413
I ran the case on Ubuntu 20.04 with ABACUS 3.0.0 compiled with intel-oneAPI 2021.3.0. The elpa version is also 2021. I tested serial run and mpirun with 2 and 4 cores, and did not came into the bug. It might be a bug with different version of compiler or operating system?

[2022-10-24 06:16] wenfei-li opened #1430 "The relationship between screen output and running*log is unclear"
### Describe Current Status and Possible Solution

In our screen output, there is a section which reads and contains information on how many atoms there are of each type:
![image](https://user-images.githubusercontent.com/38569667/197458357-34cca5e9-c7e1-42b5-a448-1f142c0b60ff.png)

However, such information is never presented in such tabulated form in running*log, but printed separately for each

[2022-10-24 07:41] mohanchen commented on #1430
You are correct. However, I am not sure whether it is practical to make the screen output as a subset of the running.log. I agree this should be done, but maybe the format has to be a little different.

[2022-10-24 07:43] mohanchen commented on #1420
FYI, Haozhi may be involved in the diagH_LAPACK part.

[2022-10-24 08:31] caic99 commented on #1421
Fixed by #1397 .

[2022-10-24 08:31] #1421 closed, assigned to dyzheng, caic99

[2022-10-24 08:33] caic99 commented on #1393
Fixed by #1397 .

[2022-10-24 08:33] #1393 closed, assigned to Qianruipku

[2022-10-26 03:08] sgyang345 opened #1442 "The convergence of structural relaxation is unstable!"
### Describe the bug

When the structure of more than 1000 atomic systems (containing more than three elements) is calculated, the initial electron steps can converge well, but then it is easy for the electron steps to not converge, resulting in the entire calculation not converging.

<img width="364" alt="QQ20221026-105515@2x" src="https://user-images.githubusercontent.com/68679106/197925264-a52d

[2022-10-26 06:51] wenfei-li opened #1443 "Do not use lowf.wfc_k anymore"
### Describe Current Status and Possible Solution

wfc_k in lowf which is used to store wavefunction in 2D block format has already been replaced by the new psi class. We should not use the old one anymore.
I'm trying to remove a few, but some occurences are still found in the TDDFT and Cusolver part:

[code]

[code]

### Additional Context

_No response_

[2022-10-29 02:31] #1443 closed, assigned to caic99

[2022-10-29 02:47] wenfei-li commented on #1442
This problem seems to be common for very large systems where the configuration space becomes very complicated. There is no general solution for such cases, but you might try a few things:

1. set the extrapolation method to be first order: http://abacus.deepmodeling.com/en/latest/advanced/input_files/input-main.html#chg-extrap
2. make the CG steps less aggressive by adjusting the parameter relax_b

[2022-10-30 08:56] mohanchen opened #1449 "A question about ABACUS+DeePKS documentation"
### Details

Could not find the documents about manually changing model.pth to model.ptg in ABACUS+DeePKS calculations.

[2022-11-01 07:17] ouqi0711 commented on #1449
Thanks for pointing this out! This part is indeed missed in current DeePKS documentation. The quick answer is to run the following script:

[code]

This part has been added to the DeePKS documentation. See https://deepks-kit.readthedocs.io/en/latest/important-outputs-explanation.html.

[2022-11-01 07:17] #1449 closed, assigned to ouqi0711, wenfei-li

[2022-11-01 08:28] Chentao168 opened #1460 "SCF does not converge in some parallel schemes"
### Describe the bug

Each node has 96 cores in Beijing Super Cloud Computing Center.
If I use 1 node 64 cores or 1 node 96 cores, it will work fine; but if I use 2 nodes 192 cores or 4 nodes 384 cores, it will not converge.

### Expected behavior

_No response_

### To Reproduce

The source code: ABACUS v3.0.1
My calculation case: abacus-3.0.1/abacus-develop-develop/tests/performance/P003_si128_p

[2022-11-01 08:47] Chentao168 commented on #1198
The STRU comes from MD simulations, so there will be atoms close to each other, which should not affect the results.

[2022-11-01 13:12] mohanchen opened #1462 "The wf_local.h and wf_local.cpp files need refactor."
### Details

I noticed that the two files: wf_local.h and wf_local.cpp in the directory of source/src_io need to be refactored. 1) no explanations in wf_local.h, 2) there are more than 800 lines in the wf_local.cpp file —— too long for a single source file. 3) The global variables need to be minimized and the interfaces of these functions in the files need to be clearly defined.

[2022-11-02 15:38] kianpu34593 opened #1471 "failed to build abacus"
### Details

Hi,

I'm having trouble building abacus. It seems like it's a problem from intel-mkl. Can someone help me?
Thank you very much.

Dependencies spec:
- GCC@9.5.0
- intel-mkl@2020.4.304
- openmpi@4.1.3
- elpa@2021.11.001
- cereal@1.3.2

Here are the log and err files from the build.
[log.log](https://github.com/deepmodeling/abacus-develop/files/9921909/log.log)
[err.log](https://github.c

[2022-11-02 21:52] kianpu34593 commented on #1471
As a follow-up, I tried to go around the intel-mkl issue with building blas, lapack, scalapack and fftw separately. Now the dependencies look like the following:
- GCC@11.2.0
- LaPACK@3.10.1
- ScaLAPACK@2.2.0
- FFTW@3.3.10
- cereal@1.3.2
- elpa@2021.11.001
- openmpi@4.1.3

From the err file listed below, the thing that made it stops was that openblas was not linked correctly. I was able to fix tha

[2022-11-02 23:49] kianpu34593 commented on #1471
As another follow-up, interestingly I disabled the build testing. `-DBUILD_TESTING=0`. Then it works until the very last step. 😢

The dependencies spec is the same as the above. And the cmake configure command is the following:
[code]
Here are the log and err files from the build:
[err.log](https://github.com/deepmodeling/abacus-develop/files/9924829/err.log)
[log.log](https://github.com/deepmodel

[2022-11-03 01:07] hellozhaoming commented on #1471
-Dxxxx_DIR in cmake is the installation path of xxxx. It usually contain subdir as bin, lib, include, share, and so on. -Dxxxx_INCLUDE_DIR is "installation path"/include. -Dxxxx_LIBRARY is "installation path"/lib or "installation path"/lib64. Check your CMAKE parameters.

[2022-11-03 02:00] caic99 commented on #1471
Hi @kianpu34593 ,
Thank you for trying ABACUS! Would you check [installation docs](https://abacus.deepmodeling.com/en/latest/quick_start/easy_install.html#configure) for more details on setting flags?

[2022-11-03 03:26] wenfei-li commented on #1375
in QE their variable is called cell_dofree which indicates the degrees of freedom that CAN change
in ABACUS we are using fixed_axes which indicates the degrees of freedome that CANNOT change
so "fixed_axes = volume" is "cell_dofree = shape"
and vice versa.

I'll look into the problem with our implementation of fixed-volume relaxation

[2022-11-04 05:40] kianpu34593 commented on #1471
Thank y'all for all your suggestions. I finally figure it out how to build it after more than 10 tries!!!
All the dependencies are built using spack. Currently, I manaully configure the library in cmake. But I believe this can also work with spack environment. (Which should make my $PATH variable not so clumsy). I will continue this path. Will update here in the future.....

But here is the cmake

[2022-11-04 05:40] #1471 closed, assigned to caic99

[2022-11-04 09:13] pxlxingliang opened #1473 "ABACUS need the feature to set the difference between number of electrons in up and down spin component"
### Background

In some calculations, we need to set the difference between number of electrons in up and down spin component, which is like "NUPDOWN" in VASP.

### Describe the solution you'd like

The difference of the number of electrons in the up and down spin component will be kept fixed to the specified value.

### Additional Context

no

[2022-11-08 04:14] Liu-RX opened #1482 "SCAN XC functional with plane wave basis is far too slower than pw.x"
### Describe Current Status and Possible Solution

I tested two systems, diamond and BaTiO3 with SCAN functional and pw basis, and found out that the speed of abacus is one to two orders of magnitude slower than QE. For diamond, each CG iteration in ABACUS takes 1~2 minutes while each CG in qe only takes less than 5 seconds. For BTO, similar thing happens as well.
The Follows are input parameters

[2022-11-08 06:24] #1442 closed, assigned to dyzheng

[2022-11-08 07:52] #1373 closed, assigned to wenfei-li

[2022-11-08 07:52] #1375 closed, assigned to wenfei-li

[2022-11-09 03:10] #1420 closed, assigned to dyzheng, haozhihan, Qianruipku

[2022-11-11 05:57] baixiaokuang opened #1499 "Memory allocation mechanism for parallel calculations should be improved"
### Discussed in https://github.com/deepmodeling/abacus-develop/discussions/989

<div type='discussions-op-text'>

<sup>Originally posted by **gawcista** June  4, 2022</sup>
## Background
I did several test for a large system (728 atoms) with lcao method. I used the same total number of cores (24/48/72) but different numbers of nodes for 3 set of tests.

Environment: NO openmpi; NO hyperthreading

[2022-11-11 06:07] wenfei-li commented on #1482
Turns out it is because in ABACUS, symmetry is off by default, which causes the number of k points used to be 10 times that of QE.

[2022-11-11 06:07] #1482 closed, assigned to wenfei-li, caic99

[2022-11-11 06:45] caic99 commented on #1482
@wenfei-li How about we set symmetry to on by default? @dyzheng @mohanchen What do you think?

[2022-11-14 07:01] wenfei-li opened #1506 "Should we remove update_input ?"
### Describe Current Status and Possible Solution

We have a 'update_input' class which presumably is used to update some parameters during a long MD run, without restarting the run. Is this a good practice?

### Additional Context

_No response_

[2022-11-15 09:04] #883 closed, assigned to caic99

[2022-11-15 09:08] haozhihan opened #1517 "In CG and Davidson processes, it is better to store data in column major."
### Background

In the source/module_base/lapack_connector.h file, there are a lot of non-standard code habits.

1. This violates the RAII rule of cpp.
[code]

2. The naming of `bux` is very non-standard
[code]

3. https://github.com/deepmodeling/abacus-develop/issues/672
[code]

### Describe the solution you'd like

If we change the way we store data to column-first in CG and Davidson processes,

[2022-11-18 06:46] caic99 commented on #1473
@dyzheng will take charge.

[2022-11-18 06:46] caic99 commented on #1506
@mohanchen thinks it's OK to remove it.

[2022-11-18 08:57] sunml99 opened #1534 "Error in relax calculation"
### Describe the bug

In the attached case, an error "Can't find even an electron!" occurs during the relaxation and the calculation is terminated
. It shows "charge before normalized = -nan" in warning.log.
![image](https://user-images.githubusercontent.com/91242172/202656900-0b61bb23-64a4-4955-93fd-fc367ea70f8a.png)
![image](https://user-images.githubusercontent.com/91242172/202657116-4d332d83-d

[2022-11-20 22:38] Satinelamp opened #1536 "using abacus to do COHP calculation"
### Background

Crystal Orbital Hamilton Populations (COHP) analysis is very useful to see the chemical bond in the periodic system, currently, we often use `VASP` and `Lobster` (http://www.cohp.de/) to calculate COHP. Basically, VASP could generate a file called `PROOUT` which contains the necessary information to calculate COHP, Lobster program could read and calculate COHP according to the data

[2022-11-24 13:31] wenfei-li commented on #1536
We welcome your contribution if you want to implement this feature. However, we have our own schedule of development and unfortunately COHP will not have any priority on our list.

[2022-11-24 14:19] wenfei-li opened #1552 "Sorting out src_external"
### Describe Current Status and Possible Solution

The module src_external contains many subroutines which are called in src_ri. They are not covered by any test. We should sort them out, remove the obsolete ones, and add tests for the others.

### Additional Context

We are adding test coverage as one metric now, these old and undocumented codes should be properly revised.

[2022-11-24 14:52] Satinelamp commented on #1536
Thanks a lot for the response. I get it the development team is focusing on AI-assisted electronic structure calculation, which is quite a fantastic area and interesting to explore. But the usual toolset for post-processing is also necessary for newbies to migrate from other software like VASP to ABACUS. I am waiting for Prof. He, Lixin from USTC to release his post-processing toolset, so maybe we

[2022-11-25 07:01] Alcanderian opened #1555 "Thread-safe GlobalC::GridD for multi-threading usage"
### Describe Current Status and Possible Solution

I am currently working on LCAO ForceStressIntegralPart OpenMP optimization.
And found there was a problem on GlobalC::GridD.Find_atom(https://github.com/deepmodeling/abacus-develop/blob/develop/source/src_lcao/FORCE_k.cpp#L700)

GlobalC::GridD is a global single instance. And its member function such as `Find_atom` and `get_adjs` will write result

[2022-11-25 13:58] dyzheng commented on #1555
In MPI parallel, orbitals(mu or nu) is paralleled but not ions(iat), https://github.com/deepmodeling/abacus-develop/blob/develop/source/src_lcao/FORCE_k.cpp#L806 .

Focus on GlobalC::GridD.Find_atom(), saving neighbor lists for each atom seems not a good idea, because of when system is large and number of atoms is too many, the memory cost for saving all neighbor lists looks unacceptable.
On the o

[2022-11-25 14:02] caic99 commented on #1555
@Alcanderian We think your proposal is good to carry on. It would be better if you can add unit tests for the modified functions.

[2022-11-29 03:17] caic99 commented on #1043
Hi @pxlxingliang ,
#1492 introduced a remarkable improvement on the parallel organism of grid interal module. Would you try again running these cases?

[2022-11-29 04:14] maki49 opened #1573 "Non-Convergence of 8-Si Case with 8*8*8 K-points"
### Describe the bug

This case converged with 4\*4\*4 k-points but not converged in 100 steps with 8\*8\*8 k-points. It seems strange.
[nonconv_8Si.zip](https://github.com/deepmodeling/abacus-develop/files/10109660/nonconv_8Si.zip)

### Expected behavior

_No response_

### To Reproduce

_No response_

### Environment

_No response_

### Additional Context

_No response_

[2022-11-29 04:49] pxlxingliang commented on #1043
The timing of cal_gint is indeed faster than previous version, but the ABACUS complied by intel is still much slower than that complied by gnu.

gnu:
<img width="643" alt="image" src="https://user-images.githubusercontent.com/91927439/204440935-1679f796-0e93-4601-972f-cd39b886a9da.png">

intel:
<img width="643" alt="image" src="https://user-images.githubusercontent.com/91927439/204441013-485857e1-

[2022-11-29 05:32] caic99 commented on #1043
@pxlxingliang I'm trying to reproduce this result. It cost 107s with gcc compiler, and 110s with Intel compiler. Please note that  "Release" build type should be used for a better performance. I think this difference is acceptable.

[2022-11-29 06:29] pxlxingliang commented on #1043
@caic99 I complied the ABACUS with command "cmake -B build && cmake --build build -j8", what does "Release" build mean? Should I set some additional compling options？

[2022-11-29 06:34] caic99 commented on #1043
@pxlxingliang Plz set `cmake -B build -DCMAKE_BUILD_TYPE=Release`. I will add docs on this option soon.

[2022-11-29 06:45] dyzheng commented on #1573
I recommand you to test k-sample from 2*2*2 to 10*10*10？
Please set with symmetry as "1", "-1", "0", respectively.
I have tested 10*10*10, 8*8*8, 6*6*6, the consequence is strange that different symmetry setting leads to different results and some of them can not get convergent.

[2022-11-29 06:45] dyzheng commented on #1573
I recommand you to test k-sample from 2*2*2 to 10*10*10？
Please set with symmetry as "1", "-1", "0", respectively.
I have tested 10*10*10, 8*8*8, 6*6*6, the consequence is strange that different symmetry setting leads to different results and some of them can not get convergent.

[2022-11-29 07:09] pxlxingliang commented on #1043
@caic99  I re-complied ABACUS by following your sugguestion, but it can not be faster, the job still takes 132s. Can you complie with GNU in your machine, and then run the job? I want to know how long it takes on your machine.

[2022-11-29 07:13] caic99 commented on #1043
@pxlxingliang here

[2022-11-29 07:36] pxlxingliang commented on #1043
@caic99 I complied with GNU and also set  "-DCMAKE_BUILD_TYPE=Release", but the time consuming for that job is 107s. It seems has no obvious difference. In your machine, how long will it take, if not set CMAKE_BUILD_TYPE?

[2022-11-29 07:57] caic99 commented on #1043
The difference between setting different build types is notable when using Intel compiler.

300 second.

[2022-11-29 09:17] pxlxingliang commented on #1043
@caic99 I can not reproduce the difference. Is the intel docker image updated recently? The docker image I used is a month ago.

[2022-11-29 09:29] caic99 commented on #1413
I can repeat this bug on `103_PW_15_CF_CS_S1_smallg`, using 4 OpenMP threads. ABACUS is compiled with gcc with `-O0` flag.

[2022-11-29 09:44] caic99 commented on #1043
@pxlxingliang You mean the build type cannot affect the computing time with Intel compiler?

No, the environemnt is consistent.